.common-bg-color {
  background-color: #ff4700;
}

.common-color {
  color: #f95911;
}

.border-common-color {
  border-color: #ff4700;
}

.common-bg {
  background: #eb6928;
}

.btn-common {
  background-color: #ff4700;
  border: #ff4700;
  font-size: 16px;
  font-weight: 700;
}

.btn-common:hover {
  background-color: #ad3302;
}

.max-w-96 {
  max-width: 24rem;
}

.common-background {
  background-color: #f95911;
}

@media (min-width: 1600px) {
  .lx-container {
    @apply mx-32;
  }
}

::ng-deep carousel {
  .carousel-control-next {
    right: -150px !important;
  }
  .carousel-control-prev {
    left: -150px !important;
  }
  @media screen and (max-width: 992px) {
    .carousel-control-next {
      display: none !important;
    }
    .carousel-control-prev {
      display: none !important;
    }
  }
}
