<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ nhận Làm Sổ Sách Kế Toán - Phí dịch vụ từ 2.500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ làm lại sổ sách kế toán tại 2KT sẽ thay bạn hoàn chỉnh sổ
        sách cuối năm. Chỉ từ 2.500.000 đồng - vừa rà soát, gỡ rối, dọn dẹp, vừa
        in sổ sách kế toán một cách chính xác nhất, đầy đủ nhất.
      </strong>
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a href="#Doi-tuong-nen-can-nhac-chon-dich-vu-lam-so-sach-ke-toan"
            >Đối tượng nên cân nhắc chọn dịch vụ làm sổ sách kế toán</a
          >
        </li>
        <li>
          <a href="#Phi-dich-vu-lam-lai-so-sach-ke-toan-tai-2KT"
            >Phí dịch vụ làm lại sổ sách kế toán tại 2KT</a
          >
        </li>
        <li>
          <a href="#Thoi-gian-hoan-thanh-dich-vu-lam-so-sach-ke-toan-cua-2KT"
            >Thời gian hoàn thành dịch vụ làm sổ sách kế toán của 2KT</a
          >
        </li>
        <li>
          <a
            href="#Thong-tin-ban-can-cung-cap-khi-su-dung-dich-vu-lam-so-sach-ke-toan"
            >Thông tin bạn cần cung cấp khi sử dụng dịch vụ làm sổ sách kế
            toán</a
          >
        </li>
        <li>
          <a
            href="#7-quyen-loi-cua-ban-khi-su-dung-dich-vu-lam-so-sach-ke-toan-tai-2KT"
            >7 quyền lợi của bạn khi sử dụng dịch vụ làm sổ sách kế toán tại
            2KT</a
          >
        </li>
        <li>
          <a href="#So-sach-ke-toan-la-gi?-So-sach-ke-toan-bao-gom-nhung-gi?"
            >Sổ sách kế toán là gì? Sổ sách kế toán bao gồm những gì?</a
          >
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Doi-tuong-nen-can-nhac-chon-dich-vu-lam-so-sach-ke-toan"
    >
      <strong>Đối tượng nên cân nhắc chọn dịch vụ làm sổ sách kế toán</strong>
    </h3>

    <p style="text-align: justify">
      Mỗi doanh nghiệp chỉ có 1 hệ thống sổ sách kế toán. Thông qua các loại sổ
      sách kế toán, doanh nghiệp có thể lập và trình bày
      <a href="#">báo cáo tài chính</a>
      bằng cách hạch toán các nghiệp vụ kinh tế phát sinh trong năm. Tùy theo
      từng chế độ kế toán sẽ quy định hệ thống sổ sách khác nhau.
    </p>

    <p style="text-align: justify">
      Đồng thời, để tránh bị xử phạt từ cơ quan thuế, sổ sách kế toán phải được
      thực hiện đúng quy định, cung cấp chính xác chi tiết số liệu, tình hình
      lãi lỗ từ hoạt động kinh doanh.&nbsp;
    </p>

    <p style="text-align: justify">
      Vậy nên, nếu doanh nghiệp thuộc 1 trong các trường hợp sau thì nên cân
      nhắc chọn dịch vụ làm sổ sách kế toán (hay còn gọi là dịch vụ rà soát sổ
      sách kế toán, dịch vụ dọn dẹp sổ sách kế toán hay dịch vụ gỡ rối sổ sách
      kế toán) tại 2KT.
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp chưa từng làm sổ sách kế toán;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp có sổ sách kế toán nhưng thiếu chính xác;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp sắp quyết toán thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp không có kế toán viên;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp có kế toán viên nhưng chưa có hoặc không đủ kinh nghiệm làm
        sổ sách kế toán;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp đã có sổ sách kế toán nhưng không chắc chắn về số liệu kế
        toán viên đã làm.
      </li>
    </ul>

    <h3 class="sub-title" id="Phi-dich-vu-lam-lai-so-sach-ke-toan-tai-2KT">
      <strong>Phí dịch vụ làm lại sổ sách kế toán tại 2KT</strong>
    </h3>

    <p style="text-align: justify">
      2KT nhận làm sổ sách kế toán cho công ty mới thành lập và tất cả các
      doanh nghiệp có nhu cầu sử dụng dịch vụ làm sổ sách kế toán.&nbsp;
    </p>

    <p style="text-align: justify">
      Hiện tại phí dịch vụ làm sổ sách kế toán/làm lại sổ sách kế toán được áp
      dụng trên phạm vi toàn quốc theo bảng dưới đây.&nbsp;
    </p>

    <p style="text-align: justify">
      <u>Lưu ý</u><u>:</u> Tùy theo chi tiết hồ sơ mà chi phí có thể thay đổi.
    </p>

    <div>
      <table
        cellspacing="0"
        class="bang-cam table-post-custom"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              colspan="2"
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><span style="font-size: 20px"
                    ><strong
                      ><strong>Nhóm ngành tư vấn dịch vụ</strong></strong
                    ></span
                  ></span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"></span>
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><strong>Số hóa đơn đầu vào, đầu ra trong 1 năm</strong></span
                >
              </p>
            </td>
            <td
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"></span>
              <p style="text-align: center">
                <span style="color: #ffffff"><strong>Phí dịch vụ</strong></span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Không có hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">2.500.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 25 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">5.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 45 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">7.500.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 65 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">9.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 85 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">10.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 115 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">11.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 135 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">13.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 155 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">14.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <strong>Từ 150 hóa đơn trở lên</strong>
              </p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <strong
                  >Liên hệ
                  <a href="tel:0969295848" rel="nofollow" target="_blank"
                    ><span style="color: #e5451b"></span
                    ><span style="color: #e5451b">0969295848</span
                    ><span style="color: #e5451b"></span
                  ></a>
                  để nhận báo giá</strong
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: center">&nbsp;</p>
    <div>
      <table
        cellspacing="0"
        class="bang-cam table-post-custom"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              colspan="3"
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><span style="font-size: 20px"
                    ><strong>Nhóm ngành thương mại</strong></span
                  ></span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"></span>
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><strong>Số hóa đơn&nbsp;</strong></span
                >
              </p>
            </td>
            <td
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"></span>
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><strong>Không có tờ khai hải quan</strong></span
                >
              </p>
            </td>
            <td
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"></span>
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><strong> Có tờ khai hải quan</strong></span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Không có hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">2.500.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">2.500.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 25 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">4.000.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">6.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 45 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">6.000.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">8.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 75 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">8.000.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">10.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 105 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">10.000.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">12.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 135 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">12.000.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">14.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 155 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">13.500.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">15.500.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 185 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">15.000.000 đồng</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">17.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <strong>Từ 180 hóa đơn trở lên</strong>
              </p>
            </td>
            <td
              colspan="2"
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <strong
                  >Liên hệ
                  <a href="tel:0969295848" rel="nofollow" target="_blank"
                    ><span style="color: #e5451b"></span
                    ><span style="color: #e5451b">0969295848</span
                    ><span style="color: #e5451b"></span
                  ></a>
                  để nhận báo giá</strong
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    &nbsp;

    <div>
      <table
        cellspacing="0"
        class="bang-cam table-post-custom"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              colspan="2"
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><span style="font-size: 20px"
                    ><strong
                      >Nhóm ngành thi công xây dựng - trang trí nội thất - sản
                      xuất - gia công - nhà hàng - lắp đặt</strong
                    ></span
                  ></span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"></span>
              <p style="text-align: center">
                <span style="color: #ffffff"
                  ><strong>Số hóa đơn đầu vào, đầu ra trong 1 năm</strong></span
                >
              </p>
            </td>
            <td
              style="
                background-color: #f97c26;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"></span>
              <p style="text-align: center">
                <span style="color: #ffffff"><strong>Phí dịch vụ</strong></span>
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Không có hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">2.500.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 15 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">5.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 25 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">8.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 45 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">12.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">Dưới 65 hóa đơn</p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">15.000.000 đồng</p>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <strong>Từ 60 hóa đơn trở lên</strong>
              </p>
            </td>
            <td
              style="
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: center">
                <strong
                  >Liên hệ&nbsp;<a
                    href="tel:0969295848"
                    rel="nofollow"
                    target="_blank"
                    ><span style="color: #e5451b"></span
                    ><span style="color: #e5451b">0969295848</span
                    ><span style="color: #e5451b"></span
                  ></a>
                  để nhận báo giá</strong
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: center">&nbsp;</p>

    <h3
      class="sub-title"
      id="Thoi-gian-hoan-thanh-dich-vu-lam-so-sach-ke-toan-cua-2KT"
    >
      <strong
        >Thời gian hoàn thành dịch vụ làm sổ sách kế toán của 2KT</strong
      >
    </h3>

    <p>
      Tùy vào số lượng chứng từ, hóa đơn của mỗi doanh nghiệp mà thời gian hoàn
      thành dịch vụ làm sổ sách kế toán, làm lại sổ sách kế toán sẽ khác nhau,
      chẳng hạn:
    </p>

    <ul>
      <li aria-level="1">
        Với những doanh nghiệp ít phát sinh hóa đơn,
        <span style="color: #2a4e9a"><strong>chỉ từ 2 ngày</strong></span> (tối
        đa 7 ngày), 2KT sẽ hoàn thành sổ sách kế toán;
      </li>
      <li aria-level="1">
        Với những doanh nghiệp phát sinh nhiều hóa đơn, chứng từ, thời gian hoàn
        thành sổ sách kế toán sẽ dao động từ 1 - 3 tháng.
      </li>
    </ul>

    <p>
      Khi chọn lựa dịch vụ làm sổ sách kế toán tại 2KT, bạn hoàn toàn có thể
      yên tâm. 2KT sẽ thay bạn hoàn thành sổ sách theo đúng quy định và chuẩn
      mực kế toán.&nbsp;
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        <strong>7 nội dung công việc 2KT thực hiện bao gồm:</strong>
      </p>

      <ol>
        <li aria-level="1" style="text-align: justify">
          Tiếp nhận toàn bộ hóa đơn, chứng từ liên quan của doanh nghiệp;
        </li>
        <li aria-level="1" style="text-align: justify">
          Kiểm tra, rà soát tính hợp lệ của các hóa đơn, chứng từ doanh nghiệp
          cung cấp;
        </li>
        <li aria-level="1" style="text-align: justify">
          Nhập liệu và đối chiếu với báo cáo thuế doanh nghiệp đã nộp;
        </li>
      </ol>

      <p style="margin-left: 48px; text-align: justify">
        <u>Lưu ý</u><u>:</u> Miễn phí tư vấn điều chỉnh báo cáo thuế mà doanh
        nghiệp đã nộp (nếu có sai sót).
      </p>

      <ol start="4">
        <li aria-level="1" style="text-align: justify">
          Tổng hợp số liệu, lên sổ sách kế toán, trình bày thực trạng hoạt động
          của doanh nghiệp và tư vấn phương pháp tối ưu cho doanh nghiệp;
        </li>
        <li aria-level="1" style="text-align: justify">
          Hoàn thiện sổ sách kế toán sau khi chốt số liệu với doanh nghiệp;
        </li>
        <li aria-level="1" style="text-align: justify">
          Kết xuất và in sổ sách kế toán;
        </li>
        <li aria-level="1" style="text-align: justify">
          Bàn giao sổ sách kế toán file mềm và file cứng tận nơi theo yêu cầu.
        </li>
      </ol>
    </div>

    <h3
      class="sub-title"
      id="Thong-tin-ban-can-cung-cap-khi-su-dung-dich-vu-lam-so-sach-ke-toan"
      style="text-align: justify"
    >
      <strong
        >Thông tin bạn cần cung cấp khi sử dụng dịch vụ làm sổ sách kế
        toán</strong
      >
    </h3>

    <div class="custom-quote">
      <p style="text-align: justify">
        7&nbsp; loại giấy tờ, tài liệu bạn cần cung cấp cho 2KT khi sử dụng
        dịch vụ làm sổ sách kế toán:
      </p>

      <ol>
        <li aria-level="1" style="text-align: justify">
          Hóa đơn GTGT đầu vào, đầu ra phát sinh trong năm cần thực hiện sổ sách
          kế toán;
        </li>
        <li aria-level="1" style="text-align: justify">
          Sao kê tài khoản ngân hàng của năm làm sổ sách kế toán;
        </li>
        <li aria-level="1" style="text-align: justify">
          Bảng lương, thông tin CMND của người lao động nếu công ty có chi trả
          lương cho lao động;
        </li>
        <li aria-level="1" style="text-align: justify">
          Thông tin đăng nhập vào trang khai thuế điện tử;
        </li>
        <li aria-level="1" style="text-align: justify">
          Đối với công ty sản xuất: cung cấp thông tin định mức sản phẩm;
        </li>
        <li aria-level="1" style="text-align: justify">
          Đối với công ty xây dựng: cung cấp bảng dự toán xây dựng hoặc thông
          tin vật tư xuất cho công trình xây dựng;
        </li>
        <li aria-level="1" style="text-align: justify">
          Số liệu sổ sách năm trước của năm cần làm sổ sách kế toán (nếu có).
        </li>
      </ol>
    </div>

    <h3
      class="sub-title"
      id="7-quyen-loi-cua-ban-khi-su-dung-dich-vu-lam-so-sach-ke-toan-tai-2KT"
    >
      <strong
        >7 quyền lợi của bạn khi sử dụng dịch vụ làm sổ sách kế toán tại
        2KT</strong
      >
    </h3>

    <p style="text-align: justify">
      Dịch vụ làm sổ sách kế toán hay làm lại sổ sách kế toán tại 2KT với 7 ưu
      điểm cũng như cam kết về quyền lợi cho khách hàng là một phần lý do để hơn
      3500 doanh nghiệp tin tưởng và chọn lựa 2KT.
    </p>

    <p style="text-align: justify">
      7 cam kết quyền lợi cho khách hàng như sau:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Cam kết bảo mật toàn bộ thông tin của doanh nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Miễn phí dịch vụ giao nhận tận nơi trong suốt quá trình thực hiện;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hoàn thành sổ sách kế toán theo đúng chuẩn mực kế toán;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tư vấn miễn phí và hướng dẫn giải quyết các vấn đề của doanh nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tư vấn phương pháp tối ưu chi phí được trừ khi tính thuế thu nhập doanh
        nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Miễn phí tư vấn điều chỉnh báo cáo thuế doanh nghiệp đã nộp (nếu cần);
      </li>
      <li aria-level="1" style="text-align: justify">
        Chịu trách nhiệm về sổ sách kế toán do 2KT thực hiện theo số liệu
        khách hàng cung cấp khi cơ quan thuế kiểm tra.
      </li>
    </ol>

    <h3
      class="sub-title"
      id="So-sach-ke-toan-la-gi?-So-sach-ke-toan-bao-gom-nhung-gi?"
      style="text-align: justify"
    >
      <strong>Sổ sách kế toán là gì? Sổ sách kế toán bao gồm những gì?</strong>
    </h3>

    <p style="text-align: justify">
      Sổ sách kế toán dùng để ghi nhận các chứng từ, số liệu phát sinh một cách
      có hệ thống trong suốt thời gian doanh nghiệp hoạt động. Thông qua sổ sách
      kế toán, doanh nghiệp có thể tổng hợp và lập báo cáo cho các cơ quan chức
      năng. Đồng thời, sổ sách kế toán cũng là cơ sở để cơ quan thuế kiểm tra,
      thanh tra sau khi doanh nghiệp nộp báo cáo.
    </p>

    <p style="text-align: justify">Về cơ bản, sổ sách kế toán bao gồm:&nbsp;</p>

    <ol>
      <li aria-level="1" style="text-align: justify">Sổ nhật ký chung;</li>
      <li aria-level="1" style="text-align: justify">Sổ cái tài khoản;</li>
      <li aria-level="1" style="text-align: justify">Sổ chi tiết tài khoản;</li>
      <li aria-level="1" style="text-align: justify">Sổ quỹ tiền mặt;</li>
      <li aria-level="1" style="text-align: justify">Sổ tiền gửi ngân hàng;</li>
      <li aria-level="1" style="text-align: justify">
        Bảng khấu hao tài sản cố định;
      </li>
      <li aria-level="1" style="text-align: justify">
        Bảng tổng hợp nhập xuất tồn;
      </li>
      <li aria-level="1" style="text-align: justify">
        Sổ theo dõi chi phí trả trước;
      </li>
      <li aria-level="1" style="text-align: justify">Phiếu thu, chi;</li>
      <li aria-level="1" style="text-align: justify">
        Phiếu xuất kho, nhập kho.
      </li>
    </ol>
  </div>
</div>
