.bc-container {
  background-color: #f95911;
  top: 40%;
  height: 70%;
}

::ng-deep app-blog-card carousel {
  .carousel-indicators {
    display: none;
  }
  .carousel-control-next {
    right: -150px !important;
  }
  .carousel-control-prev {
    left: -150px !important;
  }
}

.bc-card {
  border-radius: 50px;
}

.bc-image {
  height: 219px;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.common-background {
  background-color: #f95911;
}
