<!-- <h3>Tin tức</h3> -->
<ng-container *ngIf="vm$ | async as vm">
  <div class="flex justify-center relative">
    <div class="bc-container absolute w-full"></div>
    <div class="">
      <carousel
        [interval]="7000"
        [itemsPerSlide]="itemsPerSlide"
        [singleSlideOffset]="true"
        [startFromIndex]="6"
        [noPause]="true"
        [noWrap]="false"
        #carousel
      >
        <slide
          *ngFor="let chunk of vm.displayContents | chunk : chuck"
          class="item"
        >
          <div class="carousel my-8 lg:mx-2">
            <div
              class="card text-center w-96 bc-card mt-6"
              *ngFor="let content of chunk"
            >
              <div class="flex items-center justify-center p-8">
                <img
                  class="bc-image"
                  src="{{
                    content.jetpack_featured_media_url === ''
                      ? defaultUrl
                      : content.jetpack_featured_media_url
                  }}"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="card-body !pt-0 !px-8">
                <p class="text-left h-16">{{ content.title.rendered }}</p>
              </div>
              <div class="border-t">
                <a
                  class="btn btn-danger border-0 common-background my-3"
                  href="tin-tuc/bai-viet/{{ content.id }}"
                  >Xem thêm</a
                >
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</ng-container>
