<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ làm thủ tục, hồ sơ kê khai thuế ban đầu - Chỉ 500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ khai báo thuế lần đầu sẽ hoàn thành các thủ tục, hồ sơ khai
        thuế ban đầu trong 3 ngày. Giảm 500.000đ khi sử dụng đồng thời dịch vụ
        kế toán trọn gói tại dịch vụ thuê - kế toán 2KT. Gọi ngay!</strong
      >
    </p>

    <div class="custom-muc-luc toc_root">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Phí dịch vụ kê khai thuế ban đầu tại dịch vụ thuê - kế toán 2KT</a>
        </li>
        <li>
          <a
            >Thời gian thực hiện và chi tiết thủ tục, hồ sơ kê khai thuế ban đầu
            2023</a
          >
        </li>
        <li>
          <a
            >Giấy tờ, hồ sơ cần cung cấp khi làm dịch vụ kê khai thuế ban đầu
            tại dịch vụ thuê - kế toán 2KT</a
          >
        </li>
        <li>
          <a>Các thông tin khi làm khai báo thuế ban đầu bạn cần biết</a>
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Phi-dich-vu-ke-khai-thue-ban-dau-tai-2KT"
      style="text-align: justify"
    >
      <strong>Phí dịch vụ kê khai thuế ban đầu tại dịch vụ thuê - kế toán 2KT</strong>
    </h3>

    <p style="text-align: justify">
      Dịch vụ thuê - kế toán 2KT có dịch vụ thiết lập hồ sơ kê khai thuế ban đầu, tư vấn trọn gói về
      thuế trên toàn quốc đối với doanh nghiệp và đơn vị phụ thuộc doanh nghiệp.
      Theo đó, tổng chi phí trọn gói dịch vụ kê khai thuế ban đầu tại dịch vụ thuê - kế toán 2KT như
      sau:
    </p>
    <p style="text-align: justify">
      Kê khai thuế ban đầu cho doanh nghiệp:
      <strong
        ><span style="color: #2a4e9a"
          ><strong
            >TP. HCM - 500.000 đồng | Hà Nội - 1.000.000 đồng;</strong
          ></span
        ></strong
      >
    </p>

    <p style="text-align: justify">
      Kê khai thuế ban đầu cho chi nhánh cùng tỉnh:
      <span style="color: #2a4e9a"
        ><strong><strong>500.000 đồng;</strong></strong></span
      >
    </p>

    <p style="text-align: justify">
      Kê khai thuế ban đầu cho chi nhánh khác tỉnh: Liên hệ dịch vụ thuê - kế toán 2KT để nhận báo giá
      theo từng trường hợp.
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        <strong>Giảm ngay 500.000 đồng</strong> phí dịch vụ khai thuế ban đầu
        cho doanh nghiệp khi bạn sử dụng
        <a>dịch vụ kế toán trọn gói</a>
        tại dịch vụ thuê - kế toán 2KT.
      </p>

      <p style="padding: 0pt 0pt 3.75pt 0pt; text-align: justify">
        Miễn phí phí dịch vụ đặt in hóa đơn và thủ tục đăng ký chữ ký số, bạn
        chỉ cần thanh toán tiền hóa đơn và chữ ký số cho đơn vị cung cấp.&nbsp;
      </p>
    </div>

    <h3
      class="sub-title"
      id="Thoi-gian-thuc-hien-va-chi-tiet-thu-tuc,-ho-so-ke-khai-thue-ban-dau-2023"
    >
      <strong
        >Thời gian thực hiện và chi tiết thủ tục, hồ sơ kê khai thuế ban đầu
        2024</strong
      >
    </h3>

    <p style="text-align: justify">
      Với phí dịch vụ trên, chỉ 3 ngày làm việc, dịch vụ thuê - kế toán 2KT sẽ hoàn thành<a>
        thủ tục khai báo thuế ban đầu</a
      >.&nbsp;
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        Tổng quan các hạng mục công việc trong 3 ngày như sau:
      </p>

      <ul>
        <li aria-level="1" style="text-align: justify">
          1 ngày - Tư vấn miễn phí các vấn đề về hóa đơn, chữ ký số, tài khoản
          ngân hàng…;
        </li>
        <li aria-level="1" style="text-align: justify">
          1 ngày - Soạn, trình ký và nộp hồ sơ khai thuế ban đầu tại Chi cục
          Thuế;
        </li>
        <li aria-level="1" style="text-align: justify">
          1 ngày - Bàn giao kết quả tận nơi và hướng dẫn thêm cách viết, xử lý
          hóa đơn đúng cách.&nbsp;
        </li>
      </ul>
    </div>

    <p style="text-align: justify">
      Chi tiết nội dung công việc của dịch vụ kê khai thuế lần đầu tại dịch vụ thuê - kế toán 2KT, cụ
      thể:
    </p>

    <p style="text-align: justify"><strong>1. Tài khoản ngân hàng</strong></p>

    <p style="text-align: justify">
      Làm thủ tục mở và gửi thông báo sử dụng tài khoản ngân hàng cho cơ quan
      thuế. Các ngân hàng liên kết bao gồm: Vietcombank, ACB, BIDV, MB…
    </p>

    <p style="text-align: justify"><strong>2. Hóa đơn điện tử</strong></p>

    <p style="text-align: justify">
      Đặt in, làm thủ tục thông báo phát hành hóa đơn điện tử và hướng dẫn sử
      dụng phần mềm xuất hóa đơn điện tử.
    </p>

    <p style="text-align: justify">
      <u>Lưu ý</u><u>:</u> Dịch vụ thuê - kế toán 2KT sẽ hướng dẫn bạn cách viết và hủy hóa đơn đúng
      cách.
    </p>

    <p style="text-align: justify"><strong>3. Chữ ký số</strong></p>

    <p style="text-align: justify">
      Hỗ trợ đăng ký
      <a>chữ ký số Viettel</a> chỉ từ 1.100.000 đồng và hướng dẫn sử dụng chữ ký
      số.
    </p>

    <p style="text-align: justify">
      <strong>4. Thủ tục kê khai thuế ban đầu</strong>
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Đăng ký tài khoản kê khai thuế điện tử;
      </li>
      <li aria-level="1" style="text-align: justify">
        Đăng ký hình thức kế toán và sử dụng hóa đơn;
      </li>
      <li aria-level="1" style="text-align: justify">
        Đăng ký phương pháp khấu hao tài sản cố định;
      </li>
      <li aria-level="1" style="text-align: justify">
        Soạn thảo toàn bộ hồ sơ khai thuế ban đầu;&nbsp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lập và nộp tờ khai thuế môn bài lần đầu;
      </li>
      <li aria-level="1" style="text-align: justify">
        Nộp tiền thuế môn bài vào Kho bạc Nhà nước.
      </li>
    </ul>

    <p style="text-align: justify"><u>Lưu ý</u><u>:</u>&nbsp;</p>

    <p style="text-align: justify">
      Dịch vụ thuê - kế toán 2KT sẽ đại diện đứng tên kế toán viên và giải quyết các vấn đề về chứng
      từ, sổ sách kế toán khi bạn sử dụng dịch vụ kế toán trọn gói.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="Giay-to,-ho-so-can-cung-cap-khi-lam-dich-vu-ke-khai-thue-ban-dau-tai-2KT"
    >
      <strong
        >Giấy tờ, hồ sơ cần cung cấp khi làm dịch vụ kê khai thuế ban đầu tại
        dịch vụ thuê - kế toán 2KT</strong
      >
    </h3>

    <p style="text-align: justify">
      Thủ tục kê khai thuế ban đầu khá phức tạp, nhưng những thông tin bạn cần
      cung cấp cho dịch vụ thuê - kế toán 2KT rất đơn giản, bao gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Bản scan/photo giấy phép kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        CMND/CCCD/hộ chiếu của người đại diện pháp luật;
      </li>
      <li aria-level="1" style="text-align: justify">
        CMND/CCCD/hộ chiếu của kế toán trưởng.&nbsp;
      </li>
    </ol>

    <p style="text-align: justify">
      <u>Lưu ý</u><u>:</u> Ngoài ra, bạn cần cung cấp thêm chữ ký số, mẫu hóa
      đơn, thông tin tài khoản ngân hàng của doanh nghiệp nếu bạn đã có sẵn hoặc
      tự thực hiện.
    </p>

    <p style="text-align: justify">
      <strong
        ><span style="color: #ff0000"
          ><em aria-hidden="true" class="fa-angle-double-right fas"></em></span
        ><span style="color: #e5451b">&nbsp;Tham khảo chi tiết:</span
        ><span style="color: #ff0000"></span></strong
      >&nbsp;<a>Hồ sơ và thủ tục khai thuế ban đầu</a>.
    </p>

    <h3
      class="sub-title"
      id="Cac-thong-tin-khi-lam-khai-bao-thue-ban-dau-ban-can-biet"
      style="text-align: justify"
    >
      <strong>Các thông tin khi làm khai báo thuế ban đầu bạn cần biết</strong>
    </h3>

    <p style="text-align: justify">
      <strong>1. </strong>Trong vòng 10 ngày, kể từ ngày được cấp giấy phép kinh
      doanh, bạn phải thực hiện thủ tục kê khai thuế ban đầu.
    </p>

    <p style="text-align: justify">
      <strong>2.</strong> Bạn bắt buộc phải có chữ ký số (token) để kê khai thuế
      và nộp thuế qua mạng, bởi hầu hết hiện nay các Chi cục Thuế đều nhận hồ sơ
      dưới hình thức này.
    </p>

    <p style="text-align: justify">
      <strong>3.</strong> Ngoài chữ ký số Viettel, bạn có thể chọn các đơn vị
      cung cấp chữ ký số khác. Tuy nhiên, để giao dịch điện tử được an toàn và
      không ảnh hưởng đến quá trình thực hiện báo cáo, kê khai, bạn nên cân nhắc
      chọn lựa chữ ký số Viettel.&nbsp;
    </p>

    <p style="text-align: justify">
      <strong>4. </strong>Chỉ được xuất hóa đơn điện tử sau khi cơ quan thuế
      kiểm duyệt thủ tục thông báo phát hành hóa đơn điện tử (thông thường từ 2
      - 3 ngày, kể từ ngày thông báo).
    </p>

    <p style="text-align: justify">
      <strong>5.</strong> Thời hạn nộp tờ khai lệ phí môn bài và lệ phí môn bài
      chậm nhất vào ngày 30/01 hàng năm.
    </p>

    <p style="text-align: justify">
      <strong
        ><em
          aria-hidden="true"
          class="fa-angle-double-right fas"
          style="color: #e5451b"
        ></em
        ><span style="color: #e5451b">&nbsp;Tham khảo thêm:</span></strong
      >
      <a>Các bậc thuế và thời hạn nộp thuế môn bài</a>.&nbsp;
    </p>
  </div>
</div>
