<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ đăng ký bảo hiểm xã hội cho doanh nghiệp, 1.500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <style type="text/css">
      .table-post-custom tr:nth-child(odd) {
        background: #a9d0ff;
      }
      .table-post-custom tr:nth-child(even) {
        background: #e5f0ff;
      }
      .table-post-custom tr:nth-child(1),
      .table-post-custom tr:nth-child(2) {
        background: #004ea4;
      }
      @media (max-width: 600px) {
        .table-post-custom tr td {
          font-size: 11px;
          padding: 5px;
          min-width: 65px;
        }
      }
    </style>

    <p style="text-align: justify">
      <strong
        >Thủ tục làm bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp...
        phức tạp đã gây khó khăn cho nhiều doanh nghiệp. Tham khảo ngay dịch vụ
        làm BHXH tại 2KT.&nbsp;</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Bảng giá bảo hiểm xã hội (BHXH)</a>
        </li>
        <li>
          <a>Quy trình, thủ tục làm bảo hiểm xã hội</a>
        </li>
        <li>
          <a>Quy định mức đóng bảo hiểm xã hội của doanh nghiệp</a>
        </li>
        <li>
          <a>Mức xử phạt vi phạm chậm nộp BHXH, BHYT, BHTN của doanh nghiệp</a>
        </li>
      </ul>
    </div>

    <h3 class="sub-title" id="BANG-GIA-BAO-HIEM-XA-HOI-(BHXH)">
      <a id="buoc1" name="buoc1">BẢNG GIÁ BẢO HIỂM XÃ HỘI (BHXH)</a>
    </h3>

    <p style="text-align: justify">
      Chọn lựa dịch vụ đóng bảo hiểm xã hội tại 2KT sẽ giúp doanh nghiệp tiết
      kiệm thời gian và chi phí.
    </p>

    <table class="table-post-custom" style="width: 100%">
      <tbody>
        <tr>
          <td rowspan="2">
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Phí dịch vụ</strong></span>
            </p>
          </td>
          <td colspan="3">
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Số lượng nhân viên cần đăng ký BHXH</strong></span
              >
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>1 - 5 nhân viên</strong></span
              >
            </p>
          </td>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>6 - 10 nhân viên</strong></span
              >
            </p>
          </td>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Trên 10 nhân viên</strong></span
              >
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">Các quận TP. HCM</p>
          </td>
          <td>
            <p style="text-align: center">1.500.000đ</p>
          </td>
          <td>
            <p style="text-align: center">2.500.000đ</p>
          </td>
          <td>
            <p style="text-align: center">3.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">Các huyện TP. HCM</p>
          </td>
          <td>
            <p style="text-align: center">2.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">3.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">3.500.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">Các tỉnh 2KT có chi nhánh bao gồm:</p>

            <p style="text-align: center">Đồng Nai, Bình Dương, Vũng Tàu</p>
          </td>
          <td>
            <p style="text-align: center">2.500.000đ</p>
          </td>
          <td>
            <p style="text-align: center">3.500.000đ</p>
          </td>
          <td>
            <p style="text-align: center">4.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">Các tỉnh 2KT không có chi nhánh</p>
          </td>
          <td>
            <p style="text-align: center">3.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">4.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">4.500.000đ</p>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="sub-title" id="QUY-TRINH,-THU-TUC-LAM-BAO-HIEM-XA-HOI">
      <a id="buoc2" name="buoc2">QUY TRÌNH, THỦ TỤC LÀM BẢO HIỂM XÃ HỘI</a>
    </h3>

    <p style="text-align: justify">
      Nhìn chung, hồ sơ cần chuẩn bị để làm BHXH không quá phức tạp nhưng quy
      trình thực hiện lại gây nhiều khó khăn cho doanh nghiệp. Đầu tiên, bạn cần
      xác định doanh nghiệp thuộc trường hợp nào trong 2 trường hợp sau:
    </p>

    <p style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>1. Trường hợp 1 - Doanh nghiệp mới thành lập</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Bước 1: Gửi hồ sơ lên cơ quan bảo hiểm để lấy mã đơn vị, hồ sơ bao
      gồm:&nbsp;
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">Bản sao công chứng GPKD;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Tờ khai đơn vị tham gia BHXH TK3 - TS.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Bước 2: Làm thủ tục báo tăng/giảm lao động&nbsp;
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">HĐLĐ và bảng lương nhân viên;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">Thông tin nhân viên báo tăng/giảm;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Tờ khai tham gia, điều chỉnh thông tin BHXH TK1 - TS.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong
            >2. Trường hợp 2 - Doanh nghiệp đã hoạt động, đã có mã đơn
            vị:</strong
          ></span
        ></span
      >
      Chỉ cần làm thủ tục báo tăng/giảm lao động
      <a href="https://dichvucong.baohiemxahoi.gov.vn/" rel="nofollow"
        >giao dịch điện tử BHXH</a
      >.
    </p>

    <p style="text-align: justify">
      Tùy vào từng cơ quan BHXH mà thời gian kiểm duyệt hồ sơ khoảng 5 - 15
      ngày. Vậy nên, sử dụng dịch vụ đăng ký BHXH tại 2KT, bạn sẽ tiết kiệm tối
      đa thời gian chuẩn bị và đi lại nộp hồ sơ.
    </p>

    <p style="text-align: justify">
      Để tìm hiểu chi tiết cách làm bảo hiểm xã hội, bạn có thể tham khảo theo
      các đường dẫn sau:
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        >&nbsp;<em aria-hidden="true" class="fa-angle-double-right fas"></em
        >&nbsp;</span
      ><a>Thủ tục báo tăng, báo giảm bảo hiểm xã hội</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        >&nbsp;<em aria-hidden="true" class="fa-angle-double-right fas"></em
        >&nbsp;</span
      ><a>Thủ tục kê khai báo tăng, báo giảm BHXH điện tử (qua mạng)</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        >&nbsp;<em aria-hidden="true" class="fa-angle-double-right fas"></em
        >&nbsp;</span
      ><a>Thủ tục chốt sổ BHXH và hình thức nộp hồ sơ báo chốt BHXH</a>.
    </p>

    <h3
      class="sub-title"
      id="QUY-DINH-MUC-DONG-BAO-HIEM-XA-HOI-CUA-DOANH-NGHIEP"
    >
      <a id="buoc3" name="buoc3"
        >QUY ĐỊNH MỨC ĐÓNG BẢO HIỂM XÃ HỘI CỦA DOANH NGHIỆP</a
      >
    </h3>

    <p style="text-align: justify">
      Trên tổng mức lương tham gia BHXH thì doanh nghiệp và người lao động sẽ
      đóng BHXH theo tỷ lệ sau:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">Người lao động phải đóng BHXH: 10.5%</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Doanh nghiệp phải đóng BHXH: 21.5%&nbsp;
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Doanh nghiệp có thể đóng BHXH theo các cách sau:&nbsp;
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          Theo tháng: Chậm nhất vào ngày cuối cùng của tháng;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Theo quý hoặc 6 tháng/lần: Chậm nhất vào ngày cuối cùng của kỳ
          đóng.&nbsp;
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Với cách đóng theo quý hoặc 6 tháng/lần chỉ áp dụng cho
      doanh nghiệp/HTX/HKD cá thể…&nbsp; đang hoạt động trong lĩnh vực nông -
      lâm - ngư nghiệp trả lương theo sản phẩm/theo khoán.
    </p>

    <h3
      class="sub-title"
      id="MUC-XU-PHAT-VI-PHAM-CHAM-NOP-BHXH,-BHYT,-BHTN-CUA-DOANH-NGHIEP"
    >
      <a id="buoc4" name="buoc4"
        >MỨC XỬ PHẠT VI PHẠM CHẬM NỘP BHXH, BHYT, BHTN CỦA DOANH NGHIỆP</a
      >
    </h3>

    <p style="text-align: justify">
      Theo Điều 38
      <a>Nghị định 28/2020/NĐ/CP</a>
      ngày 01/03/2020 về quy định xử phạt vi phạm hành chính trong lĩnh vực lao
      động, BHXH như sau:
    </p>

    <table class="table-post-custom" style="width: 100%">
      <tbody>
        <tr>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Lỗi vi phạm</strong></span>
            </p>
          </td>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Mức phạt</strong></span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="background-color: #e5f0ff">
            <p>
              Không công khai đóng BHXH do cơ quan BHXH cung cấp; không xác nhận
              việc đóng BHXH để người lao động làm hồ sơ lãnh trợ cấp thất
              nghiệp; không cung cấp hoặc cung cấp sai, thiếu thông tin về việc
              đóng BHXH bắt buộc
            </p>
          </td>
          <td style="background-color: #e5f0ff">
            <p>500.000 - 1.000.000 đồng</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Không cung cấp đúng và đủ các thông tin hồ sơ liên quan đến việc
              đóng và nhận BHXH theo quy định nhà nước
            </p>
          </td>
          <td>
            <p>5.000.000 - 10.000.000 đồng</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Chậm đóng, đóng không đúng mức quy định hoặc không đúng, không đủ
              đối tượng tham gia BHXH (nhưng không phải trốn đóng)
            </p>
          </td>
          <td>
            <p>
              12% - 15% tổng số tiền đóng BHXH bắt buộc, BHTN tại thời điểm lập
              biên bản vi phạm
            </p>

            <p>(Tối đa không quá 75.000.000 đồng)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Không đóng BHXH, BHTN cho toàn bộ người lao động thuộc diện tham
              gia BHXH, BHTN (chưa đến mức truy cứu trách nhiệm hình sự)
            </p>
          </td>
          <td>
            <p>
              18% - 20%tổng số tiền đóng BHXH bắt buộc, BHTN tại thời điểm lập
              biên bản vi phạm
            </p>

            <p>(Tối đa không quá 75.000.000 đồng)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Trốn đóng BHXH, BHTN (chưa đến mức truy cứu trách nhiệm hình sự)
            </p>
          </td>
          <td>
            <p>50.000.000 - 75.000.000 đồng</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
