<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ thành lập công ty, doanh nghiệp Giá Rẻ - 250.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 mt-8 text-justify">
    <p style="text-align: justify">
      <strong
        >Hơn 17&nbsp;năm kinh nghiệm cung cấp dịch vụ thành lập công ty, tư vấn
        thành lập doanh nghiệp trên 63 tỉnh, thành phố cả nước. Hơn ai hết chúng
        tôi hiểu Quý&nbsp;doanh nghiệp&nbsp;cần sự rõ ràng và tiết kiệm nhất về
        chi phí. Vì vậy, 2KT liệt kê chi tiết và đầy đủ các khoản phí mà bạn
        cần phải trả cho việc đăng ký thành lập công ty.</strong
      >
    </p>
    <h3
      class="sub-title"
      id="Tong-chi-phi-Dang-Ky-thanh-lap-cong-ty,-doanh-nghiep"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc1"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Tổng chi phí Đăng Ký thành lập công ty, doanh nghiệp</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <div class="custom-quote" style="box-shadow: 0 0 8px rgb(0 0 0 / 15%)">
      <p style="text-align: justify">
        Tổng phí thành lập công ty&nbsp;trọn gói là
        <span style="font-size: 22px"
          ><strong
            ><span style="color: #2a4e9a">1.000.000 đồng</span></strong
          ></span
        >(*) - Cam kết không phát sinh chi phí
      </p>

      <p style="text-align: justify">
        <strong
          >1. Phí thành lập công ty nộp nhà nước -
          <span style="font-size: 16px"
            ><span style="color: #e5451b">Tổng 750.000 đồng</span></span
          ></strong
        >
      </p>

      <ul>
        <li style="text-align: justify">
          200.000 đồng lệ phí ủy quyền cho 2KT thay bạn nộp hồ sơ đăng ký
          doanh nghiệp và nhận giấy phép kinh doanh
        </li>
        <li style="text-align: justify">450.000 đồng lệ phí khắc dấu</li>
        <li style="text-align: justify">
          100.000 đồng lệ phí công bố thành lập doanh nghiệp ở Cổng thông tin
          quốc gia
        </li>
      </ul>

      <p style="text-align: justify">
        <strong
          >2. Phí dịch vụ thành lập doanh nghiệp của 2KT -
          <span style="font-size: 16px"
            ><span style="color: #e5451b">Tổng 250.000 đồng</span></span
          ></strong
        >
      </p>

      <ul>
        <li style="text-align: justify">
          Phí tư vấn về ngành nghề, vốn điều lệ, loại hình, tên công ty…
        </li>
        <li style="text-align: justify">
          Phí soạn toàn bộ hồ sơ thành lập doanh nghiệp
        </li>
        <li style="text-align: justify">
          Phí cử nhân viên gặp khách hàng ký hồ sơ tận nhà
        </li>
        <li style="text-align: justify">
          Phí cử nhân viên nộp hồ sơ ở Sở KH&amp;ĐT
        </li>
        <li style="text-align: justify">
          Phí cử nhân viên lên Sở KH&amp;ĐT nhận GPKD và con dấu
        </li>
        <li style="text-align: justify">
          Phí trả giấy phép và con dấu tận nhà cho khách hàng
        </li>
      </ul>
    </div>

    <p style="text-align: justify">
      <span style="font-size: 12px"
        ><em>(*) Chi phí có thể thay đổi theo từng khu vực, trường hợp hồ sơ</em
        >&nbsp;.</span
      >
    </p>

    <h3
      class="sub-title"
      id="Thoi-gian-trien-khai-DICH-VU&nbsp;thanh-lap-cong-ty,-doanh-nghiep"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc2"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Thời gian triển khai DỊCH VỤ&nbsp;thành lập công ty, doanh
              nghiệp</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <div class="custom-quote" style="box-shadow: 0 0 8px rgb(0 0 0 / 15%)">
      <p style="text-align: justify">
        Tổng thời gian đăng ký&nbsp;thành lập doanh nghiệp mất
        <span style="font-size: 22px"
          ><span style="color: #2a4e9a"><strong>4 ngày</strong></span></span
        >. Trong đó:
      </p>

      <ul>
        <li style="text-align: justify">
          1 ngày để 2KT tư vấn, soạn hồ sơ, trình khách hàng ký hồ sơ, cử nhân
          viên nộp hồ sơ thành lập công ty ở Sở KH&amp;ĐT;
        </li>
        <li style="text-align: justify">
          3 ngày để Sở KH&amp;ĐT kiểm tra hồ sơ của doanh nghiệp và cấp giấy
          phép kinh doanh.
        </li>
      </ul>
    </div>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Hiện tại, để đảm bảo phòng chống dịch, phòng đăng ký kinh
      doanh các tỉnh thành chỉ trả GPKD qua đường bưu điện. Vì vậy, thời gian
      hoàn thành thủ tục thành lập có thể sẽ kéo dài hơn so với thông thường.
    </p>

    <h3
      class="sub-title"
      id="Ban-can-chuan-bi-va-lam-nhung-gi-de-DANG-KY-thanh-lap-cong-ty"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc3"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Bạn cần chuẩn bị và làm những gì để ĐĂNG KÝ thành lập công
              ty</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      <strong>1. Cung cấp địa chỉ công ty:</strong> 2KT sẽ kiểm tra trước địa
      chỉ dự kiến&nbsp;có được cấp giấy phép hay không trước khi nộp hồ sơ thành
      lập doanh nghiệp.
    </p>

    <p style="text-align: justify">
      <strong>2. Chuẩn bị tên công ty:</strong>&nbsp;Chuyên viên của 2KT sẽ
      kiểm tra trước tên có được cấp hay không, có bị trùng lặp hay không, và tư
      vấn cho doanh nghiệp về tên công ty phù hợp với ngành nghề, loại hình kinh
      doanh.
    </p>

    <p style="text-align: justify">
      <strong>3. Xác định các ngành nghề dự định kinh doanh</strong>
    </p>

    <p style="text-align: justify">
      <strong>Ví dụ</strong>: Bạn chỉ cần cung cấp các cụm từ chung như: xây
      dựng, nội thất, bất động sản… chuyên viên của 2KT sẽ tự soạn và áp mã
      ngành chi tiết theo đúng quy định của luật doanh nghiệp hiện hành. Đồng
      thời tư vấn những ngành nghề nào nên đăng ký để tránh các vấn đề liên quan
      đến thuế sau này.
    </p>

    <p style="text-align: justify">
      <strong>4. Xác định số vốn của doanh nghiệp</strong>: Đây là vốn điều lệ
      làm cơ sở để doanh nghiệp hoạt động, nếu công ty có nhiều cổ đông thì cung
      cấp cho&nbsp;2KT&nbsp;số vốn góp của từng cổ đông. Dựa trên quy mô của
      bạn, 2KT sẽ tư vấn số vốn điều lệ bạn nên đăng ký để tránh các thủ tục
      pháp lý liên quan đến thuế không cần thiết sau này.
    </p>

    <p style="text-align: justify">
      <strong>5.</strong> <strong>Chuẩn bị CMND/CCCD/hộ chiếu </strong>không quá
      3 tháng của tất cả cá nhân tham gia góp vốn (bản&nbsp;photo công chứng).
      Trường hợp chưa công chứng, bạn chỉ cần cung cấp bản gốc, 2KT sẽ hỗ trợ
      công chứng miễn phí.
    </p>

    <p style="text-align: justify">
      <strong>6. Tất cả những việc còn lại, 2KT sẽ làm hết cho bạn.</strong>
    </p>

    <h3
      class="sub-title"
      id="7-diem-khac-biet-chi-co-o-dich-vu-thanh-lap-cong-ty-cua-2KT"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc4"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >7 điểm khác biệt chỉ có ở dịch vụ thành lập công ty của
              2KT</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong
            >1. Chỉ 1.000.000 đồng - Không phát sinh chi phí</strong
          ></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Tổng phí thành lập mà doanh nghiệp phải trả chỉ 1.000.000 đồng, bao gồm
      250.000 đồng phí dịch vụ của 2KT và 750.000 đồng lệ phí đóng cho nhà
      nước để thành lập doanh nghiệp (không phát sinh phí nào khác).
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>2. Tư vấn miễn phí từ A - Z</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Được đội ngũ luật sư trực tiếp tư vấn mã ngành nghề, vốn điều lệ,
      <a href="#">điều kiện thành lập công ty</a>… phù hợp với yêu cầu kinh
      doanh của từng doanh nghiệp.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>3. Hoàn thành tốc độ</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Chỉ trong vòng 120 phút, Kế toán 2KT sẽ hoàn thành&nbsp;bộ hồ sơ thành
      lập nhanh chóng theo đúng yêu cầu của doanh nghiệp.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>4. Cam kết&nbsp;đúng hẹn</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Trong vòng 3 ngày, Kế toán 2KT sẽ đại diện doanh nghiệp nhận&nbsp;giấy
      phép kinh doanh và con dấu pháp lý tại phòng đăng ký kinh doanh nơi doanh
      nghiệp đặt trụ sở.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>5. Bàn giao miễn phí tận nơi</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Dịch vụ tận nhà miễn phí bao gồm: trình khách hàng ký hồ sơ thành lập tận
      nhà, bàn giao giấy phép kinh doanh và con dấu công ty tận nhà. Đồng thời,
      chỉ riêng dịch vụ tại 2KT,&nbsp;khách hàng không cần lên Sở KH&amp;ĐT,
      không đi công chứng ủy quyền, không cần đi công chứng CMND hay passport...
      Kế toán 2KT sẽ thay bạn hoàn thành mọi thủ tục pháp lý cần thiết.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>6. Đặt quyền lợi của khách hàng lên trên hết</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Tư vấn và hỗ trợ tận tâm các thủ tục sau thành lập công ty với kim chỉ nam
      <em><strong>“Đặt quyền lợi khách hàng lên trên hết”</strong></em
      >. 2KT sẽ yêu cầu các đối tác của 2KT như Viettel, Mobiphone, các ngân
      hàng, các đơn vị chữ ký số... hỗ trợ trực tiếp dịch vụ cần thiết sau thành
      lập cho doanh nghiệp.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>7. Miễn phí hỗ trợ tư vấn thuế, kế toán thuế</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Thủ tục đăng ký thành lập công ty là giai đoạn khởi đầu nhưng chỉ là 1
      phần rất nhỏ trong quá trình hoạt động của 1 doanh nghiệp. Các vấn đề sau
      thành lập, đặc biệt là thuế, kế toán... mới là vấn đề quan trọng và ảnh
      hưởng trực tiếp đến hoạt động kinh doanh.&nbsp;Là công ty đứng đầu trong
      lĩnh vực kế toán thuế, 2KT sẽ tư vấn các phương pháp tính thuế, các loại
      thuế, các loại hóa đơn... để doanh nghiệp vừa có thể hoạt động kinh doanh
      đúng luật vừa có thể tối ưu thuế phải đóng.
    </p>

    <h3
      class="sub-title"
      id="Huong-dan-cach-chon-loai-hinh-cong-ty-phu-hop"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc6"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Hướng dẫn cách chọn loại hình công ty phù hợp</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong
            >1. Trường hợp 1: Nếu chỉ có 1 cá nhân hoặc 1 tổ chức góp
            vốn</strong
          ></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Bắt buộc phải
      <a href="#">thành lập công ty TNHH 1 thành viên</a>
      hoặc doanh nghiệp tư nhân.&nbsp;
    </p>

    <p style="text-align: justify">
      Với kinh nghiệm hơn 16&nbsp;năm làm thành lập công ty và kế toán thuế,
      chúng tôi khuyên bạn nên đăng ký loại hình công ty TNHH 1 thành viên sẽ có
      những ưu đãi về chính sách pháp luật, thuế hơn doanh nghiệp tư nhân.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>2. Trường hợp 2: Có 2 thành viên góp vốn</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Bắt buộc phải
      <a href="#">thành lập công ty TNHH 2 thành viên trở lên</a>.&nbsp;
    </p>

    <p style="text-align: justify">
      Loại hình này cũng như công ty TNHH 1 thành viên, chỉ có điều có 2 thành
      viên góp vốn, bạn phải chọn ra 1 người làm đại diện pháp luật (giám đốc).
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong
            >3. Trường hợp 3: Có từ 3 thành viên góp vốn trở lên</strong
          ></span
        ></span
      >
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          Lựa chọn 1: Vẫn có thể thành lập công ty TNHH nếu số thành viên góp
          vốn không vượt quá 50 người;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Lựa chọn 2: Thành lập công ty cổ phần, công ty cổ phần không bị giới
          hạn về số thành viên góp vốn.
        </p>
      </li>
    </ul>

    <hr />
    <h3
      class="sub-title"
      id="Trong-nam-2023,-sau-khi-thanh-lap-cong-ty-ban-can-lam-gi?"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc5"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Trong năm 2024, sau khi thành lập công ty bạn cần làm gì?</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>1. Khai thuế ban đầu</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Soạn và
      <a href="#">nộp hồ sơ khai thuế</a>
      lên cơ quan thuế quản lý doanh nghiệp. Tham khảo dịch vụ của 2KT chỉ
      với&nbsp;500.000 đồng tại các tỉnh phía Nam, các tỉnh miền
      Tây&nbsp;và&nbsp;1.000.000 đồng tại các tỉnh phía Bắc và khu vực miền
      Trung, Tây Nguyên.
    </p>

    <p style="text-align: justify">
      Hiện tại, 2KT đang có chương trình hỗ trợ chi phí khai thuế lần đầu cho
      doanh nghiệp nếu khách hàng ký hợp đồng làm
      <a href="#">dịch vụ kế toán</a>
      với 2KT như sau:&nbsp;
    </p>

    <ul>
      <li style="text-align: justify">Miễn phí khu vực TP. HCM;</li>
      <li style="text-align: justify">Giảm 50% khu vực Hà Nội, Đà Nẵng.</li>
    </ul>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>2. Mở tài khoản ngân hàng</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Hầu hết&nbsp;các ngân hàng đều yêu cầu&nbsp;chủ doanh nghiệp đến&nbsp;trực
      tiếp ngân hàng để làm thủ tục
      <a href="#">mở tài khoản doanh nghiệp</a>. Tuy nhiên, là đối tác chiến
      lược của các ngân hàng, Kế toán 2KT sẽ yêu cầu ngân hàng hỗ trợ mở tài
      khoản&nbsp;trực tiếp tại nhà miễn phí cho doanh nghiệp.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>3. Đăng ký sử dụng&nbsp;hóa đơn điện tử</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      2KT hỗ trợ soạn hồ sơ miễn phí và tư vấn toàn bộ các thông tin, quy định
      liên quan đến hóa đơn như: chọn nhà cung cấp hóa đơn, cách sử dụng hóa
      đơn, cách xử lý hóa đơn khi xuất&nbsp;sai...
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>4. Đăng ký mua chữ ký số (token)</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Mua thiết bị
      <a href="#">chữ ký số</a>&nbsp;Viettel-CA từ 1.350.000 đồng/12 tháng để
      tiến hành các thủ tục điện tử như: nộp thuế, kê khai bảo hiểm xã hội, kê
      khai thuế qua mạng, kê khai thủ tục hải quan, giao dịch trực tuyến...
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #3472b8"
          ><strong>5. Đặt bảng hiệu công ty</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Đặt bảng tên công ty 200.000 đồng/bảng mica 20x30cm chất liệu tốt. Đây là
      điều kiện bắt buộc và sẽ được cơ quan thuế kiểm tra&nbsp;trước khi chấp
      thuận cho doanh nghiệp&nbsp;xuất hóa đơn.
    </p>

    <p style="text-align: justify">
      <strong><u>Lưu ý quan trọng từ Kế toán 2KT</u>:</strong>
    </p>

    <p style="text-align: justify">
      Với kinh nghiệm thực tế nhiều năm của 2KT phải thường xuyên giải quyết
      các rắc rối của doanh nghiệp&nbsp;bị xử phạt do “quên” 5 việc kể trên,
      chúng tôi nhấn mạnh rằng bạn “bắt buộc” phải thực hiện 5 công việc này.
      Hãy yêu cầu kế toán viên&nbsp;hoặc công ty kế toán dịch vụ của bạn thực
      hiện nghiêm túc và đầy đủ các thủ tục pháp lý trên.
    </p>

    <div class="custom-quote" style="box-shadow: 0 0 8px rgb(0 0 0 / 15%)">
      <p style="text-align: justify"><strong>Như vậy:</strong></p>

      <p style="text-align: justify">
        Nếu bạn chỉ sử dụng dịch vụ&nbsp;<strong
          >thành lập công ty/doanh nghiệp thì trọn gói là
          <span style="font-size: 22px"
            ><span style="color: #2a4e9a">1.000.000 đồng</span></span
          ></strong
        >
      </p>

      <p style="text-align: justify">
        Nếu bạn sử dụng&nbsp;thêm
        <strong
          >dịch vụ&nbsp;sau thành lập thì trọn gói là
          <span style="font-size: 22px"
            ><span style="color: #2a4e9a">1.500.000 đồng</span></span
          ></strong
        >&nbsp;
      </p>
    </div>
  </div>
</div>
