<div
  class="flex justify-center"
  (swipeLeft)="swipeLeft()"
  (swipeRight)="swipeRight()"
>
  <div class="pb-16">
    <carousel
      [interval]="5000"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="true"
      [startFromIndex]="6"
      [noWrap]="false"
      [noPause]="true"
      [showIndicators]="false"
      #carousel
    >
      <slide *ngFor="let item of items" class="item">
        <div class="carousel my-8">
          <div class="card text-center w-80">
            <img
              class="card-img-top"
              src="{{ item.image }}"
              alt=""
              loading="lazy"
            />
            <div class="card-body">
              <h5>
                {{ item.name }}<br />
                <span>{{ item.position }}</span>
              </h5>
              <p class="card-text">“ {{ item.comment }} ”</p>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>
