<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active cs-banner-1 position-relative">
            <div class="dark-overlay"></div>
            <img src="https://i.imgur.com/sqY0sPJ.jpg" class="d-block w-100 banner-img">
            <div class="position-absolute content-image animated animatedFadeInUp fadeInUp">
                <div class="">
                    <h1 class="cs-header">Đồng hành phát triển </h1>
                    <h1 class="cs-header">cùng doanh nghiệp</h1>
                </div>
                <div>
                    <span class="cs-description">Smarttax chú trọng giá trị thực của việc Cùng Thắng trong mọi suy nghĩ.
                        Hành
                        động chiến lược, <br>thấu
                        hiểu những giá trị bên ngoài. Áp dụng quy trình chuẩn mực đảm bảo hoạt động chính xác. </span>
                </div>
                <div class="mt-8">
                    <a class="btn btn-danger btn-common btn-border-radius">Tìm hiểu thêm</a>
                    <a class="btn btn-light btn-contact btn-border-radius ml-4">Liên hệ báo giá</a>
                </div>
            </div>
        </div>
        <div class="carousel-item cs-banner-2 position-relative ">
            <div class="dark-overlay"></div>
            <img src="https://i.imgur.com/3IORI96.jpg" class="d-block w-100 banner-img">
            <div class="position-absolute content-image animated animatedFadeInUp fadeInUp">
                <div class="">
                    <h1 class="cs-header">Mang đến giá trị tốt nhất</h1>
                    <h1 class="cs-header">cho khách hàng</h1>
                </div>
                <div>
                    <span class="cs-description">Luôn rõ ràng trong tư vấn, đàm phán và quy trình làm việc, mang lại
                        hiệu quả
                        tốt nhất cho khách hàng;<br>
                        Smarttax đã hoạt động hơn 13 năm và phục vụ cho hơn 2.300 doanh nghiệp. </span>
                </div>
                <div class="mt-8">
                    <a class="btn btn-danger btn-common btn-border-radius">Tìm hiểu thêm</a>
                    <a class="btn btn-light btn-contact btn-border-radius ml-4">Liên hệ báo giá</a>
                </div>
            </div>
        </div>
        <div class="carousel-item cs-banner-3 position-relative">
            <div class="dark-overlay"></div>
            <img src="https://i.imgur.com/c3QO2e9.jpg" class="d-block w-100 banner-img">
            <div class="position-absolute content-image animated animatedFadeInUp fadeInUp">
                <div class="">
                    <h1 class="cs-header">Be your safety,</h1>
                    <h1 class="cs-header">Be your success</h1>
                </div>
                <div><span class="cs-description">Smarttax chú trọng giá trị thực của việc Cùng Thắng trong mọi suy
                        nghĩ. Hành
                        động chiến lược, <br>thấu
                        hiểu những giá trị bên ngoài. Áp dụng quy trình chuẩn mực đảm bảo hoạt động chính xác. </span>
                </div>
                <div class="mt-8">
                    <a class="btn btn-danger btn-common btn-border-radius">Tìm hiểu thêm</a>
                    <a class="btn btn-light btn-contact btn-border-radius ml-4">Liên hệ báo giá</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>