<div class="counter-container">
  <div
    [@counterAnimation]="animationState"
    class="counter-content grid lg:grid-cols-4 grid-cols-2 w-3/4 lg:py-20 py-16"
    (window:scroll)="onScroll()"
  >
    <div class="col-span-1">
      <h1 class="text-center">{{ yearEx }} +</h1>
      <p class="text-center">Năm kinh nghiệm</p>
    </div>
    <div class="col-span-1">
      <h1 class="text-center">{{ customer }} +</h1>
      <p class="text-center">Khách hàng</p>
    </div>
    <div class="col-span-1 lg:pt-0 pt-4">
      <h1 class="text-center">{{ staff }} +</h1>
      <p class="text-center">Nhân viên</p>
    </div>
    <div class="col-span-1 lg:pt-0 pt-4">
      <h1 class="text-center">{{ service }} +</h1>
      <p class="text-center">Dịch vụ hỗ trợ</p>
    </div>
  </div>
</div>
