<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ làm thủ tục thay đổi địa chỉ trụ sở công ty, chỉ 500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Bạn đang cần làm thủ tục thay đổi địa chỉ trụ sở công ty cùng quận/khác
        quận hoặc thay đổi địa chỉ công ty cổ phần/công ty TNHH MTV… tại TP. HCM
        và Hà Nội? Hãy liên hệ 2KT để được hỗ trợ, chỉ với phí dịch vụ
        500.000đ, trong vòng 3 ngày.&nbsp;</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a href="#Phi-thay-doi-dia-chi-tru-so-cong-ty,-doanh-nghiep"
            >Phí thay đổi địa chỉ trụ sở công ty, doanh nghiệp</a
          >
        </li>
        <li>
          <a href="#Thoi-gian-hoan-thanh-thu-tuc-thay-doi-dia-chi-cong-ty"
            >Thời gian hoàn thành thủ tục thay đổi địa chỉ công ty</a
          >
        </li>
        <li>
          <a href="#Thu-tuc-dang-ky-thay-doi-dia-chi-tru-so-cong-ty"
            >Thủ tục đăng ký thay đổi địa chỉ trụ sở công ty</a
          >
        </li>
        <li>
          <a
            href="#Nhiem-vu-cua-2KT-trong-goi-dich-vu-thay-doi-dia-chi-cong-ty"
            >Nhiệm vụ của 2KT trong gói dịch vụ thay đổi địa chỉ công ty</a
          >
        </li>
        <li>
          L<a
            href="#luu-y-ve-thue,-hoa-don…-khi-thay-doi-dia-chi-cong-ty,-doanh-nghiep"
            >ưu ý về thuế, hóa đơn… khi thay đổi địa chỉ công ty, doanh
            nghiệp</a
          >
        </li>
        <li>
          <a
            href="#Cac-cau-hoi-thuong-gap-khi-thay-doi-dia-chi-cong-ty,-doanh-nghiep"
            >Các câu hỏi thường gặp khi thay đổi địa chỉ công ty, doanh
            nghiệp</a
          >
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Phi-thay-doi-dia-chi-tru-so-cong-ty,-doanh-nghiep"
    >
      <a id="buoc1" name="buoc1"
        >Phí thay đổi địa chỉ trụ sở công ty, doanh nghiệp</a
      >
    </h3>

    <p style="text-align: justify">
      Tổng chi phí thay đổi địa chỉ trên GPKD:
      <span style="font-size: 18px"
        ><strong
          ><span style="color: #2a4e9a">1.000.000 đồng</span></strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      1. Phí dịch vụ thay đổi địa chỉ công ty của 2KT:
      <span style="color: #2a4e9a"><strong>500.000 đồng</strong></span>
    </p>

    <p style="text-align: justify">
      2. 3 khoản lệ phí thay đổi địa chỉ công ty nộp nhà nước:
      <span style="color: #2a4e9a"><strong>500.000 đồng</strong></span>
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          Lệ phí nộp hồ sơ và nhận GPKD mới tại Sở KH&amp;ĐT - 200.000 đồng;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Lệ phí công bố thay đổi địa chỉ công ty tại Cổng thông tin quốc gia -
          300.000 đồng.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      <u>Lưu ý</u>:<br />
      Bạn cần thanh toán thêm lệ phí khắc dấu 400.000 đồng nếu thay đổi địa chỉ
      khác quận/khác tỉnh làm ảnh hưởng đến nội dung trên con dấu.
    </p>

    <h3
      class="sub-title"
      id="Thoi-gian-hoan-thanh-thu-tuc-thay-doi-dia-chi-cong-ty"
    >
      <a id="buoc2" name="buoc2"
        >Thời gian hoàn thành thủ tục thay đổi địa chỉ công ty</a
      >
    </h3>

    <p style="text-align: justify">
      Thời gian hoàn thành mọi thủ tục và có kết quả từ cơ quan chức năng
      <span style="color: #2a4e9a"><strong>từ </strong></span
      ><span style="color: #2a4e9a"><strong>3 - 4 ngày</strong></span
      >.&nbsp;
    </p>

    <p style="text-align: justify">Trong đó:</p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          1 ngày để 2KT tư vấn, soạn hồ sơ và trình khách hàng ký hồ sơ thay
          đổi địa chỉ công ty.
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          3 ngày để Sở KH&amp;ĐT cấp GPKD mới và 2KT bàn giao tận nơi.
        </p>
      </li>
    </ul>

    <h3 class="sub-title" id="Thu-tuc-dang-ky-thay-doi-dia-chi-tru-so-cong-ty">
      <a id="buoc3" name="buoc3"
        >Thủ tục đăng ký thay đổi địa chỉ trụ sở công ty</a
      >
    </h3>

    <p style="text-align: justify">
      Khi thay đổi địa chỉ công ty, hồ sơ đăng ký sẽ có vài điểm khác biết tùy
      vào địa chỉ dự kiến thay đổi cùng/khác quận hoặc khác tỉnh.<br />
      Bạn có thể tham khảo chi tiết theo các đường dẫn sau:
    </p>

    <p style="text-align: justify">
      <a href="#"
        ><em
          aria-hidden="true"
          class="fa-angle-double-right fas"
          style="color: #e5451b"
        ></em
        >&nbsp;Thủ tục thay đổi địa chỉ công ty cùng quận;</a
      >
    </p>

    <p style="text-align: justify">
      <a href="#"
        ><em
          aria-hidden="true"
          class="fa-angle-double-right fas"
          style="color: #e5451b"
        ></em
        >&nbsp;Thủ tục thay đổi địa chỉ công ty khác quận;</a
      >
    </p>

    <p style="text-align: justify">
      <a href="#"
        ><em
          aria-hidden="true"
          class="fa-angle-double-right fas"
          style="color: #e5451b"
        ></em
        >&nbsp;Thủ tục thay đổi địa chỉ công ty khác tỉnh.</a
      >
    </p>

    <p style="text-align: justify">
      Tuy nhiên, mọi hồ sơ bạn cần chuẩn bị sẽ đơn giản hơn nếu bạn chọn dịch vụ
      thay đổi địa chỉ trụ sở công ty, doanh nghiệp tại 2KT. Khi đó, bạn chỉ
      cần cung cấp:
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">• MST công ty;</p>

      <p style="text-align: justify">• Địa chỉ công ty dự kiến thay đổi.</p>
    </div>

    <h3
      class="sub-title"
      id="Nhiem-vu-cua-2KT-trong-goi-dich-vu-thay-doi-dia-chi-cong-ty"
    >
      <a id="buoc4" name="buoc4"
        >Nhiệm vụ của 2KT trong gói dịch vụ thay đổi địa chỉ công ty</a
      >
    </h3>

    <p style="text-align: justify">
      2KT sẽ tư vấn và thay bạn làm các việc sau:
    </p>

    <ol>
      <li aria-level="1">
        <p style="text-align: justify">
          Hỗ trợ tư vấn miễn phí các thông tin trước khi làm thủ tục thay đổi
          địa chỉ trụ sở;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Soạn giấy đề nghị đăng ký thay đổi địa chỉ trụ sở công ty (do người
          đại diện pháp luật ký);
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Soạn quyết định bằng văn bản về việc thay đổi địa chỉ trụ sở chính (do
          chủ sở hữu ký);
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Soạn tờ khai thông tin người nộp hồ sơ thay đổi;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Chuẩn bị mục lục hồ sơ, bìa hồ sơ theo quy định của Sở KH&amp;ĐT;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Đại diện doanh nghiệp nộp hồ sơ và nhận kết quả tại Sở KH&amp;ĐT;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Bàn giao giấy phép kinh doanh mới tận nơi cho khách hàng;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Hỗ trợ tư vấn miễn phí tất cả thủ tục pháp lý bất cứ khi nào doanh
          nghiệp cần.
        </p>
      </li>
    </ol>

    <h3
      class="sub-title"
      id="luu-y-ve-thue,-hoa-don…-khi-thay-doi-dia-chi-cong-ty,-doanh-nghiep"
    >
      <a id="buoc5" name="buoc5"
        >lưu ý về thuế, hóa đơn… khi thay đổi địa chỉ công ty, doanh nghiệp</a
      >
    </h3>

    <p style="text-align: justify">
      Địa chỉ công ty là thông tin được thể hiện trên tất cả các giấy tờ, công
      văn khi làm việc với khách hàng, đối tác và cơ quan chức năng. Do vậy, khi
      thay đổi địa chỉ công ty, bạn cần lưu ý các vấn đề sau:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">Làm lại bảng hiệu với địa chỉ mới;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Cập nhật địa chỉ trụ sở mới trên phần mềm bảo hiểm xã hội điện tử;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Làm thông báo thay đổi thông tin trên hóa đơn và gửi cơ quan thuế theo
          mẫu TB04;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Gửi thông báo về việc thay đổi địa chỉ trụ sở công ty cho ngân hàng,
          đối tác, khách hàng… để không ảnh hưởng đến các hoạt động kinh doanh,
          giao dịch.
        </p>
      </li>
    </ul>

    <p style="text-align: justify"><u>Lưu ý:</u></p>

    <p style="text-align: justify">
      Đối với việc thay đổi địa chỉ trụ sở công ty, bạn cần phải gửi thông báo
      cho cơ quan thuế, hay còn gọi là thủ tục chốt thuế cũ. Thủ tục chốt thuế
      chuyển trụ sở công ty tuy không quá khó khăn nhưng cần chuẩn bị khá nhiều
      hồ sơ. Để tránh mất thời gian, bạn có thể tham khảo
      <span style="color: #2a4e9a"
        ><strong
          >dịch vụ chốt thuế cũ tại 2KT với phí dịch vụ 1.500.000 đồng</strong
        ></span
      >, hoặc liên hệ 2KT theo số&nbsp;<strong
        ><a href="tel:0969295848" rel="nofollow" target="_blank"
          >0969295848
        </a></strong
      >&nbsp;để được hỗ trợ tư vấn miễn phí.
    </p>

    <p style="text-align: justify">
      <a href="#"
        >&nbsp;<em aria-hidden="true" class="fa-angle-double-right fas"></em></a
      >&nbsp;<span style="color: #e5451b"><strong>Tham khảo:</strong></span>
      <a href="#">Thủ tục chốt thuế chuyển quận</a>.
    </p>
  </div>
</div>
