<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ tạm ngừng hoạt động kinh doanh - Trọn gói 700.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Từ 3 ngày, dịch vụ thuê - kế toán 2KT sẽ xong thủ tục tạm ngừng kinh doanh của doanh nghiệp
        nói chung hay hồ sơ tạm ngừng hoạt động công ty cổ phần/công ty TNHH nói
        riêng. Liên hệ dịch vụ thuê - kế toán 2KT ngay để sớm hoàn tất thủ tục tạm dừng kinh
        doanh.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Dịch vụ tạm ngừng hoạt động kinh doanh tại dịch vụ thuê - kế toán 2KT</a>
        </li>
        <li>
          <a
            >Hồ sơ cần cung cấp khi sử dụng dịch vụ tạm ngừng kinh doanh tại
            dịch vụ thuê - kế toán 2KT</a
          >
        </li>
        <li>
          <a>Quy định mới về thời hạn tạm ngừng kinh doanh của doanh nghiệp</a>
        </li>
        <li>
          <a
            >Lưu ý khi làm thủ tục tạm ngừng hoạt động kinh doanh cho doanh
            nghiệp</a
          >
        </li>
        <li>
          <a
            >Các câu hỏi thường gặp khi doanh nghiệp tạm ngừng kinh
            doanh&nbsp;</a
          >
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Dich-vu-tam-ngung-hoat-dong-kinh-doanh-tai-Ke-toan-2KT"
      style="text-align: justify"
    >
      <a id="dich" name="dich"
        ><strong
          >Dịch vụ tạm ngừng hoạt động kinh doanh tại dịch vụ thuê - kế toán 2KT</strong
        ></a
      >
    </h3>

    <ul>
      <li style="text-align: justify">
        Tổng phí trọn gói dịch vụ tạm ngừng kinh doanh: Chỉ
        <span style="color: #3472b8"><strong>700.000 đồng</strong>.</span>
      </li>
      <li style="text-align: justify">
        Tối đa<strong>
          <span style="color: #3472b8">3 - 4 ngày làm việc</span></strong
        >
        để dịch vụ thuê - kế toán 2KT hoàn thành thủ tục tạm ngừng kinh doanh, chi tiết:
        <ul>
          <li style="text-align: justify">
            3 ngày - Phòng Đăng ký kinh doanh xử lý hồ sơ;
          </li>
          <li style="text-align: justify">
            Từ 1 ngày - dịch vụ thuê - kế toán 2KT soạn toàn bộ hồ sơ, trình khách hàng ký, nộp hồ sơ
            tại Sở KH&amp;ĐT, nhận và bàn giao kết quả tận nơi.
          </li>
        </ul>
      </li>
    </ul>

    <p style="text-align: justify">
      <u>Lưu ý:</u> dịch vụ thuê - kế toán 2KT hỗ trợ bàn giao hồ sơ, kết quả tận nơi miễn phí trong
      suốt quá trình làm thủ tục.
    </p>

    <h3
      class="sub-title"
      id="Ho-so-can-cung-cap-khi-su-dung-dich-vu-tam-ngung-kinh-doanh-tai-2KT"
    >
      <strong
        >Hồ sơ cần cung cấp khi sử dụng dịch vụ tạm ngừng kinh doanh tại
        dịch vụ thuê - kế toán 2KT</strong
      >
    </h3>

    <p style="text-align: justify">
      Tùy vào từng loại hình doanh nghiệp mà thành phần
      <a>hồ sơ tạm ngừng kinh doanh</a>
      sẽ có khác biệt. Sử dụng dịch vụ tạm dừng kinh doanh tại dịch vụ thuê - kế toán 2KT là chọn lựa
      tối ưu để đơn giản hóa mọi thủ tục. Khi đó, thông tin bạn cần cung cấp chỉ
      bao gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Mã số thuế của doanh nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Thời gian tạm ngừng kinh doanh.
      </li>
    </ol>

    <p style="text-align: justify">--------</p>

    <p style="text-align: justify">
      Trường hợp tự thực hiện thủ tục tạm ngừng hoạt động công ty, bạn có thể
      tham khảo hướng dẫn chi tiết về quy trình thực hiện, các đầu mục giấy tờ
      cần chuẩn cũng như tải mẫu hồ sơ miễn phí tại bài viết:
      <a>Thủ tục tạm ngừng kinh doanh</a>.
    </p>

    <h3
      class="sub-title"
      id="Quy-dinh-moi-ve-thoi-han-tam-ngung-kinh-doanh-cua-doanh-nghiep"
    >
      <strong
        >Quy định mới về thời hạn tạm ngừng kinh doanh của doanh nghiệp</strong
      >
    </h3>

    <p style="text-align: justify">
      Vì lý do nào đó, doanh nghiệp phải đăng ký tạm ngừng kinh doanh thì cần
      nắm rõ các quy định chung sau đây:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Chậm nhất 3 ngày làm việc trước ngày tạm ngừng hoặc tiếp tục kinh doanh
        trước thời hạn đã thông báo, doanh nghiệp phải gửi thông báo bằng văn
        bản cho cơ quan đăng ký kinh doanh về thời điểm và thời hạn tạm
        ngừng/tiếp tục kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Thời hạn tạm ngừng kinh doanh của doanh nghiệp cho mỗi lần làm thủ tục
        thông báo không được quá 1 năm;
      </li>
      <li aria-level="1" style="text-align: justify">
        Trường hợp có nhu cầu tiếp tục tạm ngừng kinh doanh sau khi hết thời hạn
        đã thông báo thì chậm nhất 3 ngày làm việc (tính đến ngày tiếp tục tạm
        ngừng kinh doanh), doanh nghiệp phải thông báo thời hạn tiếp tục tạm
        ngừng hoạt động cho cơ quan đăng ký kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp không bị giới hạn về số lần tạm ngừng kinh doanh, tuy nhiên
        cần đảm bảo thực hiện thủ tục đăng ký tạm ngừng hoạt động công ty theo
        đúng quy định của pháp luật hiện hành.
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tham khảo thêm:</strong><strong> </strong></span
      ><a>Quy định thời gian tạm ngừng kinh doanh</a>.&nbsp;
    </p>

    <p style="text-align: justify">---------</p>

    <p style="text-align: justify">
      Chính vì quy định phải nộp thông báo công ty tạm ngừng kinh doanh trước 3
      ngày, nên để tránh trường hợp thủ tục phức tạp, thời gian hoàn thành bị
      kéo dài, ảnh hưởng đến ngày doanh nghiệp muốn ngừng hoạt động thì bạn có
      thể cân nhắc tham khảo
      <a>dịch vụ tạm ngừng kinh doanh</a> tại dịch vụ thuê - kế toán 2KT.
    </p>

    <h3
      class="sub-title"
      id="Luu-y-khi-lam-thu-tuc-tam-ngung-hoat-dong-kinh-doanh-cho-doanh-nghiep"
    >
      <strong
        >Lưu ý khi làm thủ tục tạm ngừng hoạt động kinh doanh cho doanh
        nghiệp</strong
      >
    </h3>

    <p style="text-align: justify"><strong>1. Miễn lệ phí môn bài</strong></p>

    <p style="text-align: justify">
      Căn cứ theo
      <a>Nghị định 22/2020/NĐ-CP</a>, doanh nghiệp được
      <a>miễn lệ phí môn bài</a>
      cho năm tạm ngưng hoạt động nếu:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp đã thông báo tạm ngừng kinh doanh trong năm dương lịch với
        cơ quan thuế quản lý trực tiếp trước ngày 30/01 (thời hạn nộp thuế môn
        bài theo quy định);
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp chưa nộp thuế môn bài của năm tạm ngừng hoạt động kinh
        doanh.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong>2. Nghĩa vụ nộp hồ sơ khai thuế, báo cáo tài chính</strong>
    </p>

    <p style="text-align: justify">
      Doanh nghiệp không cần nộp hồ sơ khai thuế cũng như
      <a>báo cáo tài chính</a>
      trong thời gian tạm ngừng kinh doanh (ngoại trừ trường hợp tạm ngừng không
      trọn tháng, trọn quý, trọn năm dương lịch hoặc năm tài chính).
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tham khảo thêm: </strong></span
      ><a>Cách nộp tờ khai thuế qua mạng</a>.
    </p>

    <p style="text-align: justify"><strong>Ví dụ:</strong></p>

    <p style="text-align: justify">
      Doanh nghiệp thực hiện kê khai theo quý và xin tạm ngừng kinh doanh trong
      khoảng thời gian từ 03/01/2024 đến 31/12/2024 (tức tạm ngừng kinh doanh
      không trọn năm dương lịch). Theo đó, dù chỉ hoạt động 2 ngày (ngày 01/01
      và ngày 02/01) nhưng doanh nghiệp vẫn phải:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Nộp hồ sơ kê khai thuế của quý 1 năm 2024;
      </li>
      <li aria-level="1" style="text-align: justify">
        Nộp hồ sơ quyết toán thuế TNCN và thuế TNDN năm 2024;
      </li>
      <li aria-level="1" style="text-align: justify">
        Nộp báo cáo tài chính năm 2024.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong>3. Các lưu ý khác khi tạm ngừng kinh doanh</strong>
    </p>

    <p style="text-align: justify">
      Ngoài những lưu ý quan trọng về báo cáo và thuế, doanh nghiệp còn phải đảm
      bảo thực hiện đúng các quy định sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Vẫn phải treo bảng hiệu công ty;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hoàn tất thanh toán các khoản nợ với cơ quan thuế trong thời gian tạm
        ngừng kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Không được ký kết hợp đồng, thực hiện giao dịch mới trong thời gian tạm
        ngừng kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Thanh toán các khoản nợ và nghĩa vụ tài sản khác với khách hàng, đối tác
        và người lao động (trừ trường hợp có thỏa thuận khác).
      </li>
    </ul>

    <p style="text-align: justify">
      Sau thời hạn tạm ngừng kinh doanh, nếu doanh nghiệp quyết định giải thể
      thì phải thực hiện thủ tục giải thể công ty theo đúng quy định pháp luật.
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>Xem chi tiết:</strong></span>
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt; </strong></span
      ><a>Thủ tục giải thể công ty</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt; </strong></span
      ><a>Nên tạm ngừng kinh doanh hay giải thể doanh nghiệp?</a>
    </p>

    <h3
      class="sub-title"
      id="Cac-cau-hoi-thuong-gap-khi-doanh-nghiep-tam-ngung-kinh-doanh&nbsp;"
    >
      <strong
        >Các câu hỏi thường gặp khi doanh nghiệp tạm ngừng kinh
        doanh&nbsp;</strong
      >
    </h3>

    <p style="text-align: justify">
      <strong
        >1. Phí dịch vụ tạm ngừng hoạt động kinh doanh tại dịch vụ thuê - kế toán 2KT là bao
        nhiêu?</strong
      >
    </p>

    <p style="text-align: justify">
      Tổng chi phí doanh nghiệp cần thanh toán chỉ 700.000 đồng. Dịch vụ thuê - kế toán 2KT cam
      kết hoàn thành thủ tục tạm ngừng kinh doanh nhanh chóng (từ 3 - 4 ngày làm
      việc) để không ảnh hưởng các vấn đề liên quan đến thuế.&nbsp;
    </p>

    <p style="text-align: justify">
      Gọi ngay dịch vụ thuê - kế toán 2KT theo số&nbsp;<strong
        ><a href="tel:0969295848 " rel="nofollow" target="_blank"
          >0969295848</a
        ></strong
      >
      để được hỗ trợ.
    </p>

    <p style="text-align: justify">
      <strong>2. Doanh nghiệp được tạm ngừng kinh doanh trong bao lâu?</strong>
    </p>

    <p style="text-align: justify">
      Doanh nghiệp hiện được tạm dừng hoạt động với thời hạn không quá 1 năm cho
      1 lần làm thủ tục thông báo tạm ngừng. Số lần tạm ngừng kinh doanh không
      bị giới hạn, tuy nhiên doanh nghiệp cần đảm bảo thực hiện thủ tục đăng ký
      tạm ngừng theo đúng quy định.
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tham khảo thêm: </strong></span
      ><a>Thủ tục tạm ngưng hoạt động công ty</a>.
    </p>

    <p style="text-align: justify">
      <strong
        >3. Doanh nghiệp tạm ngừng kinh doanh có phải nộp thuế môn bài
        không?</strong
      >
    </p>

    <p style="text-align: justify">
      Doanh nghiệp tạm ngừng kinh doanh được
      <a>miễn thuế môn bài</a>
      trong thời gian tạm ngừng nếu:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Đã thông báo tạm ngừng kinh doanh trong năm dương lịch với cơ quan thuế
        quản lý trực tiếp trước ngày 30/01 (thời hạn nộp thuế môn bài theo quy
        định);
      </li>
      <li aria-level="1" style="text-align: justify">
        Chưa nộp thuế môn bài của năm tạm ngừng hoạt động kinh doanh.&nbsp;
      </li>
    </ul>

    <p style="text-align: justify">
      <strong
        >4. Doanh nghiệp nợ thuế có được tạm ngừng kinh doanh không?</strong
      >
    </p>

    <p style="text-align: justify">
      Doanh nghiệp nợ thuế vẫn được làm hồ sơ tạm ngừng kinh doanh, nhưng phải
      đảm bảo thanh toán đủ số thuế còn nợ trong thời gian tạm ngừng kinh doanh.
    </p>

    <p style="text-align: justify">
      <strong>5. Điều kiện tạm ngừng kinh doanh là gì?</strong>
    </p>

    <p style="text-align: justify">
      Trong thời gian xin tạm dừng kinh doanh, doanh nghiệp vẫn phải thanh toán
      các khoản nợ, các hợp đồng dang dở với khách hàng, đối tác và người lao
      động (nếu không có thỏa thuận nào khác). Đồng thời, doanh nghiệp phải hoàn
      thành số thuế phải nộp và các nghĩa vụ tài chính khác.
    </p>

    <p style="text-align: justify">
      <strong>6. Doanh nghiệp nên tạm ngừng kinh doanh hay giải thể?</strong>
    </p>

    <p style="text-align: justify">
      Tùy vào tình hình hoạt động kinh doanh thực tế, định hướng phát triển, khả
      năng tài chính của mỗi doanh nghiệp mà có thể đưa ra quyết định về phương
      án hoạt động sao cho phù hợp. Bạn có thể tham khảo thông tin tư vấn chi
      tiết về vấn đề này tại bài viết:
      <a>Nên tạm ngừng kinh doanh hay giải thể công ty</a>?
    </p>

    <div id="faq">
      <p style="text-align: justify">
        Gọi cho chúng tôi theo số&nbsp;<strong
          ><a href="tel:0969295848 " rel="nofollow" target="_blank"
            >0969295848</a
          >&nbsp;</strong
        >
      </p>
    </div>
  </div>
</div>
