<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ chuyển đổi loại hình doanh nghiệp/công ty | 500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Thủ tục, hồ sơ chuyển đổi loại hình doanh nghiệp khá phức tạp do liên
        quan đến cơ quan thuế. Dịch vụ chuyển đổi loại hình doanh nghiệp, công
        ty tại Kế toán dịch vụ thuê - kế toán 2KT chỉ từ 1.500.000 đồng, từ 3 ngày làm việc có kết quả,
        miễn phí tư vấn &amp; bàn giao kết quả.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p>Nội dung chính</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Quy định về chuyển đổi loại hình doanh nghiệp</a>
        </li>
        <li>
          <a>Tổng chi phí chuyển đổi loại hình công ty, doanh nghiệp</a>
        </li>
        <li>
          <a>Thời gian thay đổi loại hình doanh nghiệp, công ty</a>
        </li>
        <li>
          <a>Lưu ý khi chuyển đổi loại hình doanh nghiệp</a>
        </li>
      </ul>
    </div>

    <h3 class="sub-title">
      <a id="buoc1" name="buoc1"
        >QUY ĐỊNH VỀ CHUYỂN ĐỔI LOẠI HÌNH DOANH NGHIỆP</a
      >
    </h3>

    <p style="text-align: justify">
      Tùy vào định hướng phát triển mà doanh nghiệp cần cơ cấu lại mô hình tổ
      chức công ty. Tuy nhiên, không phải loại hình nào cũng có thể thực hiện
      chuyển đổi. Những hình thức chuyển đổi
      <a>loại hình doanh nghiệp</a>
      có thể thực hiện như:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          <a>Chuyển đổi công ty TNHH thành công ty cổ phần</a>;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Chuyển đổi công ty cổ phần sang công ty TNHH 1 thành viên;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Chuyển đổi công ty cổ phần thành công ty TNHH 2 thành viên trở lên;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Chuyển đổi công ty TNHH 1 thành viên thành công ty TNHH 2 thành viên
          trở lên;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          <a
            >Chuyển đổi công ty TNHH 2 thành viên trở lên thành công ty TNHH 1
            thành viên</a
          >;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          <a
            >Chuyển đổi doanh nghiệp tư nhân thành công ty TNHH, công ty cổ
            phần, công ty hợp danh</a
          >.
        </p>
      </li>
    </ul>

    <h3 class="sub-title">
      <a id="buoc2" name="buoc2"
        >TỔNG CHI PHÍ CHUYỂN ĐỔI LOẠI HÌNH CÔNG TY, DOANH NGHIỆP</a
      >
    </h3>

    <p style="text-align: justify">
      Dù doanh nghiệp chuyển đổi sang bất cứ loại hình nào thì tổng chi
      phí&nbsp;cho dịch vụ chuyển đổi loại hình công ty, doanh nghiệp chỉ
      từ&nbsp;<span style="color: #2a4e9a"
        ><strong>1.500.000 đồng.</strong></span
      >&nbsp;
    </p>

    <h3 class="sub-title">
      <a id="buoc3" name="buoc3"
        >THỜI GIAN THAY ĐỔI LOẠI HÌNH DOANH NGHIỆP, CÔNG TY</a
      >
    </h3>

    <p style="text-align: justify">
      <span style="color: #2a4e9a"><strong>Chỉ trong vòng 3 ngày</strong></span
      >, dịch vụ thuê - kế toán 2KT sẽ thay bạn hoàn thành tất cả những thủ tục pháp lý.
    </p>

    <p style="text-align: justify">1. Soạn thảo và chuẩn bị các giấy tờ:</p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">Giấy đề nghị đăng ký doanh nghiệp;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">Điều lệ công ty;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Quyết định chuyển đổi loại hình doanh nghiệp;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Biên bản họp về việc chuyển đổi loại hình công ty;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Hợp đồng chuyển nhượng vốn góp (nếu có);
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Danh sách thành viên/cổ đông (nếu có);
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Hồ sơ kê khai thuế TNCN nộp tại cơ quan thuế (nếu có).
        </p>
      </li>
    </ul>

    <p style="text-align: justify">2. Trình hồ sơ cho khách hàng ký tận nơi;</p>

    <p style="text-align: justify">
      3. Nộp hồ sơ chuyển đổi loại hình công ty và nhận kết quả tại Sở
      KH&amp;ĐT;
    </p>

    <p style="text-align: justify">
      4. Nộp hồ sơ kê khai thuế TNCN tại cơ quan thuế;
    </p>

    <p style="text-align: justify">
      5. Bàn giao GPKD mới, con dấu (nếu có) và hồ sơ thuế TNCN (nếu có) cho
      khách hàng tận nơi.
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        <span style="color: #2a4e9a"
          ><strong
            >Bạn chỉ cần cung cấp cho dịch vụ thuê - kế toán 2KT 2 thông tin đơn giản:</strong
          ></span
        >
      </p>

      <p style="text-align: justify">- Bản sao giấy phép kinh doanh;</p>

      <p style="text-align: justify">
        - Bản sao công chứng CMND/CCCD/hộ chiếu của cá nhân.
      </p>
    </div>

    <h3 class="sub-title">
      <a id="buoc4" name="buoc4">LƯU Ý KHI CHUYỂN ĐỔI LOẠI HÌNH DOANH NGHIỆP</a>
    </h3>

    <p style="text-align: justify">
      Thực hiện thủ tục chuyển đổi loại hình công ty sẽ ảnh hưởng đến các thông
      tin như
      <a>tên doanh nghiệp</a>, con dấu, cách hạch toán lương, các giấy tờ liên
      quan khác… nên doanh nghiệp cần lưu ý các vấn đề sau:
    </p>

    <ol>
      <li aria-level="1">
        <p style="text-align: justify">
          Thực hiện thay đổi thông tin tại các giấy tờ, hồ sơ của công ty;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Thông báo việc thay đổi loại hình doanh nghiệp đến các cơ quan, tổ
          chức, đơn vị liên quan;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Các thông tin như tên, địa chỉ, ngành nghề kinh doanh… có thể thực
          hiện thủ tục thay đổi đồng thời khi làm thủ tục chuyển đổi loại hình
          (ngoại trừ thông tin người đại diện pháp luật);
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Phải tiến hành khắc mẫu dấu mới nếu thủ tục chuyển đổi loại hình làm
          thay đổi nội dung trên con dấu công ty;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Nếu công ty cổ phần chuyển đổi loại hình do
          <a>chuyển nhượng vốn</a>
          thì người chuyển nhượng cổ phần phải đóng thuế TNCN;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Không được hạch toán chi phí lương của giám đốc vào chi phí doanh
          nghiệp đối với trường hợp chuyển đổi từ công ty TNHH 2 thành viên/công
          ty cổ phần thành công ty TNHH 1 thành viên.
        </p>
      </li>
    </ol>
  </div>
</div>
