<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ làm thủ tục giải thể công ty, doanh nghiệp - 1.500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ giải thể công ty, doanh nghiệp trọn gói tại 2KT từ 20 ngày,
        hoàn thành mọi thủ tục với cơ quan thuế và Sở KH&amp;ĐT. Cam kết không
        phát sinh chi phí giải thể công ty. Gọi ngay!</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Điều kiện giải thể công ty, doanh nghiệp</a>
        </li>
        <li>
          <a>Chi phí giải thể công ty, doanh nghiệp tại 2KT</a>
        </li>
        <li>
          <a>Quy trình giải thể doanh nghiệp tại 2KT</a>
        </li>
        <li>
          <a>Các lưu ý và quy định về giải thể doanh nghiệp</a>
        </li>
      </ul>
    </div>

    <h3 class="sub-title" id="Dieu-kien-giai-the-cong-ty,-doanh-nghiep">
      <strong>Điều kiện giải thể công ty, doanh nghiệp</strong>
    </h3>

    <p style="padding: 0pt 0pt 3.75pt; text-align: justify">
      Theo Luật Doanh nghiệp 2020, doanh nghiệp có thể giải thể trong các trường
      hợp sau:
    </p>

    <p style="list-style-type: decimal; margin-left: 40px; text-align: justify">
      <strong>1. Giải thể tự nguyện:</strong> Theo quyết định của chủ doanh
      nghiệp hoặc khi doanh nghiệp không có quyết định gia hạn thời hạn hoạt
      động đã ghi trong điều lệ.
    </p>

    <p style="list-style-type: decimal; margin-left: 40px; text-align: justify">
      <strong>2. Giải thể bắt buộc:</strong> Nếu công ty không còn đủ số lượng
      thành viên tối thiểu trong 6 tháng liên tục hoặc bị thu hồi GPKD.
    </p>

    <p style="text-align: justify">
      Dù doanh nghiệp giải thể tự nguyện hay bắt buộc, thì thủ tục giải thể vẫn
      phải đảm bảo thời gian thực hiện theo quy định.
    </p>

    <h3 class="sub-title" id="Chi-phi-giai-the-cong-ty,-doanh-nghiep-tai-2KT">
      <strong>Chi phí giải thể công ty, doanh nghiệp tại 2KT</strong>
    </h3>

    <p style="text-align: justify">
      Tùy vào việc doanh nghiệp giải thể đã phát sinh hay chưa phát sinh hóa
      đơn, doanh thu mà chi phí giải thể công ty sẽ khác nhau, trọn gói chỉ từ
      <span style="color: #2a4e9a"
        ><strong>1.500.000 đồng - 25 ngày</strong></span
      >.
    </p>

    <h3 class="sub-title" id="Quy-trinh-giai-the-doanh-nghiep-tai-2KT">
      <strong>Quy trình giải thể doanh nghiệp tại 2KT</strong>
    </h3>

    <p style="list-style-type: disc; text-align: justify">
      <strong>3 hồ sơ, giấy tờ đơn giản mà bạn cần cung cấp</strong>
    </p>

    <p style="list-style-type: disc; text-align: justify">
      Khi sử dụng dịch vụ giải thể công ty, doanh nghiệp tại 2KT, bạn chỉ cần
      cung cấp 3 thông tin sau:
    </p>

    <ol>
      <li style="text-align: justify">Danh sách người lao động;</li>
      <li style="text-align: justify">
        Bản chính giấy phép kinh doanh và con dấu;
      </li>
      <li style="text-align: justify">Các chứng từ và sổ sách kế toán...</li>
    </ol>

    <p style="text-align: justify">
      Ngoài các thông tin trên, tùy theo từng trường hợp cụ thể, bạn cung cấp bổ
      sung cho 2KT các giấy tờ sau (nếu có): công văn xác nhận không nợ thuế;
      công văn xác nhận không nợ BHXH; công văn xác nhận không nợ Tổng cục Hải
      Quan (nếu có đăng ký xuất nhập khẩu); phương án xử lý các khoản nợ khác.
    </p>

    <p style="list-style-type: disc; text-align: justify">
      <strong>25 ngày để 2KT thực hiện thủ tục giải thể công ty</strong>
    </p>

    <p style="padding: 0pt 0pt 3.75pt; text-align: justify">
      Thời gian trung bình cho thủ tục giải thể công ty là từ 20 - 25 ngày, cụ
      thể:
    </p>

    <ol>
      <li style="padding: 0pt 0pt 3.75pt; text-align: justify">
        Từ 5 - 7 ngày làm việc, nộp hồ sơ thông báo giải thể công ty cho Sở
        KH&amp;ĐT;
      </li>
      <li style="padding: 0pt 0pt 3.75pt; text-align: justify">
        Từ 7 - 10 ngày làm việc, hoàn thành thủ tục chốt nợ tại cơ quan thuế;
      </li>
      <li style="padding: 0pt 0pt 3.75pt; text-align: justify">
        Từ 7 - 10 ngày làm việc, nộp hồ sơ giải thể và trả giấy phép kinh doanh
        tại Sở KH&amp;ĐT.
      </li>
    </ol>

    <p style="text-align: justify"><u>Lưu ý</u>:&nbsp;</p>

    <p style="text-align: justify">
      Trên thực tế,<strong> </strong>căn cứ vào hồ sơ của từng doanh nghiệp mà
      thời gian hoàn thành thủ tục giải thể công ty có thể kéo dài trên 30
      ngày.&nbsp;
    </p>

    <p style="padding: 0pt 0pt 3.75pt; text-align: justify">
      <span style="color: #e5451b"><strong>Tham khảo chi tiết:</strong></span>
    </p>

    <p style="list-style-type: disc; text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<a>Quy trình giải thể công ty chưa phát sinh doanh thu, hóa đơn</a
      >;
    </p>

    <p style="list-style-type: disc; text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<a
        >Thủ tục, hồ sơ giải thể công ty đã phát sinh doanh thu, hóa đơn</a
      >.&nbsp;
    </p>

    <p style="text-align: justify">
      ►&nbsp;<strong
        >9 quyền lợi khi bạn sử dụng dịch vụ giải thể công ty tại 2KT</strong
      >
    </p>

    <p style="padding: 0pt 0pt 3.75pt; text-align: justify">
      Khi sử dụng dịch vụ giải thể công ty tại 2KT, bạn sẽ tối ưu chi phí và
      thời gian đối với các yêu cầu thủ tục pháp lý phức tạp giữa cơ quan thuế
      và Sở KH&amp;ĐT, cụ thể 2KT sẽ thay bạn hoàn thành các việc dưới đây:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Tư vấn miễn phí các quy định pháp lý trước khi thực hiện thủ tục giải
        thể;
      </li>
      <li aria-level="1" style="text-align: justify">
        Soạn quyết định giải thể công ty và tất cả giấy tờ liên quan đến việc
        giải thể;
      </li>
      <li aria-level="1" style="text-align: justify">
        Soạn chi tiết danh sách các khoản nợ (bao gồm thông tin chủ nợ, khoản nợ
        đã thanh toán/chưa thanh toán, nợ thuế, nợ BHXH…);
      </li>
      <li aria-level="1" style="text-align: justify">
        Đại diện doanh nghiệp nộp hồ sơ và nhận kết quả tại Sở KH&amp;ĐT;
      </li>
      <li aria-level="1" style="text-align: justify">
        Thực hiện thủ tục hủy con dấu tại cơ quan công an;
      </li>
      <li aria-level="1" style="text-align: justify">
        Thực hiện thủ tục khóa mã số thuế và các nghĩa vụ thuế khác tại cơ quan
        thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Làm thủ tục thông báo công bố giải thể doanh nghiệp trên Cổng thông tin
        quốc gia;
      </li>
      <li aria-level="1" style="text-align: justify">
        Đại diện doanh nghiệp hoàn thành các nghĩa vụ tài chính khác với cơ quan
        nhà nước;
      </li>
      <li aria-level="1" style="text-align: justify">
        Bàn giao kết quả cuối cùng về giải thể công ty tận nơi.
      </li>
    </ol>

    <p style="text-align: justify"><u>Lưu ý</u>:&nbsp;</p>

    <p style="text-align: justify">
      Tùy vào từng cơ quan thuế mà thời gian có thông báo giải thể và khóa mã số
      thuế từ 7 - 15 ngày.
    </p>

    <h3
      class="sub-title"
      id="Cac-luu-y-va-quy-dinh-ve-giai-the-doanh-nghiep"
      style="text-align: justify"
    >
      Các lưu ý và quy định về giải thể doanh nghiệp
    </h3>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Trong vòng 7 ngày làm việc, sau khi nghị quyết giải thể được hội đồng cổ
        đông/thành viên thông qua, doanh nghiệp phải gửi thông báo về việc giải
        thể đến Phòng Đăng ký kinh doanh nơi doanh nghiệp đặt trụ sở chính;
      </li>
      <li aria-level="1" style="text-align: justify">
        Trong vòng 5 ngày làm việc, sau khi thanh toán các khoản nợ, doanh
        nghiệp gửi hồ sơ giải thể đến Phòng Đăng ký kinh doanh nơi doanh nghiệp
        đặt trụ sở chính;
      </li>
      <li aria-level="1" style="text-align: justify">
        Nếu doanh nghiệp có chi nhánh, văn phòng đại diện, địa điểm kinh doanh
        thì phải thực hiện giải thể các đơn vị phụ thuộc trước khi làm hồ sơ
        giải thể doanh nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Trong vòng 7 ngày làm việc, sau khi hoàn thành thủ tục giải thể, doanh
        nghiệp phải gửi thông báo bằng văn bản đến các bên liên quan. Đồng thời,
        doanh nghiệp niêm yết công khai thông tin giải thể tại trụ sở chính và
        các đơn vị phụ thuộc (nếu có);
      </li>
      <li aria-level="1" style="text-align: justify">
        Đối với trường hợp giải thể bắt buộc do bị thu hồi GPKD, trong vòng 10
        ngày làm việc kể từ ngày bị thu hồi, doanh nghiệp phải thông qua hội
        đồng cổ đông/thành viên để có quyết định giải thể.
      </li>
    </ol>
  </div>
</div>
