<div class="hp-content">
  <app-header></app-header>
  <div class="custom-bg-color pb-8">
    <div class="bg-black text-white pt-32 pb-64">
      <h1 class="text-center text-6xl">Giải pháp toàn diện cho khách hàng</h1>
      <p class="text-center pt-8">
        Cam kết cung cấp các giải pháp thuế toàn diện cho khách hàng,<br />
        Luôn rõ ràng trong tư vấn, đàm phán và quy trình làm việc, mang lại hiệu
        quả tốt nhất cho khách hàng
      </p>
    </div>
    <div class="px-16">
      <div class="flex flex-wrap justify-center lg:mx-4 mb-16 lx-container">
        <div
          *ngFor="let service of services"
          class="sv-card flex items-end m-2 cursor-pointer"
        >
          <h3
            class="text-center w-full text-white common-bg !mb-0 opacity-80 py-4"
          >
            {{ service.label }}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <app-footer></app-footer>
  </div>
</div>
