<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ bổ sung, thay đổi ngành nghề kinh doanh, chỉ 500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Thủ tục thay đổi, đăng ký thêm ngành nghề kinh doanh là bắt buộc nếu
        doanh nghiệp có bất cứ điều chỉnh tăng/giảm về mã ngành trong giấy phép
        kinh doanh. Liên hệ 2KT để thủ tục được hoàn thành nhanh chóng trong
        vòng 3 ngày.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Tổng chi phí thay đổi, bổ sung ngành nghề kinh doanh</a>
        </li>
        <li>
          <a>9 việc 2KT sẽ làm thay bạn</a>
        </li>
        <li>
          <a
            >Tổng thời gian hoàn thành thủ tục thay đổi ngành nghề kinh doanh</a
          >
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Tong-chi-phi-thay-doi,-bo-sung-nganh-nghe-kinh-doanh"
    >
      <a id="buoc1" name="buoc1"
        >Tổng chi phí thay đổi, bổ sung ngành nghề kinh doanh</a
      >
    </h3>

    <p style="text-align: justify">
      Khi làm thủ tục thay đổi, bổ sung ngành nghề kinh doanh, bạn cần nộp lệ
      phí nhà nước và phí dịch vụ tại 2KT, chi tiết các khoản phí như sau:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          Lệ phí nộp hồ sơ bổ sung ngành nghề kinh doanh và cấp giấy xác nhận về
          việc thay đổi nội dung đăng ký doanh nghiệp tại Sở KH&amp;ĐT -
          <span style="color: #2a4e9a"><strong>200.000 đồng;</strong></span>
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Lệ phí công bố thay đổi ngành nghề kinh doanh tại Cổng thông tin quốc
          gia -
          <span style="color: #2a4e9a"><strong>300.000 đồng;</strong></span>
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Phí dịch vụ đăng ký bổ sung ngành nghề kinh doanh tại 2KT -
          <span style="color: #2a4e9a"><strong>500.000 đồng.</strong></span>
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Như vậy, tổng chi phí trọn gói khi làm hồ sơ bổ sung ngành nghề kinh doanh
      công ty là
      <span style="color: #2a4e9a"><strong>1.000.000 đồng.</strong></span>
    </p>

    <p style="text-align: justify"><u>Lưu ý:&nbsp;</u></p>

    <p style="text-align: justify">
      Bạn cần trả thêm phí mã hóa ngành nghề - 200.000 đồng nếu doanh nghiệp
      thuộc 2 trường hợp sau:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          Đối với doanh nghiệp thành lập trước 20/08/2018: Nếu danh sách ngành
          nghề của doanh nghiệp có ngành nghề chưa được mã hóa;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Đối với doanh nghiệp chưa từng làm thủ tục thay đổi nội dung trên giấy
          phép kinh doanh: Nếu ngành nghề chưa có mã riêng.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      <strong><span style="color: #e5451b">Tham khảo thêm:</span></strong>
    </p>

    <p style="text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<a>Tra cứu mã ngành nghề kinh doanh Việt Nam</a>;
    </p>

    <p style="text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<a>Danh mục 227 mã ngành nghề kinh doanh có điều kiện</a>.
    </p>

    <h3 class="sub-title" id="9-viec-2KT-se-lam-thay-ban">
      <a id="buoc2" name="buoc2">9 việc 2KT sẽ làm thay bạn</a>
    </h3>

    <p style="text-align: justify">
      Việc chọn lựa dịch vụ điều chỉnh ngành nghề của 2KT vừa giúp bạn tiết kiệm
      thời gian cho những thủ tục rườm rà, vừa đẩy nhanh quá trình hoàn thành hồ
      sơ để Sở KH&amp;ĐT cấp giấy xác nhận về việc thay đổi nội dung đăng ký
      doanh nghiệp - là điều kiện quan trọng để doanh nghiệp hoạt động kinh
      doanh, xuất hóa đơn...
    </p>

    <p style="text-align: justify">
      2KT sẽ thay bạn hoàn thiện các công việc sau:
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        <strong>1.</strong> Soạn thông báo về việc thay đổi/bổ sung ngành nghề
        kinh doanh;
      </p>

      <p style="text-align: justify">
        <strong>2.</strong> Soạn quyết định về việc thay đổi/bổ sung ngành nghề
        kinh doanh;
      </p>

      <p style="text-align: justify">
        <strong>3.</strong> Soạn biên bản họp về việc thay đổi/bổ sung ngành
        nghề kinh doanh;
      </p>

      <p style="text-align: justify">
        <strong>4.</strong> Soạn tờ khai thông tin người nộp hồ sơ thay đổi/bổ
        sung ngành nghề đăng ký kinh doanh;
      </p>

      <p style="text-align: justify">
        <strong>5.</strong> Thực hiện thủ tục mã hóa ngành nghề;
      </p>

      <p style="text-align: justify">
        <strong>6.</strong> Chuẩn bị mục lục hồ sơ, bìa hồ sơ theo quy định của
        Sở KH&amp;ĐT;
      </p>

      <p style="text-align: justify">
        <strong>7.</strong> Đại diện doanh nghiệp nộp hồ sơ và nhận kết quả tại
        Sở KH&amp;ĐT;
      </p>

      <p style="text-align: justify">
        <strong>8.</strong> Công bố về việc thay đổi/bổ sung ngành nghề kinh
        doanh tại Cổng thông tin quốc gia;&nbsp;
      </p>

      <p style="text-align: justify">
        <strong>9.</strong> Bàn giao giấy giấy xác nhận về việc thay đổi nội
        dung đăng ký doanh nghiệp.&nbsp;
      </p>
    </div>

    <p style="text-align: justify">
      Thay vì phải tự thực hiện ít nhất 9 việc kể trên, khi sử dụng dịch vụ bổ
      sung ngành nghề kinh doanh tại 2KT bạn chỉ cần cung cấp 2 thông tin:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">MST công ty;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">Ngành nghề dự định tăng/giảm.</p>
      </li>
    </ul>

    <p style="text-align: justify"><u>Lưu ý:&nbsp;</u></p>

    <p style="text-align: justify">
      Hỗ trợ tư vấn miễn phí thủ tục xin giấy chứng nhận/các giấy tờ liên quan
      khác đối với ngành nghề có điều kiện yêu cầu giấy phép con, chứng chỉ hành
      nghề...;
    </p>

    <p style="text-align: justify">
      Hỗ trợ tư vấn miễn phí chi tiết mã ngành nghề kinh doanh dự định thay đổi.
    </p>

    <p style="text-align: justify">
      Hỗ trợ dịch vụ giao, nhận tận nơi miễn phí trong suốt quá trình thực hiện
      thủ tục bổ sung, thay đổi ngành nghề kinh doanh.
    </p>

    <p style="text-align: justify">&nbsp;</p>

    <h3
      class="sub-title"
      id="Tong-thoi-gian-hoan-thanh-thu-tuc-thay-doi-nganh-nghe-kinh-doanh"
    >
      <a id="buoc3" name="buoc3"
        >Tổng thời gian hoàn thành thủ tục thay đổi ngành nghề kinh doanh</a
      >
    </h3>

    <p style="text-align: justify">
      Thời gian 2KT cần để hoàn thiện thủ tục là từ 3 - 4 ngày, kể từ thời điểm
      tiếp nhận yêu cầu dịch vụ của khách hàng. Trong đó:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          1 ngày để tư vấn, soạn hồ sơ và trình khách hàng ký hồ sơ thay đổi,
          điều chỉnh ngành nghề công ty.
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          3 ngày để Sở KH&amp;ĐT cấp giấy xác nhận về việc thay đổi nội dung
          đăng ký doanh nghiệp và 2KT bàn giao tận nơi cho khách hàng.
        </p>
      </li>
    </ul>
  </div>
</div>
