<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ quyết toán thuế doanh nghiệp cuối năm - 1.000.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Chi phí dịch vụ quyết toán thuế cuối năm (báo cáo tài chính năm, báo
        cáo thuế cuối năm) cho doanh nghiệp trọn gói từ 1.000.000 đồng. Chịu
        100% trách nhiệm.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Bộ hồ sơ quyết toán thuế cuối năm gồm những gì?</a>
        </li>
        <li>
          <a
            >Giá dịch vụ quyết toán thuế doanh nghiệp cuối năm trọn gói - Chi
            phí tốt nhất</a
          >
        </li>
        <li>
          <a
            >Thông tin doanh nghiệp cung cấp cho dịch vụ thuê - kế toán 2KT khi
            chọn dịch vụ quyết toán thuế</a
          >
        </li>
        <li>
          <a
            >3 ưu điểm về dịch vụ quyết toán thuế cuối năm (báo cáo tài chính
            năm) ở dịch vụ thuê - kế toán 2KT</a
          >
        </li>
        <li>
          <a
            >Câu hỏi thường gặp về dịch vụ quyết toán thuế cuối năm doanh
            nghiệp</a
          >
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Bo-ho-so-quyet-toan-thue-cuoi-nam-gom-nhung-gi?"
      style="text-align: justify"
    >
      <strong>Bộ hồ sơ quyết toán thuế cuối năm gồm những gì?</strong>
    </h3>

    <p style="text-align: justify">
      Quyết toán thuế cuối năm hay còn gọi là
      <a>báo cáo tài chính cuối năm</a>, báo cáo thuế năm… là một trong những
      nghĩa vụ thuế quan trọng và bắt buộc đối với doanh nghiệp. Để tiến hành
      thủ tục này thì doanh nghiệp cần làm những báo cáo sau và nộp cho cơ quan
      thuế trực tiếp quản lý chậm nhất vào ngày 31/03 hằng năm.
    </p>

    <ol>
      <li style="text-align: justify">
        Báo cáo tài chính năm, bao gồm:
        <ul>
          <li style="text-align: justify">Bảng cân đối kế toán;</li>
          <li style="text-align: justify">
            Báo cáo kết quả hoạt động kinh doanh;
          </li>
          <li style="text-align: justify">Báo cáo lưu chuyển tiền tệ;</li>
          <li style="text-align: justify">Thuyết minh báo cáo tài chính.</li>
        </ul>
      </li>
      <li style="text-align: justify">
        Bảng cân đối tài khoản (nếu công ty áp dụng chế độ kế toán theo Thông tư
        133);
      </li>
      <li style="text-align: justify">
        Tờ khai quyết toán thuế thu nhập doanh nghiệp;
      </li>
      <li style="text-align: justify">
        Tờ khai quyết toán thuế thu nhập cá nhân (nếu công ty có phát sinh chi
        trả lương cho nhân viên).
      </li>
    </ol>

    <p style="text-align: justify">
      Thủ tục
      <a>báo cáo quyết toán thuế năm</a>
      không chỉ yêu cầu về tính chuẩn xác của số liệu, đầy đủ về hồ sơ mà còn
      phải đúng thời hạn quy định. Vậy nên nếu kế toán viên của doanh nghiệp
      chưa vững nghề, chưa đủ kinh nghiệm quyết toán thuế hoặc với những doanh
      nghiệp chưa hoàn thiện về chứng từ, sổ sách kế toán thì khó có thể đảm bảo
      được các quy định khi quyết toán thuế cuối năm. Điều này có thể dẫn đến
      các lỗi vi phạm về kế toán - thuế và bị xử phạt không mong muốn.&nbsp;
    </p>

    <p style="text-align: justify">
      Bạn dành chút thời gian tham khảo dịch vụ quyết toán thuế trọn gói (<a
        >báo cáo thuế cuối năm</a
      >) từ 1.000.000 đồng tại dịch vụ thuê - kế toán 2KT theo nội dung phía
      dưới để có thêm sự chọn lựa phù hợp và tối ưu cho doanh nghiệp.
    </p>

    <h3
      class="sub-title"
      id="Gia-dich-vu-quyet-toan-thue-doanh-nghiep-cuoi-nam-tron-goi---Chi-phi-tot-nhat"
      style="text-align: justify"
    >
      <a id="gia" name="gia"
        ><strong
          >Giá dịch vụ quyết toán thuế doanh nghiệp cuối năm trọn gói - Chi phí
          tốt nhất</strong
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Trường hợp doanh nghiệp thành lập trong quý 4 (tháng 10, tháng 11 và tháng
      12), chưa phát sinh hóa đơn và chưa phát sinh chi phí lương thì giá dịch
      vụ quyết toán thuế chỉ 1.000.000 đồng.
    </p>

    <p style="text-align: justify">
      Ngoài trường hợp trên thì chi phí quyết toán thuế doanh nghiệp tại dịch vụ
      thuê - kế toán 2KT sẽ có sự điều chỉnh dựa trên ngành nghề hoạt động kinh
      doanh cũng như số lượng hóa đơn đầu vào - đầu ra.
    </p>

    <div>
      <table
        cellspacing="0"
        style="border-collapse: collapse; border: none; width: 100%"
      >
        <tbody>
          <tr>
            <td
              colspan="3"
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Nhóm ngành thương mại</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <span style="color: #ffffff"><strong>Số hóa đơn</strong></span>
            </td>
            <td
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Không có tờ khai hải quan</strong></span
              >
            </td>
            <td
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Có tờ khai hải quan</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Không có hóa đơn</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              2.500.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              2.500.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Dưới 25</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              4.000.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              6.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Dưới 45</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              6.000.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              8.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Dưới 75</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              8.000.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              10.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Dưới 155</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              10.000.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              12.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Dưới 135</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              12.000.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              14.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Dưới 155</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              13.500.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              15.500.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Dưới 185</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              15.000.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 206px;
              "
            >
              17.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 141px;
              "
            >
              <strong>Từ 185 trở lên</strong>
            </td>
            <td
              colspan="2"
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 253px;
              "
            >
              Liên hệ hotline dịch vụ thuê - kế toán 2KT để nhận báo giá
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <table
        cellspacing="0"
        style="border-collapse: collapse; border: none; width: 100%"
      >
        <tbody>
          <tr>
            <td
              colspan="2"
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Nhóm ngành tư vấn dịch vụ</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <span style="color: #ffffff"><strong>Số hóa đơn</strong></span>
            </td>
            <td
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Chi phí quyết toán thuế</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Không có hóa đơn</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              2.500.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 25</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              5.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 45</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              7.500.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 65</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              9.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 85</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              10.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 155</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              11.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 135</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              13.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 155</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              14.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Từ 155 trở lên</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              Liên hệ hotline dịch vụ thuê - kế toán 2KT để nhận báo giá
            </td>
          </tr>
        </tbody>
      </table>

      <p>&nbsp;</p>

      <table
        cellspacing="0"
        style="
          border-color: initial;
          border-style: none;
          border-width: initial;
          font-size: 1rem;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              colspan="2"
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <span style="color: #ffffff"
                ><strong
                  >Nhóm ngành thi công xây dựng - trang trí nội thất - sản xuất
                  - gia công - lắp đặt</strong
                ></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <span style="color: #ffffff"><strong>Số hóa đơn</strong></span>
            </td>
            <td
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Chi phí quyết toán thuế</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Không có hóa đơn</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              2.500.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 15</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              5.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 25</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              8.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 45</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              12.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Dưới 65</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              15.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>Từ 65 trở lên</strong>
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 458px;
              "
            >
              Liên hệ hotline dịch vụ thuê - kế toán 2KT để nhận báo giá
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3
      class="sub-title"
      id="Thong-tin-doanh-nghiep-cung-cap-cho-2KT-khi-chon-dich-vu-quyet-toan-thue"
      style="text-align: justify"
    >
      <strong
        >Thông tin doanh nghiệp cung cấp cho dịch vụ thuê - kế toán 2KT khi chọn dịch vụ quyết toán
        thuế</strong
      >
    </h3>

    <p style="text-align: justify">
      Với dịch vụ quyết toán thuế cuối năm trọn gói thì bạn chỉ cần tổng hợp các
      giấy tờ, chứng từ cơ bản gửi cho dịch vụ thuê - kế toán 2KT như là:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Bảng cân đối tài khoản năm trước báo cáo;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hóa đơn đầu ra và hóa đơn đầu vào của năm cần quyết toán thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Bảng lương và thông tin CCCD/MST của người lao động;
      </li>
      <li aria-level="1" style="text-align: justify">
        Sao kê tài khoản ngân hàng công ty năm báo cáo.
      </li>
    </ol>

    <p style="text-align: justify">
      Theo như bảng giá quyết toán thuế cuối năm mà dịch vụ thuê - kế toán 2KT chia sẻ như trên thì chỉ
      từ 1.000.000 đồng, doanh nghiệp sẽ có thể đơn giản hóa mọi thủ tục kế toán
      - thuế phải làm, đồng thời các thông tin và giấy tờ cần cung cấp cũng khá
      đơn giản.&nbsp;
    </p>

    <div>
      <table
        cellspacing="0"
        style="border-collapse: collapse; border: none; width: 100%"
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
                width: 142px;
              "
            >
              <strong>➧ Đặc biệt: </strong>Miễn phí vận chuyển, miễn phí chi phí
              giao nhận trong suốt quá trình sử dụng dịch vụ quyết toán thuế
              cuối năm tại dịch vụ thuê - kế toán 2KT
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">----</p>

    <p style="text-align: justify">
      Tuy nhiên, trong trường hợp sau khi tiếp nhận thông tin từ doanh nghiệp,
      dịch vụ thuê - kế toán 2KT rà soát và phát hiện có sai sót trong số liệu hóa đơn, chứng
      từ, tờ khai thuế trong năm mà công ty đã nộp trong năm thì dịch vụ thuê - kế toán 2KT sẽ tư vấn
      phương pháp xử lý hoặc bạn cũng có thể tham khảo các dịch vụ liên quan sau
      đây:
    </p>

    <p style="text-align: justify">
      <strong><span style="color: #e5451b">&gt;&gt;</span></strong>
      <a>Dịch vụ làm sổ sách kế toán doanh nghiệp</a>;
    </p>

    <p style="text-align: justify">
      <strong><span style="color: #e5451b">&gt;&gt;</span></strong>
      <a>Dịch vụ kế toán nội bộ trọn gói cho doanh nghiệp</a>;
    </p>

    <p style="text-align: justify">
      <strong><span style="color: #e5451b">&gt;&gt;</span></strong>
      <a>Dịch vụ soạn thảo, rà soát hợp đồng doanh nghiệp</a>.
    </p>

    <h3
      class="sub-title"
      id="3-uu-diem-ve-dich-vu-quyet-toan-thue-cuoi-nam-(bao-cao-tai-chinh-nam)-o-2KT"
      style="text-align: justify"
    >
      <strong
        >3 ưu điểm về dịch vụ quyết toán thuế cuối năm (báo cáo tài chính năm) ở
        dịch vụ thuê - kế toán 2KT</strong
      >
    </h3>

    <p style="text-align: justify">
      Hiện nay trên thị trường có vô vàn đơn vị - công ty cung cấp dịch vụ quyết
      toán thuế cuối năm cho hầu hết doanh nghiệp dù ở bất cứ lĩnh vực và quy mô
      nào. Vậy, dịch vụ quyết toán cuối năm của dịch vụ thuê - kế toán 2KT có điểm mạnh nào để khách
      hàng tin tưởng và chọn lựa?&nbsp;
    </p>

    <p style="text-align: justify">
      Dưới đây là 3 điểm sáng vượt trội của dịch vụ quyết toán thuế cuối năm tại
      dịch vụ thuê - kế toán 2KT.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong>1. Cam kết giá - Chi phí rõ ràng&nbsp;</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Thông báo chi phí trọn gói là một trong những nguyên tắc khi chuyên viên
      của dịch vụ thuê - kế toán 2KT tiếp nhận thông tin và tiến hành tư vấn cho khách hàng,
      không chỉ riêng dịch vụ quyết toán thuế cuối năm mà đối với tất cả dịch vụ
      tại dịch vụ thuê - kế toán 2KT. Vì vậy, bạn không phải lo lắng các trường hợp phát sinh chi phí
      hoặc là vượt ngân sách dự kiến bởi mọi hạng mục thanh toán cần thiết đều
      đã được dịch vụ thuê - kế toán 2KT liệt kê và cam kết mức giá tốt nhất thị trường.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong>2. Miễn phí tư vấn phương án tối ưu thuế</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Như ở phần trên dịch vụ thuê - kế toán 2KT có chia sẻ, khi sử dụng dịch vụ quyết toán thuế cuối
      năm, ngoài việc dịch vụ thuê - kế toán 2KT miễn phí rà soát các sai phạm trong chứng từ - hóa đơn
      thì doanh nghiệp cũng sẽ được miễn phí tư vấn phương án tối ưu thuế.&nbsp;
    </p>

    <p style="text-align: justify">
      Trong một số trường hợp, tối ưu thuế không đồng nghĩa với việc giảm thuế
      phải nộp vào ngân sách nhà nước mà còn có thể tăng. Tuy vậy, việc tăng số
      tiền thuế phải nộp ở trường hợp này sẽ đi kèm với việc tăng doanh thu,
      tăng lợi nhuận và giảm các khoản thu nhập chịu thuế. Đây chính là phương
      pháp tối ưu thuế đường dài hiệu quả mà dịch vụ thuê - kế toán 2KT đã áp dụng thành công
      cho rất nhiều doanh nghiệp trong suốt 17 năm hoạt động.&nbsp;
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong
            >3. Cam kết trách nhiệm - Tuyệt đối bảo mật thông tin</strong
          ></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Một trong những băn khoăn của khách hàng khi sử dụng
      <a>dịch vụ kế toán thuế thuê ngoài</a>
      đó là ai sẽ chịu trách nhiệm khi phát sinh sai phạm.
    </p>

    <p style="text-align: justify">
      Với dịch vụ quyết toán thuế cuối năm nói riêng và các dịch vụ pháp lý -
      <a>kế toán thuế doanh nghiệp</a>
      nói chung tại dịch vụ thuê - kế toán 2KT, tất cả mọi sai sót về số liệu do chuyên viên của dịch vụ thuê - kế toán 2KT
      thực hiện thì dịch vụ thuê - kế toán 2KT sẽ chịu trách nhiệm giải quyết, bồi thường và trực tiếp
      giải trình với cơ quan thuế về các số liệu đó.&nbsp;
    </p>

    <p style="text-align: justify">
      Ngoài ra, khi doanh nghiệp cung cấp chứng từ, hóa đơn, dữ liệu kế toán nói
      chung để dịch vụ thuê - kế toán 2KT làm quyết toán thuế cuối năm thì dịch vụ thuê - kế toán 2KT cũng sẽ cam kết lưu giữ
      và bảo mật an toàn.
    </p>

    <p style="text-align: justify">----</p>

    <p style="text-align: justify">
      Cùng với 3 điểm sáng về dịch vụ thì khi doanh nghiệp quyết toán thuế cuối
      năm thông qua dịch vụ của dịch vụ thuê - kế toán 2KT sẽ nhận được những lợi ích như là:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Tránh được tối đa các trường hợp vi phạm quy định thuế, từ đó tránh được
        các khoản phạt thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Được hỗ trợ phân loại và thống kê chứng từ một cách rõ ràng, có hệ thống
        để thuận tiện cho việc sử dụng sau này;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tiết kiệm được khá nhiều thời gian chuẩn bị, đi lại và các chi phí liên
        quan đến quá trình quyết toán thuế cuối năm: lương nhân viên, in
        ấn…&nbsp;
      </li>
    </ul>

    <h3
      class="sub-title"
      id="Cau-hoi-thuong-gap-ve-dich-vu-quyet-toan-thue-cuoi-nam-doanh-nghiep"
      style="text-align: justify"
    >
      <strong
        >Câu hỏi thường gặp về dịch vụ quyết toán thuế cuối năm doanh
        nghiệp</strong
      >
    </h3>

    <p style="text-align: justify">
      <strong>1. Giá dịch vụ quyết toán thuế của dịch vụ thuê - kế toán 2KT bao nhiêu?</strong>
    </p>

    <p style="text-align: justify">
      Chi phí quyết toán thuế cuối năm trọn gói cho doanh nghiệp tại dịch vụ thuê - kế toán 2KT là từ
      1.000.000 đồng - áp dụng toàn quốc. Tùy vào nhóm ngành, lĩnh vực cũng như
      số lượng hóa đơn phát sinh mà chi phí sẽ có sự khác biệt.&nbsp;
    </p>

    <p style="text-align: justify">
      <strong
        ><span style="color: #e5451b">&gt;&gt; Xem chi tiết:</span> </strong
      ><a>Bảng giá báo cáo tài chính cuối năm.</a>
    </p>

    <p style="text-align: justify">
      <strong
        >2. Dịch vụ quyết toán thuế trọn gói của dịch vụ thuê - kế toán 2KT gồm những hạng mục công
        việc nào?</strong
      >
    </p>

    <p style="text-align: justify">
      Với chi phí quyết toán thuế trọn gói chỉ từ 1.000.000 đồng, dịch vụ thuê - kế toán 2KT sẽ
      thay doanh nghiệp hoàn thành 100% bộ hồ sơ quyết toán thuế cuối năm, chẳng
      hạn:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Lập bảng cân đối kế toán;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lập bảng khấu hao tài sản cố định;
      </li>
      <li aria-level="1" style="text-align: justify">
        Kết chuyển, tổng hợp thông tin để lên sổ sách kế toán, báo cáo kết quả
        kinh doanh, thuyết minh báo cáo tài chính…
      </li>
    </ul>

    <p style="text-align: justify">
      Ngoài ra, trong quá trình tiếp nhận và rà soát chứng từ - hóa đơn từ doanh
      nghiệp mà dịch vụ thuê - kế toán 2KT phát hiện các sai phạm trong số liệu thì dịch vụ thuê - kế toán 2KT sẽ miễn phí tư
      vấn phương pháp xử lý, điều chỉnh.
    </p>

    <p style="text-align: justify">
      <strong
        >3. Các ưu điểm khi sử dụng dịch vụ quyết toán thuế (báo cáo tài chính)
        cuối năm tại dịch vụ thuê - kế toán 2KT?</strong
      >
    </p>

    <p style="text-align: justify">
      Khi sử dụng dịch vụ quyết toán thuế cuối năm tại dịch vụ thuê - kế toán 2KT, doanh nghiệp sẽ
      được:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Cam kết giá với mức giá tốt nhất thị trường;
      </li>
      <li aria-level="1" style="text-align: justify">
        Giảm tối đa các sai phạm liên quan thuế, tránh được các khoản phạt thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Miễn phí tư vấn phương án tối ưu thuế, tăng doanh thu, tăng lợi nhuận;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tiết kiệm tối đa chi phí, thời gian và công sức…&nbsp;
      </li>
    </ul>
  </div>
</div>
