<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ đăng ký làm Giấy Phép Kinh Doanh, 250.000đ - 3 ngày
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Tiết kiệm chi phí và thời gian khi sử dụng dịch vụ xin giấy phép kinh
        doanh tại dịch vụ thuê - kế toán 2KT. Hoàn thành thủ tục làm giấy phép kinh doanh từ 3 ngày -
        chỉ với 250.000đ.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Xác định loại hình đăng ký giấy phép kinh doanh</a>
        </li>
        <li>
          <a>Tổng chi phí đăng ký giấy phép kinh doanh tại dịch vụ thuê - kế toán 2KT</a>
        </li>
        <li>
          <a>Thời gian cấp giấy phép kinh doanh</a>
        </li>
        <li>
          <a
            >6 lợi thế khi sử dụng dịch vụ đăng ký giấy phép kinh doanh tại
            dịch vụ thuê - kế toán 2KT</a
          >
        </li>
        <li>
          <a>6 việc cần làm sau khi được cấp giấy phép kinh doanh</a>
        </li>
        <li>
          <a
            >Các loại giấy phép con, chứng chỉ cần xin sau khi đăng ký kinh
            doanh</a
          >
        </li>
      </ul>
    </div>

    <h3 class="sub-title" id="Xac-dinh-loai-hinh-dang-ky-giay-phep-kinh-doanh">
      <a id="buoc1" name="buoc1"
        >Xác định loại hình đăng ký giấy phép kinh doanh</a
      >
    </h3>

    <p style="text-align: justify">
      Loại hình thành lập sẽ ảnh hưởng đến thủ tục và chi phí, do đó, bạn cần
      xác định loại hình trước khi đăng ký giấy phép kinh doanh.
    </p>

    <p style="text-align: justify">
      Theo đó, các loại hình phải đăng ký giấy phép kinh doanh bao gồm: hộ kinh
      doanh cá thể và doanh nghiệp (doanh nghiệp tư nhân, công ty cổ phần, công
      ty TNHH 1 thành viên và công ty TNHH 2 thành viên trở lên, công ty hợp
      danh).
    </p>

    <p style="text-align: justify">
      Tùy vào nhu cầu phát triển kinh doanh mà chọn lựa loại hình thành lập phù
      hợp, cụ thể:
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #0b5394"
          ><strong>1. Thành lập hộ kinh doanh cá thể</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Hộ kinh doanh cá thể thường là sự lựa chọn ưu tiên của nhiều cá nhân, hộ
      gia đình khi họ có nhu cầu kinh doanh quy mô nhỏ (như tiệm tạp hóa, tiệm
      giặt là, quán ăn...), bởi thủ tục
      <a>xin giấy phép hộ kinh doanh</a>
      và cách thức hoạt động của hộ kinh doanh khá đơn giản.&nbsp;
    </p>

    <p style="text-align: justify">
      Vì không có tư cách pháp nhân, không có con dấu pháp nhân nên hộ kinh
      doanh không phải nộp báo cáo quý, báo cáo năm như doanh nghiệp.
    </p>

    <p style="text-align: justify">
      Hiện tại, hộ kinh doanh không còn bị giới hạn số lượng lao động và có thể
      đăng ký sử dụng hóa đơn bán hàng điện tử để xuất hóa đơn cho doanh nghiệp.
      Đây cũng là điều kiện thuận lợi để hộ kinh doanh có thể dễ dàng mở rộng
      quy mô cũng như tiếp cận được nhiều đối tượng khách hàng.
    </p>

    <p style="text-align: justify">
      <strong
        ><span style="font-size: 18px"
          ><span style="color: #0b5394">2.</span></span
        ><span style="font-size: 18px"
          ><span style="color: #0b5394">
            Thành lập doanh nghiệp, công ty</span
          ></span
        ></strong
      >
    </p>

    <p style="text-align: justify">
      Nếu quy mô hoạt động kinh doanh lớn, doanh nghiệp cần có tư cách pháp nhân
      để được pháp luật bảo vệ và được phép xuất hóa đơn giá trị gia tăng (hóa
      đơn đỏ). Đồng thời, thành lập doanh nghiệp sẽ tạo điều kiện thuận lợi
      trong việc huy động vốn và giao dịch với đối tác, khách hàng...
    </p>

    <p style="text-align: justify">
      Tại bài viết này, dịch vụ thuê - kế toán 2KT sẽ thông tin chi tiết dịch vụ đăng ký giấy phép kinh
      doanh cho 4 loại hình doanh nghiệp sau:&nbsp;
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <a>Doanh nghiệp tư nhân</a>: Do 1 cá nhân làm chủ và chịu trách nhiệm
        bằng toàn bộ tài sản của mình;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Công ty cổ phần</a>: Tối thiểu có 3 cổ đông sáng lập;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Công ty TNHH 1 thành viên</a>: Do 1 tổ chức hoặc cá nhân thành lập;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Công ty TNHH 2 thành viên trở lên</a>: Từ 2 đến 50 thành viên góp
        vốn.
      </li>
    </ul>

    <p style="text-align: justify">
      Nếu doanh nghiệp vẫn chưa chọn được loại hình doanh nghiệp phù hợp, hãy
      gọi dịch vụ thuê - kế toán 2KT để được hỗ trợ tư vấn miễn phí.
    </p>

    <h3
      class="sub-title"
      id="Tong-chi-phi-dang-ky-giay-phep-kinh-doanh-tai-2KT"
    >
      <a name="buoc2"
        ><strong>Tổng chi phí đăng ký giấy phép kinh doanh tại 2KT</strong></a
      >
    </h3>

    <p style="text-align: justify">
      Trọn gói chi phí dịch vụ làm giấy phép kinh doanh tại Kế toán 2KT là
      1.000.000 đồng, đã bao gồm các hạng mục chi phí sau:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Phí dịch vụ tại Kế toán 2KT;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lệ phí nộp cơ quan đăng ký kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lệ phí ủy quyền nộp hồ sơ đăng ký giấy phép kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lệ phí khắc con dấu tròn pháp nhân;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lệ phí đăng bố cáo thành lập doanh nghiệp.
      </li>
    </ol>

    <h3 class="sub-title" id="Thoi-gian-cap-giay-phep-kinh-doanh">
      <a name="buoc3"><strong>Thời gian cấp giấy phép kinh doanh</strong></a>
    </h3>

    <p style="text-align: justify">
      Tại Kế toán 2KT, thủ tục đăng ký giấy phép kinh doanh công ty cổ phần hay
      giấy phép kinh doanh công ty TNHH đều sẽ được hoàn thành nhanh chóng, chỉ
      trong khoảng thời gian từ 3 ngày làm việc.&nbsp;
    </p>

    <p style="text-align: justify">
      Kế toán 2KT sẽ thay bạn thực hiện các việc sau:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Soạn toàn bộ hồ sơ đăng ký xin giấy phép kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Trình khách hàng ký hồ sơ tận nơi - miễn phí chi phí giao nhận;
      </li>
      <li aria-level="1" style="text-align: justify">
        Đại diện doanh nghiệp nộp hồ sơ xin giấy phép kinh doanh tại Sở
        KH&amp;ĐT;
      </li>
      <li aria-level="1" style="text-align: justify">
        Chỉ trong vòng 3 ngày làm việc, Sở KH&amp;ĐT sẽ kiểm duyệt hồ sơ và cấp
        GPKD;
      </li>
      <li aria-level="1" style="text-align: justify">
        Đại diện doanh nghiệp nhận giấy phép kinh doanh tại Sở KH&amp;ĐT;
      </li>
      <li aria-level="1" style="text-align: justify">
        Bàn giao giấy phép kinh doanh cùng con dấu pháp nhân tận nơi - miễn phí
        giao nhận.
      </li>
    </ol>

    <p style="text-align: justify">
      Trong khi đó, bạn chỉ cần cung cấp cho dịch vụ thuê - kế toán 2KT các thông tin đơn giản như:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Thông tin công ty dự kiến: tên công ty, địa chỉ, ngành nghề kinh doanh,
        vốn điều lệ và tỷ lệ vốn góp của từng thành viên/cổ đông…;
      </li>
      <li aria-level="1" style="text-align: justify">
        Bản sao công chứng CMND/CCCD/hộ chiếu không quá 6 tháng của người đại
        diện pháp luật, chủ sở hữu, thành viên góp vốn hoặc cổ đông sáng lập
        (tùy từng loại hình công ty).
      </li>
    </ol>

    <h3
      class="sub-title"
      id="6-loi-the-khi-su-dung-dich-vu-dang-ky-giay-phep-kinh-doanh-tai-2KT"
    >
      <a name="buoc4"
        ><strong
          >6 lợi thế khi sử dụng dịch vụ đăng ký giấy phép kinh doanh tại
          dịch vụ thuê - kế toán 2KT</strong
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Dịch vụ xin cấp giấy phép kinh doanh tại dịch vụ thuê - kế toán 2KT không chỉ có chi phí hợp lý,
      tốc độ hoàn thành hồ sơ nhanh chóng, mà còn có 6 lợi thế riêng biệt mà
      không phải đơn vị cung cấp dịch vụ thành lập nào cũng có.&nbsp;
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        6 ưu điểm tại dịch vụ xin giấy chứng nhận đăng ký kinh doanh của Kế toán
        dịch vụ thuê - kế toán 2KT:
      </p>

      <ol>
        <li aria-level="1" style="text-align: justify">
          Cam kết chi phí trọn gói và không phát sinh chi phí;
        </li>
        <li aria-level="1" style="text-align: justify">
          Tiếp nhận thông tin và hoàn thành hồ sơ chỉ trong vòng 120 phút;
        </li>
        <li aria-level="1" style="text-align: justify">
          Sử dụng dịch vụ tận nhà miễn phí trong suốt quá trình thực hiện thủ
          tục;
        </li>
        <li aria-level="1" style="text-align: justify">
          Cam kết bàn giao đúng hẹn (sau khi Sở KH&amp;ĐT cấp giấy phép kinh
          doanh);
        </li>
        <li aria-level="1" style="text-align: justify">
          Hỗ trợ tư vấn miễn phí các vấn đề pháp lý trước khi thành lập như loại
          hình thành lập, mã ngành nghề, vốn điều lệ, điều kiện xin giấy phép
          kinh doanh… cho từng khách hàng;
        </li>
        <li aria-level="1" style="text-align: justify">
          Hỗ trợ tư vấn miễn phí các vấn đề về thuế, nhằm tối ưu số tiền thuế
          phải nộp mà vẫn đúng quy định.
        </li>
      </ol>
    </div>

    <p style="text-align: justify"><u>Lưu ý</u>:&nbsp;</p>

    <p style="text-align: justify">
      Việc chọn sai các thông tin trước khi thành lập sẽ ảnh hưởng đến hoạt động
      kinh doanh và số tiền thuế phải nộp. Do đó, thay vì chỉ tiếp nhận nhu cầu
      của khách hàng và tiến hành thủ tục thành lập như những đơn vị khác, dịch vụ thuê - kế toán 2KT
      cần bạn chia sẻ định hướng kinh doanh để có thể hỗ trợ tư vấn giải pháp
      tối ưu về thuế và các vấn đề pháp lý.
    </p>

    <p style="text-align: center">
      <span style="color: #2a4e9a"><span style="font-size: 24px"></span></span>
    </p>

    <h3
      class="sub-title"
      id="6-viec-can-lam-sau-khi-duoc-cap-giay-phep-kinh-doanh"
    >
      <a name="buoc5"
        ><strong
          >6 việc cần làm sau khi được cấp giấy phép kinh doanh</strong
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Để tránh bị cơ quan chức năng xử phạt, ngay sau khi được cấp giấy phép
      kinh doanh, bạn nên thực hiện đủ các thủ tục pháp lý bắt buộc dưới
      đây.&nbsp;
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        6 yêu cầu pháp lý bắt buộc thực hiện sau khi được cấp giấy chứng nhận
        đăng ký kinh doanh:
      </p>

      <ol>
        <li aria-level="1" style="text-align: justify">
          Soạn và nộp hồ sơ khai thuế ban đầu: TP. HCM - 500.000 đồng | Hà Nội -
          1.000.000 đồng - Giảm ngay 500.000 đồng khi sử dụng
          <a>dịch vụ kế toán</a>
          tại dịch vụ thuê - kế toán 2KT;
        </li>
        <li aria-level="1" style="text-align: justify">
          Đăng ký mở tài khoản ngân hàng - Miễn phí khi sử dụng dịch vụ xin giấy
          phép kinh doanh tại Kế toán 2KT;
        </li>
        <li aria-level="1" style="text-align: justify">
          Làm thủ tục đăng ký sử dụng hóa đơn điện tử - Miễn phí thủ tục đăng ký
          khi sử dụng dịch vụ làm đăng ký kinh doanh tại dịch vụ thuê - kế toán 2KT;
        </li>
        <li aria-level="1" style="text-align: justify">
          <a>Mua thiết bị chữ ký số</a>
          - 1.350.000 đồng/năm (thanh toán cho nhà mạng Viettel);
        </li>
        <li aria-level="1" style="text-align: justify">
          Đặt bảng tên công ty - 200.000 đồng/bảng 20x30 cm;
        </li>
        <li aria-level="1" style="text-align: justify">
          Hoàn thiện các điều kiện về giấy phép con, chứng chỉ, vốn...
        </li>
      </ol>
    </div>

    <p style="text-align: justify">
      <em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<strong><span style="color: #e5451b">Xem chi tiết:</span></strong
      >&nbsp;<a>Các việc cần làm ngay sau khi thành lập công ty</a>.
    </p>

    <h3
      class="sub-title"
      id="Cac-loai-giay-phep-con,-chung-chi-can-xin-sau-khi-dang-ky-kinh-doanh"
      style="text-align: justify"
    >
      <strong
        >Các loại giấy phép con, chứng chỉ cần xin sau khi đăng ký kinh
        doanh</strong
      >
    </h3>

    <p style="text-align: justify">
      Đối với những ngành nghề kinh doanh ngành nghề có điều kiện, sau khi có
      giấy phép kinh doanh (giấy chứng nhận đăng ký kinh doanh) thì công ty, hộ
      kinh doanh cá thể phải làm thủ tục xin giấy phép con mới được phép đi vào
      hoạt động kinh doanh một cách hợp pháp.
    </p>

    <p style="text-align: justify">
      Tuy nhiên, trước khi gợi ý về các loại giấy phép con, chứng chỉ của một số
      lĩnh vực phổ biến, dịch vụ thuê - kế toán 2KT sẽ chia sẻ cho bạn một vài thông tin về giấy phép
      con để bạn biết được đây là loại giấy gì?
    </p>

    <p style="text-align: justify">
      <strong
        ><span style="font-size: 18px"
          ><span style="color: #0b5394">1. Giấy phép con là gì?</span></span
        ></strong
      >
    </p>

    <p style="text-align: justify">
      Thực tế,
      <a>giấy phép con</a>
      có tên chính xác là “giấy phép kinh doanh” (hoặc giấy chứng nhận đủ điều
      kiện hoạt động ngành nghề) nhưng do trong giao tiếp hàng ngày mọi người
      thường dùng thuật ngữ “giấy phép kinh doanh” để nói về “giấy chứng nhận
      đăng ký kinh doanh” nên dẫn đến dễ bị nhầm lẫn.&nbsp;
    </p>

    <p style="text-align: justify">
      Đó cũng là lý do mà bạn thường thấy cá nhân/tổ chức muốn thành lập công
      ty, hộ kinh doanh thay vì sử dụng thuật ngữ chính xác là “xin giấy chứng
      nhận đăng ký kinh doanh” hoặc “giấy chứng nhận đăng ký doanh nghiệp” thì
      họ lại dùng thuật ngữ thông dụng là “xin giấy phép kinh doanh”.
    </p>

    <p style="text-align: justify">
      Để không bị nhầm lẫn, bạn có thể hiểu về giấy phép con như sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Là loại giấy phép chỉ được cấp sau khi doanh nghiệp, hộ kinh doanh đã có
        giấy chứng nhận đăng ký kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Là loại giấy phép bắt buộc phải có đối với những doanh nghiệp, hộ kinh
        doanh cá thể kinh doanh ngành nghề có điều kiện;
      </li>
      <li aria-level="1" style="text-align: justify">
        Giấy phép con có thời hạn sử dụng, còn giấy chứng nhận đăng ký kinh
        doanh thì không có thời hạn. Sau khi giấy phép con hết hiệu lực, doanh
        nghiệp, hộ kinh doanh bắt buộc phải làm thủ tục gia hạn thì mới có thể
        tiếp tục hoạt động kinh doanh ngành nghề có điều kiện.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong
        ><span style="font-size: 18px"
          ><span style="color: #0b5394"
            >2. Các loại giấy phép con, chứng chỉ cần xin sau khi đăng ký kinh
            doanh</span
          ></span
        ></strong
      >
    </p>

    <p style="text-align: justify">
      Như dịch vụ thuê - kế toán 2KT đã chia sẻ, doanh nghiệp kinh doanh ngành nghề có điều kiện sau
      khi thành lập thì bắt buộc phải có giấy phép con mới có thể hoạt động một
      cách hợp pháp. Và tùy thuộc vào mỗi ngành nghề đăng ký mà loại giấy phép
      con cần có cũng sẽ khác nhau. Cụ thể:
    </p>

    <p style="text-align: justify">
      <strong>2.1. Đối với ngành nghề kinh doanh rượu</strong>
    </p>

    <p style="text-align: justify">
      Tùy vào hình thức bán lẻ, bán buôn hay tiêu dùng rượu tại chỗ mà bạn bắt
      buộc phải xin 1 trong 3 loại giấy phép con sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép bán lẻ rượu</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép bán buôn rượu</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép đăng ký bán tiêu dùng rượu tại chỗ</a>.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong>2.2. Đối với ngành nghề du lịch, lữ hành</strong>
    </p>

    <p style="text-align: justify">
      Tùy vào việc công ty bạn kinh doanh, cung cấp dịch vụ du lịch lữ hành nội
      địa hay lữ hành quốc tế mà bạn phải có 1 trong 2 loại giấy phép sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép kinh doanh lữ hành nội địa</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép kinh doanh lữ hành quốc tế</a>.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong
        >2.3. Đối với ngành nghề kinh doanh nhà ở lưu trú, khách sạn</strong
      >
    </p>

    <p style="text-align: justify">
      Đối với những ngành nghề này, bạn bắt buộc phải có 2 loại giấy phép con
      sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép phòng cháy chữa cháy</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép an ninh trật tự</a>.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong
        >2.4. Đối với ngành nghề liên quan đến an toàn thực phẩm, chất lượng sản
        phẩm</strong
      >
    </p>

    <p style="text-align: justify">
      Nếu công ty bạn hoạt động kinh doanh trong các lĩnh vực liên quan đến cung
      ứng thực phẩm hoặc bạn muốn các sản phẩm, hàng hóa mà mình kinh doanh có
      thể lưu hành trên thị trường thì phải có 1 trong các loại giấy phép sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <a>Bản cam kết đảm bảo ATTP</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy chứng nhận ISO 22000</a>;&nbsp;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép vệ sinh an toàn thực phẩm</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy chứng nhận tiêu chuẩn HACCP</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép công bố sản phẩm</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy phép lưu hành sản phẩm CFS</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy chứng nhận ISO 9001:2015</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy chứng nhận quyền sử dụng mã số mã vạch</a>.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong
        >2.5. Đối với doanh nghiệp muốn bảo vệ nhãn hiệu, thương hiệu</strong
      >
    </p>

    <p style="text-align: justify">
      Những doanh nghiệp muốn bảo vệ thương hiệu, nhãn hiệu tránh các hành vi
      đạo nhái, gây ảnh hưởng nghiêm trọng đến nhận diện, hình ảnh công ty thì
      ngoài các giấy phép liên quan đến ngành nghề, bạn có thể xin thêm 1 trong
      2 loại giấy phép sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <a>Bản quyền tác giả</a>;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a>Giấy chứng nhận đăng ký nhãn hiệu</a>.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong>2.6. Đối với các ngành nghề có điều kiện khác</strong>
    </p>

    <div>
      <table
        cellspacing="0"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
              "
              width="NaN"
            >
              <span style="color: #ffffff"
                ><strong>Ngành nghề kinh doanh</strong></span
              >
            </td>
            <td
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
              "
              width="NaN"
            >
              <span style="color: #ffffff"><strong>Giấy phép con</strong></span>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Xây dựng
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép xây dựng</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Dịch vụ in ấn
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Giấy phép hoạt động ngành in
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Dịch vụ bảo vệ
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy chứng nhận đủ điều kiện an ninh trật tự</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Dịch vụ quảng cáo
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép quảng cáo</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Sản xuất thuốc thú ý
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Giấy phép sản xuất thuốc thú y
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Dịch vụ tư vấn du học
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép tư vấn du học</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Mở trung tâm ngoại ngữ
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép trung tâm ngoại ngữ</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Kinh doanh vận tải bằng ô tô
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép kinh doanh vận tải bằng xe ô tô</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Kinh doanh phòng khám đa khoa/chuyên khoa
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép đủ điều kiện kinh doanh phòng khám</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Hoạt động trang thông tin điện tử (ICP)
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép thiết lập trang thông tin điện tử</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Cung cấp dịch vụ diệt khuẩn, diệt côn trùng
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <a>Giấy phép diệt côn trùng và diệt khuẩn</a>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              Thu gom và xử lý chất thải nguy hiểm
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: middle;
              "
              width="NaN"
            >
              <p style="text-align: justify">
                - Giấy phép xử lý chất thải nguy hại<br />
                - Giấy phép môi trường
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <p style="text-align: justify">
        <span style="font-size: 1rem; text-align: justify"
          >Nếu doanh nghiệp của bạn muốn hoàn thiện giấy phép con cho bất cứ
          lĩnh vực nào có thể liên hệ Kế toán 2KT để được tư vấn chi tiết về
          loại giấy phép phù hợp với ngành nghề kinh doanh và nhận báo giá cụ
          thể.</span
        >
      </p>

      <p style="text-align: justify">
        &nbsp;<em
          aria-hidden="true"
          class="fa-angle-double-right fas"
          style="color: #e5451b"
        ></em
        ><strong>&nbsp;<span style="color: #e5451b">Xem chi tiết:</span></strong
        >&nbsp;<a>Dịch vụ xin giấy phép con</a>.
      </p>
    </div>
  </div>
</div>
