.card-content {
  margin-top: -90px;
}

.icon-size {
  font-size: 45px;
}

.hp-content {
  height: auto;
}

.title {
  color: #c24902;
  font-family: "Roboto", Sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.normal-title{
  color: #c24902;
  font-family: "Roboto", Sans-serif;
}

