<div class="hp-content">
  <app-header></app-header>
  <app-carousel></app-carousel>
  <div class="flex justify-content-center card-content position-relative">
    <app-infor-card icon="fa-solid fa-user-shield" [content]="content1" title="An toàn" class="mr-8"></app-infor-card>
    <app-infor-card icon="fa-solid fa-bullseye" [content]="content2" title="Chính xác" class="mr-8"></app-infor-card>
    <app-infor-card icon="fa-solid fa-users" [content]="content3" title="Chuyên nghiệp"></app-infor-card>
  </div>
  <div class="mt-16">
    <app-profile-card></app-profile-card>
  </div>
  <div class="mt-16 w-full h-fit bg-gray-100">
    <h2 class="title text-center pt-16">Khách hàng của chúng tôi</h2>
    <div class="mt-10 pb-16">
      <app-multiple-items-slide></app-multiple-items-slide>
    </div>
  </div>
  <div>
    <app-service-card></app-service-card>
    <div><h2 class="title text-center pt-16">Dịch vụ của chúng tôi</h2></div>
  </div>
</div>