.card-content {
  margin-top: -90px;
}

.icon-size {
  font-size: 45px;
}

.hp-content {
  height: auto;
}

.title {
  color: #c24902;
  font-family: "Roboto", Sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.normal-title{
  color: #c24902;
  font-family: "Roboto", Sans-serif;
}

.dark-overlay {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background-color: rgb(49, 49, 49);
  // pointer-events: none;
  // opacity: 0.2;
  // z-index: 11;
}
