<div class="hp-content">
  <app-header></app-header>
  <app-custom-carousel></app-custom-carousel>
  <div class="flex justify-content-center card-content position-relative">
    <app-infor-card
      icon="fa-solid fa-pen-nib"
      [content]="content3"
      title="Chuyên nghiệp"
      class="mr-8"
    ></app-infor-card>
    <app-infor-card
      icon="fa-solid fa-circle-check"
      [content]="content1"
      title="Uy tín"
      class="mr-8"
    ></app-infor-card>
    <app-infor-card
      icon="fa-solid fa-hand-holding-dollar"
      [content]="content2"
      title="Hiệu quả"
    ></app-infor-card>
  </div>
  <div class="mt-16 mb-16">
    <app-profile-card
      [imgSrc]="'https://i.imgur.com/6zscxaw.jpg'"
    ></app-profile-card>
  </div>
  <div class="mt-16">
    <app-shapes></app-shapes>
  </div>
  <div class="bg-gray-100">
    <h2 class="title text-center pt-16 pb-8">Dịch vụ của chúng tôi</h2>
    <div class="position-relative">
      <app-service-card></app-service-card>
    </div>
  </div>
  <div class="my-16">
    <app-core-value></app-core-value>
  </div>
  <div class="w-full h-fit bg-gray-100">
    <h2 class="title text-center pt-20">Khách hàng của chúng tôi</h2>
    <div class="mt-10 pb-4">
      <app-customers-slide></app-customers-slide>
    </div>
  </div>
  <div class="pt-16 bg-gray-100">
    <app-counters></app-counters>
  </div>
  <div class="py-32">
    <app-question></app-question>
  </div>
  <div class="pt-16 bg-gray-100">
    <h2 class="title text-center">Tin tức</h2>
    <app-blog-card></app-blog-card>
  </div>
  <div class="mt-16 bg-gray-100">
    <h2 class="title text-center pt-20">Đánh giá của khách hàng</h2>
    <app-review-card></app-review-card>
  </div>
  <div class="pb-16 bg-gray-100">
    <h2 class="title text-center">Liên kết</h2>
    <app-link-card></app-link-card>
  </div>
  <div class="pt-16 bg-gray-100">
    <app-footer></app-footer>
  </div>
</div>
