<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ làm thủ tục thay đổi tăng vốn điều lệ công ty - 500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Tăng vốn điều lệ công ty cổ phần hay tăng vốn điều lệ công ty TNHH là
        một trong những dịch vụ 5 sao tại dịch vụ thuê - kế toán 2KT. Hoàn thành nhanh chóng, trong
        vòng 3 ngày.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Tổng chi phí cho dịch vụ tăng vốn điều lệ công ty</a>
        </li>
        <li>
          <a>3 thông tin bạn cần cung cấp khi tăng vốn điều lệ</a>
        </li>
        <li>
          <a>8 thủ tục dịch vụ thuê - kế toán 2KT thay bạn hoàn thành</a>
        </li>
        <li>
          <a>3 ngày để Sở KH&amp;ĐT cấp giấy phép kinh doanh mới</a>
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Tong-chi-phi-cho-dich-vu-tang-von-dieu-le-cong-ty"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc1"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Tổng chi phí cho dịch vụ tăng vốn điều lệ công ty</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Dù là loại hình
      <a>công ty cổ phần</a>
      hay
      <a>công ty TNHH</a>, để làm thủ tục tăng vốn điều lệ, bạn cần nộp các
      khoản phí sau:&nbsp;
    </p>

    <p style="text-align: justify">
      Phí dịch vụ thay đổi tăng vốn điều lệ tại dịch vụ thuê - kế toán 2KT:
      <span style="color: #2a4e9a"><strong>500.000 đồng</strong></span>
    </p>

    <p style="text-align: justify">
      Khoản phí phải nộp cho nhà nước:
      <span style="color: #2a4e9a"><strong>500.000 đồng</strong></span>
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          200.000 đồng lệ phí nộp hồ sơ và nhận giấy phép kinh doanh mới tại Sở
          KH&amp;ĐT;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          300.000 đồng lệ phí công bố thay đổi vốn điều lệ tại Cổng thông tin
          quốc gia.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Như vậy,
      <span style="color: #2a4e9a"
        ><strong
          >tổng chi phí cho dịch vụ tăng vốn điều lệ tại dịch vụ thuê - kế toán 2KT là
          1.000.000đ</strong
        ></span
      >. Với chi phí này, bạn chỉ cần cung cấp cho dịch vụ thuê - kế toán 2KT 3 thông tin đơn giản và
      dịch vụ thuê - kế toán 2KT sẽ thay bạn hoàn thành 8 thủ tục phức tạp.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="3-thong-tin-ban-can-cung-cap-khi-tang-von-dieu-le"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc2"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >3 thông tin bạn cần cung cấp khi tăng vốn điều lệ</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Nếu bạn tự thực hiện<a> thủ tục thay đổi tăng vốn điều lệ</a>
      thì chi tiết hồ sơ, giấy tờ sẽ có 1-2 điểm khác nhau dựa vào loại hình
      doanh nghiệp. Tuy nhiên, khi sử dụng dịch vụ tăng vốn điều lệ công ty cổ
      phần hay tăng vốn điều lệ công ty TNHH tại dịch vụ thuê - kế toán 2KT, bạn chỉ cần cung cấp 3
      thông tin đơn giản sau:
    </p>

    <p style="text-align: justify"><u>Lưu ý:</u>&nbsp;</p>

    <p style="text-align: justify">
      Cung cấp thêm danh sách cổ đông hiện tại của công ty nếu thuộc loại hình
      công ty cổ phần.
    </p>

    <p style="text-align: justify">
      Vốn điều lệ ảnh hưởng đến thuế môn bài và các trách nhiệm pháp lý khác. Do
      vậy, để hạn chế các phát sinh sau khi làm thủ tục thay đổi vốn điều lệ,
      dịch vụ thuê - kế toán 2KT sẽ hỗ trợ tư vấn miễn phí số vốn điều lệ phù hợp với mục đích kinh
      doanh của doanh nghiệp.
    </p>
    <h3
      class="sub-title"
      id="8-thu-tuc-2KT-thay-ban-hoan-thanh"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc3"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong>8 thủ tục dịch vụ thuê - kế toán 2KT thay bạn hoàn thành</strong></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Đối với các thủ tục hành chính nhà nước, hầu như việc soạn thảo hồ sơ và
      trình ký là giai đoạn tốn nhiều thời gian của doanh nghiệp nhất. Hãy để
      dịch vụ thuê - kế toán 2KT thay bạn hoàn thành tất cả những thủ tục rườm rà, bạn chỉ cần tập
      trung phát triển kinh doanh.
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        <strong>1.</strong> Soạn giấy đề nghị tăng vốn điều lệ;
      </p>

      <p style="text-align: justify">
        <strong>2.</strong> Soạn quyết định về việc tăng vốn điều lệ;
      </p>

      <p style="text-align: justify">
        <strong>3.</strong> Soạn biên bản họp về việc tăng vốn điều lệ của hội
        đồng thành viên/hội đồng cổ đông (đối với công ty cổ phần hoặc TNHH hai
        thành viên trở lên);
      </p>

      <p style="text-align: justify">
        <strong>4.</strong> Soạn giấy tờ xác nhận việc góp vốn của thành viên
        mới (nếu có thành viên mới);
      </p>

      <p style="text-align: justify">
        <strong>5.</strong> Chuẩn bị mục lục và bìa hồ sơ theo quy định của Sở
        KH&amp;ĐT;
      </p>

      <p style="text-align: justify">
        <strong>6.</strong> Soạn tờ khai thông tin người nộp hồ sơ;
      </p>

      <p style="text-align: justify">
        <strong>7.</strong> Nộp hồ sơ tăng vốn điều lệ và nhận kết quả tại Sở
        KH&amp;ĐT;
      </p>

      <p style="text-align: justify">
        <strong>8.</strong> Bàn giao giấy phép kinh doanh mới cho khách hàng.
      </p>
    </div>

    <p style="text-align: justify"><u>Lưu ý:</u>&nbsp;</p>

    <p style="text-align: justify">
      Tùy vào từng biên bản, giấy tờ mà cá nhân chịu trách nhiệm ký sẽ khác nhau
      theo quy định của cơ quan nhà nước.&nbsp;
    </p>

    <p style="text-align: justify">
      Khi sử dụng dịch vụ tăng vốn điều lệ tại dịch vụ thuê - kế toán 2KT, doanh nghiệp sẽ được áp dụng
      “<span style="color: #2a4e9a"
        ><strong>dịch vụ miễn phí tận nơi</strong></span
      >” từ việc ký hồ sơ, giao nhận… mà không cần phải mất thời gian di chuyển
      hay chờ đợi đơn vị chuyển phát nhanh.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="3-ngay-de-So-KH&amp;DT-cap-giay-phep-kinh-doanh-moi"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a name="buoc4"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >3 ngày để Sở KH&amp;ĐT cấp giấy phép kinh doanh mới</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Sau khi nhận đủ thông tin để thực hiện thủ tục tăng vốn điều lệ, tối đa 4
      ngày để dịch vụ thuê - kế toán 2KT hoàn thành các bước nộp thủ tục tăng vốn điều lệ
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          1 ngày để dịch vụ thuê - kế toán 2KT tư vấn, soạn hồ sơ và trình ký hồ sơ tăng vốn điều lệ
          công ty;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          3 ngày để Sở KH&amp;ĐT cấp giấy phép kinh doanh mới.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      &nbsp;<span style="color: #e5451b"><strong>Tham khảo:</strong></span>
    </p>

    <p style="text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<a>Thủ tục tăng vốn điều lệ công ty TNHH một thành viên</a>;
    </p>

    <p style="text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<a>Thủ tục tăng vốn điều lệ công ty cổ phần và một số lưu ý</a>;
    </p>

    <p style="text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<a>Thủ tục tăng vốn điều lệ cho công ty có vốn đầu tư nước ngoài</a
      >.<br />
      &nbsp;
    </p>
  </div>
</div>
