.sv-card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 350px;
  height: 350px;
  background-image: url(https://i.imgur.com/zuC1C4w.jpg);
  background-position: 50% 50%;
  &:hover {
    margin-top: -3px !important;
  }
}

.custom-bg-color {
  background-color: #d7cec9;
}

.lx-container {
  margin-top: -150px;
}

.service-card {
  background-image: url("https://i.imgur.com/l5B108e.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Điều chỉnh mức độ đen tối ở đây */
}

@media (min-width: 1600px) {
  .image-container {
    @apply w-2/3;
  }
  .sv-container {
    @apply pb-80;
  }
  .form-content {
    @apply w-1/3;
  }
}

@media (max-width: 1600px) {
  .image-container {
    @apply w-4/5;
  }
  .form-content {
    @apply w-2/5;
  }
}

@media (max-width: 1500px) {
  .sv-content {
    @apply w-2/3;
  }
  .sv-container {
    @apply pb-52;
  }
  .form-content {
    @apply w-1/2;
  }
}

@media (max-width: 1300px) {
  .sv-content {
    @apply w-full;
  }
  .image-container {
    @apply hidden;
  }
  .form-content {
    @apply w-1/2;
  }
  .sv-container {
    @apply pb-8;
  }
}

.icon-container {
  width: 20px;
  height: 20px;
}

.icon-size {
  font-size: 17px;
  color: #ff4700;
}

.icon-rounded {
  width: 50px;
  height: 50px;
}

.sv-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sv-line-style {
  margin-top: 172px;
  width: 2px;
  background-color: #fce6dd;
  height: 80%;
}

/* square */
.square {
  background-color: white;
  // height: 200px;
  // width: 200px;
  margin: auto;
  border: #ff4700 solid 2px;
  position: relative;
}

.right {
  &::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: white;
    top: 45%;
    right: -12px;
    border-top: #ff4700 solid 2px;
    border-left: #ff4700 solid 2px;
    transform: rotate(135deg);
  }
}

.left {
  &::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: white;
    top: 45%;
    left: -12px;
    border-top: #ff4700 solid 2px;
    border-left: #ff4700 solid 2px;
    transform: rotate(-45deg);
  }
}

.sv-line-style-bg {
  width: 2px;
  background-color: #ff4700;
}

@media screen and (max-width: 1450px) {
  .sv-line-style {
    margin-top: 210px;
    height: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .sv-line-style {
    margin-top: 100px;
    height: 90%;
  }
  .square {
    max-width: 780px;
  }

  .form-content {
    @apply w-1/2;
  }
}

@media screen and (max-width: 800px) {
  .form-content {
    @apply w-2/3;
  }
}

@media screen and (max-width: 512px) {
  .form-content {
    @apply w-5/6;
  }
}

:root {
  --blue-dark: #0047ca;
}
@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito Regular"), local(Nunito-Regular);
}

h3 {
  margin-top: 30px;
}

body {
  font-family: Nunito, sans-serif;
}

:focus {
  outline: none;
}

a {
  color: #ea5644;
  text-decoration: none;
}
.bg-blue {
  background-color: var(--blue-dark);
}
.border-blue {
  border-color: var(--blue-dark);
}
header {
  position: relative;
}

header:before {
  content: "";
  background: transparent
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMBAMAAABRpcpkAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMGAhQQCyEd++8AAAAUSURBVAjXY1AAQgMgdABCCBAAQQAT6AFRBPHcWgAAAABJRU5ErkJggg==);
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

#navbar {
  white-space: nowrap;
}

#navbar ul.dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: unset;
}

#navbar .dropdown-menu > li a.nav-link:hover,
#navbar .dropdown-menu > li.show {
  color: #fff;
  background-color: #4db2ec;
}

#navbar .dropdown-menu > li a.nav-link {
  color: var(--bs-den-mo);
  padding: 10px 15px;
}

.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin: 0;
  padding: 0 20px;
}

.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto;
}

.custom-muc-luc {
  padding: 10px 10px 0;
  border: 1px solid #fd6c2b;
  border-radius: 10px;
  margin-bottom: 20px;
}

.custom-muc-luc p:first-child {
  text-align: justify;
  color: #2a4d9f !important;
  font-weight: 700;
}

ul {
  list-style: disc;
}

ol {
  list-style: disc;
}

.custom-muc-luc ul.noi-dung-chinh a:hover {
  color: #fd6c2b;
}

.custom-muc-luc ul.noi-dung-chinh {
  list-style: none;
}

.custom-muc-luc ul.noi-dung-chinh li {
  text-align: justify;
}

.custom-muc-luc ul.noi-dung-chinh li::before {
  content: "◆";
  color: #fd6c2b;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
}

.custom-muc-luc ul.noi-dung-chinh a {
  color: #010101;
  font-size: 16px;
}

.custom-muc-luc ul.noi-dung-chinh > li > ul.noi-dung-chinh li a {
  margin-left: 0;
}

.custom-muc-luc ul.noi-dung-chinh > li > ul.noi-dung-chinh {
  padding-inline-start: 10px;
}

.custom-muc-luc ul.noi-dung-chinh > li > ul.noi-dung-chinh li::before {
  content: "";
}

.news-body h3 {
  position: relative;
  z-index: 1;
  font-weight: 700;
  text-align: justify;
  font-size: 20px;
  color: #2a4d9f;
  text-transform: uppercase;
}

.news-body h3:before {
  position: absolute;
  content: "";
  width: 46px;
  height: 10px;
  opacity: 0.6;
  left: 0;
  background: #ffcbb4;
  z-index: -1;
}

.news-body h3 a,
h3 a:hover {
  color: #2a4d9f !important;
}
span.rsStar {
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  position: relative;
  color: #e5451b;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 0.8em;
  border-radius: 2px;
}
span.rsStar:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(82, 184, 88, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}
.avatar-comment {
  width: 23px;
  height: 23px;
}
.tagclouds small {
  font-size: 13px;
}
.title-footer {
  color: #fff;
  text-transform: uppercase;
  background: var(--bs-primary);
  border-radius: 0 15px;
  text-align: center;
  font-weight: bold;
}
.news-body a {
  color: #3f76d8;
}
.news-body > p:nth-child(1) > img:nth-child(1),
.news-body > p:nth-child(2) > img:nth-child(1) {
  aspect-ratio: 2/1;
}
.news-body table.table-post-custom p {
  margin-bottom: 0;
}
.i-footer {
  font-size: 0.8em;
  width: 1.4em;
  text-align: center;
  line-height: 1.4em;
  border-radius: 0.7em;
  color: #fff;
  background: var(--bs-primary);
}
.news-body h5 {
  color: #004ea4;
}
table * {
  margin-bottom: 0;
}
.custom-quote {
  border: 1px solid #fd6c2b;
  padding: 15px;
  border-radius: 10px;
  margin: 25px 0;
  quotes: "\201C""\201D";
}

.custom-quote:before {
  color: #fd6c2b;
  content: open-quote;
  font-size: 4em;
  margin-left: -15px;
  background: #fff;
  line-height: 0;
}

.custom-quote > p:first-child {
  margin-top: -2em;
}

.table-post-custom tr td {
  border: 2px solid #fff;
  min-width: 50px;
  padding: 10px;
  text-align: justify;
}

.bang-xanh tr:nth-child(odd) {
  background: #a9d0ff;
}

.bang-xanh tr:nth-child(even) {
  background: #e5f0ff;
}

.bang-xanh tr:nth-child(1) {
  background: #004ea4;
}

.bang-cam tr:nth-child(odd) {
  background: #ffc28b;
}

.bang-cam tr:nth-child(even) {
  background: #ffe7d4;
}

.bang-cam tr:first-child {
  background: #f97c26;
}

.call-mobile {
  width: 70%;
}

.block-title {
  margin-bottom: 1.7rem;
  border-bottom: 2px solid #4db2ec;
}

.block-title span {
  background-color: #4db2ec;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  padding: 7px 12px;
}

.td-module-thumb {
  position: relative;
}

.td-module-thumb a:last-child:before {
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: background-color 0.3s ease;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.widget-module {
  position: relative;
}

.td-module-meta-info {
  position: absolute;
  bottom: 0;
  padding: 0 17px;
  margin-bottom: 17px;
  z-index: 1;
}

.td-module-meta-info h3 {
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 6px 0;
}

.td-module-meta-info h3 > a,
.td-module-meta-info h3 > a:hover {
  color: #fff;
}
.box-orient {
  -webkit-box-orient: vertical;
}
.animation-shake-horizontal {
  animation: shake-horizontal 7s;
  animation-iteration-count: infinite;
}

@keyframes shake-horizontal {
  2% {
    transform: translate(3px, 0) rotate(0);
  }

  4% {
    transform: translate(1px, 0) rotate(0);
  }

  6% {
    transform: translate(4px, 0) rotate(0);
  }

  8% {
    transform: translate(-2px, 0) rotate(0);
  }

  10% {
    transform: translate(9px, 0) rotate(0);
  }

  12% {
    transform: translate(0, 0) rotate(0);
  }

  14% {
    transform: translate(-8px, 0) rotate(0);
  }

  16% {
    transform: translate(-7px, 0) rotate(0);
  }

  18% {
    transform: translate(1px, 0) rotate(0);
  }

  20% {
    transform: translate(-5px, 0) rotate(0);
  }

  22% {
    transform: translate(-2px, 0) rotate(0);
  }

  24% {
    transform: translate(-5px, 0) rotate(0);
  }

  26% {
    transform: translate(-1px, 0) rotate(0);
  }

  28% {
    transform: translate(3px, 0) rotate(0);
  }

  30% {
    transform: translate(-7px, 0) rotate(0);
  }

  32% {
    transform: translate(-8px, 0) rotate(0);
  }

  34% {
    transform: translate(4px, 0) rotate(0);
  }

  36% {
    transform: translate(8px, 0) rotate(0);
  }

  38% {
    transform: translate(-5px, 0) rotate(0);
  }

  40% {
    transform: translate(-6px, 0) rotate(0);
  }

  42% {
    transform: translate(7px, 0) rotate(0);
  }

  44% {
    transform: translate(1px, 0) rotate(0);
  }

  46% {
    transform: translate(3px, 0) rotate(0);
  }

  48% {
    transform: translate(10px, 0) rotate(0);
  }

  50% {
    transform: translate(1px, 0) rotate(0);
  }

  52% {
    transform: translate(3px, 0) rotate(0);
  }

  54% {
    transform: translate(-9px, 0) rotate(0);
  }

  56% {
    transform: translate(-8px, 0) rotate(0);
  }

  58% {
    transform: translate(7px, 0) rotate(0);
  }

  60% {
    transform: translate(2px, 0) rotate(0);
  }

  62% {
    transform: translate(-6px, 0) rotate(0);
  }

  64% {
    transform: translate(-9px, 0) rotate(0);
  }

  66% {
    transform: translate(-2px, 0) rotate(0);
  }

  68% {
    transform: translate(4px, 0) rotate(0);
  }

  70% {
    transform: translate(8px, 0) rotate(0);
  }

  72% {
    transform: translate(2px, 0) rotate(0);
  }

  74% {
    transform: translate(6px, 0) rotate(0);
  }

  76% {
    transform: translate(-4px, 0) rotate(0);
  }

  78% {
    transform: translate(4px, 0) rotate(0);
  }

  80% {
    transform: translate(9px, 0) rotate(0);
  }

  82% {
    transform: translate(6px, 0) rotate(0);
  }

  84% {
    transform: translate(-6px, 0) rotate(0);
  }

  86% {
    transform: translate(5px, 0) rotate(0);
  }

  88% {
    transform: translate(5px, 0) rotate(0);
  }

  90% {
    transform: translate(-4px, 0) rotate(0);
  }

  92% {
    transform: translate(0, 0) rotate(0);
  }

  94% {
    transform: translate(-6px, 0) rotate(0);
  }

  96% {
    transform: translate(6px, 0) rotate(0);
  }

  98% {
    transform: translate(10px, 0) rotate(0);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
.contactBarPhone {
  z-index: 999;
}
.contactBarPhone .phone {
  animation: phone-shake 0.5s;
  animation-iteration-count: infinite;
}
.custom-scollbar {
  max-height: 300px;
  overflow: auto;
  direction: rtl;
}
.custom-scollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.custom-scollbar::-webkit-scrollbar-thumb {
  background: var(--bs-gray);
  border-radius: 10px;
}
.custom-scollbar * {
  direction: ltr;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.zalo-chat-widget {
  bottom: 490px !important;
  right: unset !important;
  left: 20px !important;
}
#bdcomment p {
  white-space: pre-line;
}
.list-01 {
  list-style-image: url(/images/icons/list-01.png);
}
.list-02 {
  list-style: none;
}
.list-02 li:before {
  content: "";
  border-color: transparent #006eff;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  left: -1.5em;
  top: 1em;
  z-index: -1;
  position: relative;
}
.list-02 li a {
  font-weight: bold;
  color: var(--bs-dark);
}
.list-02 li a:hover {
  color: #006eff;
}
@keyframes phone-shake {
  0% {
    transform: translate(1px, 1px) rotate(325deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(324deg);
  }

  20% {
    transform: translate(-3px, 0) rotate(326deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(325deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(326deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(324deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(325deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(324deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(326deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(325deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(324deg);
  }
}
@media only screen and (max-width: 992px) {
  #btn-back-to-top {
    display: none !important;
  }
  .zalo-chat-widget {
    display: none;
  }
  .grid-scroll {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    overflow-y: hidden;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
    display: inline-block;
  }

  .grid-scroll .td-module-meta-info h3 {
    white-space: normal;
  }
}
@media only screen and (max-width: 767px) {
  #fb-root {
    display: none;
  }
  table.dataTable {
    width: 100% !important;
    font-size: 11px !important;
    table-layout: auto;
  }
  table.dataTable thead th,
  table.dataTable thead td {
    padding: 5px 10px !important;
  }
}

h5 {
  @apply mt-4;
}

table {
  @apply mt-2;
}
