<ng-container *ngIf="vm$ | async as vm">
  <div class="hp-content">
    <app-header></app-header>
    <div class="custom-bg-color">
      <div
        class="text-white py-36 service-card relative"
        *ngIf="vm.selectedService"
      >
        <div class="overlay"></div>
        <h1 class="text-center text-6xl relative uppercase">
          {{ vm.selectedService.serviceTitle }}
        </h1>
        <p class="text-center pt-8 text-lg relative">
          {{ vm.selectedService.serviceDes }}
        </p>
      </div>
    </div>
    <div class="my-16">
      <ng-container *ngFor="let content of introductionContents">
        <ng-container *ngIf="content.id === vm.selectedService.key">
          <app-profile-card
            [imgSrc]="'https://i.imgur.com/3abWgNu.jpg'"
            [isHomePage]="false"
            [title]="'GIỚI THIỆU SƠ LƯỢC'"
            [content1]="content.content1"
            [content2]="content.content2"
          ></app-profile-card>
        </ng-container>
      </ng-container>
    </div>
    <div class="my-32 common-bg pb-40 pt-24 sv-container">
      <h2 class="text-center text-white">
        VÌ SAO NÊN SỬ DỤNG DỊCH VỤ CỦA 2KT?
      </h2>
      <div class="flex justify-center">
        <div class="flex my-16 lg:w-3/4 relative">
          <div class="sv-image absolute image-container">
            <img
              src="https://i.imgur.com/4Yb6L20.jpg"
              class="img-fluid rounded shadow-gray-500"
              loading="lazy"
            />
          </div>
          <div class="why-content z-10 flex flex-col items-end">
            <div
              class="border rounded shadow bg-white mt-3 w-1/2 sv-content"
              *ngFor="let item of contentWhys"
            >
              <div class="p-8">
                <div class="flex common-color items-center">
                  <i class="fa-regular fa-hand-point-right mr-2"></i>
                  <h5 class="!m-0">{{ item.title }}</h5>
                </div>

                <p class="mt-2 text-justify">
                  {{ item.content }}
                </p>
              </div>
            </div>
          </div>
          <div class=""></div>
        </div>
      </div>
    </div>
    <div class="mx-28 my-32">
      <div><h2 class="common-color text-center">NGHIỆP VỤ THỰC HIỆN</h2></div>
      <div class="flex flex-wrap justify-center">
        <ng-container *ngFor="let serviceMajor of listServiceMajor">
          <ng-container *ngIf="serviceMajor.id === vm.selectedService.key">
            <div
              *ngFor="let major of serviceMajor.major"
              class="w-fit mx-3 mt-12"
            >
              <app-major-card
                [icon]="major.icon"
                [content]="major.content"
                [title]="major.title"
                class="flex w-fit"
              ></app-major-card>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="relative">
      <h2 class="common-color text-center">QUY TRÌNH TRIỂN KHAI DỊCH VỤ</h2>
      <div class="sv-line flex justify-center">
        <div class="sv-line-style" #scrollableDiv>
          <div class="sv-line-style-bg" [style.height.px]="divHeight"></div>
        </div>
      </div>
      <div class="flex justify-center relative mt-8">
        <div class="grid grid-cols-11 grid-rows-7 w-2/3">
          <ng-container
            *ngFor="let item of process"
            class="flex items-center w-full"
          >
            <ng-container *ngIf="item.step % 2 != 0">
              <ng-container
                *ngTemplateOutlet="
                  processContent;
                  context: {
                    title: item.title,
                    content: item.content,
                    arrow: 'right'
                  }
                "
              ></ng-container>
            </ng-container>
            <ng-container *ngIf="item.step % 2 == 0">
              <ng-container
                *ngTemplateOutlet="
                  processStep;
                  context: { step: item.step, justify: 'justify-end' }
                "
              ></ng-container>
            </ng-container>
            <div class="col-span-1 flex items-center justify-center">
              <div
                class="flex justify-center items-center rounded-full common-bg icon-rounded"
              >
                <div
                  class="flex rounded-full bg-white justify-center items-center icon-container"
                >
                  <i class="icon-size fa-solid fa-arrow-down"></i>
                </div>
              </div>
            </div>
            <ng-container *ngIf="item.step % 2 == 0">
              <ng-container
                *ngTemplateOutlet="
                  processContent;
                  context: {
                    title: item.title,
                    content: item.content,
                    arrow: 'left'
                  }
                "
              ></ng-container>
            </ng-container>
            <ng-container *ngIf="item.step % 2 != 0">
              <ng-container
                *ngTemplateOutlet="
                  processStep;
                  context: { step: item.step, justify: 'justify-start' }
                "
              ></ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mb-16 mt-24 flex justify-center">
      <div class="form-content">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <div class="py-16">
      <h2 class="common-color text-center">ĐÁNH GIÁ CỦA KHÁCH HÀNG</h2>
      <app-review-card></app-review-card>
    </div>
    <div class="">
      <app-footer></app-footer>
    </div>
  </div>
</ng-container>

<ng-template #processStep let-step="step" let-justify="justify">
  <div class="col-span-5 flex items-center {{ justify }}">
    <div
      class="rounded-lg shadow-md bordered border-common-color p-2 common-bg"
    >
      <h4 class="text-white !m-0">Bước {{ step }}</h4>
    </div>
  </div>
</ng-template>

<ng-template
  #processContent
  let-title="title"
  let-content="content"
  let-arrow="arrow"
>
  <div class="col-span-5 flex justify-end">
    <div
      class="w-full rounded-lg shadow-md border-2 border-common-color square {{
        arrow
      }}"
    >
      <div class="px-4 pt-4">
        <h4 class="common-color">{{ title }}</h4>
      </div>
      <div class="px-4 pb-4 pt-2">
        <span class="text-justify">{{ content }}</span>
      </div>
    </div>
  </div>
</ng-template>
