<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ hoàn thuế thu nhập cá nhân (TNCN) - Chỉ 800.000 đồng
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Chỉ từ 800.000đ, dịch vụ làm hoàn thuế thu nhập cá nhân tại 2KT xong
        hồ sơ hoàn thuế TNCN trong 5 phút, theo dõi hồ sơ đến khi nhận được tiền
        hoàn thuế.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a href="#Khi-nao-duoc-hoan-thue-TNCN?"
            >Khi nào được hoàn thuế TNCN?</a
          >
        </li>
        <li>
          <a href="#Dich-vu-hoan-thue-thu-nhap-ca-nhan-(TNCN)-tai-2KT"
            >Dịch vụ hoàn thuế thu nhập cá nhân (TNCN) tại 2KT</a
          >
          <ul class="noi-dung-chinh">
            <li>
              <a href="#1.-Phi-dich-vu-hoan-thue-TNCN"
                >1. Phí dịch vụ hoàn thuế TNCN</a
              >
            </li>
            <li>
              <a href="#2.-Thoi-gian-hoan-thanh-thu-tuc-hoan-thue-TNCN"
                >2. Thời gian hoàn thành thủ tục hoàn thuế TNCN</a
              >
            </li>
            <li>
              <a href="#3.-Cac-giay-to,-chung-tu-khach-hang-can-cung-cap"
                >3. Các giấy tờ, chứng từ khách hàng cần cung cấp</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#Huong-dan-thu-tuc-hoan-thue-thu-nhap-ca-nhan-online-va-truc-tiep"
            >Hướng dẫn thủ tục hoàn thuế thu nhập cá nhân online và trực tiếp</a
          >
          <ul class="noi-dung-chinh">
            <li>
              <a
                href="#1.-Truong-hop-nop-thua-thue-TNCN-hoac-chua-den-muc-nop-thue-TNCN"
                >1. Trường hợp nộp thừa thuế TNCN hoặc chưa đến mức nộp thuế
                TNCN</a
              >
            </li>
            <li>
              <a
                href="#2.-Truong-hop-hoan-thue-TNCN-khi-doanh-nghiep-duoc-uy-quyen-quyet-toan-thue&nbsp;"
                >2. Trường hợp hoàn thuế TNCN khi doanh nghiệp được ủy quyền
                quyết toán thuế&nbsp;</a
              >
            </li>
            <li>
              <a href="#3.-Thoi-gian-nhan-duoc-tien-hoan-thue-TNCN"
                >3. Thời gian nhận được tiền hoàn thuế TNCN</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Khi-nao-duoc-hoan-thue-TNCN?"
      style="text-align: justify"
    >
      <strong>Khi nào được hoàn thuế TNCN?</strong>
    </h3>

    <p style="text-align: justify">
      Các trường hợp được hoàn thuế thu nhập cá nhân như sau:
    </p>

    <ol>
      <li aria-level="1">
        Số tiền thuế TNCN đã nộp trong năm nhiều hơn số thuế TNCN phải nộp;
      </li>
      <li aria-level="1">
        Đã nộp thuế TNCN nhưng thu nhập chịu thuế dưới mức phải nộp thuế;
      </li>
      <li aria-level="1">
        Phải có mã số thuế cá nhân tại thời điểm nộp hồ sơ xin hoàn thuế;
      </li>
      <li aria-level="1">
        Phải làm đề nghị hoàn thuế TNCN theo đúng quy luật hiện hành;
      </li>
      <li aria-level="1">
        Các trường hợp khác theo quy định của cơ quan có thẩm quyền.
      </li>
    </ol>

    <h3
      class="sub-title"
      id="Dich-vu-hoan-thue-thu-nhap-ca-nhan-(TNCN)-tai-2KT"
      style="text-align: justify"
    >
      <strong>Dịch vụ hoàn thuế thu nhập cá nhân (TNCN) tại 2KT</strong>
    </h3>

    <h5 id="1.-Phi-dich-vu-hoan-thue-TNCN" style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>1. Phí dịch vụ hoàn thuế TNCN</strong></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Phí dịch vụ hoàn thuế TNCN theo từng trường hợp như sau:&nbsp;
    </p>

    <div>
      <table
        cellspacing="0"
        class="bang-xanh table-post-custom"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"><strong>Trường hợp 1</strong></span>
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"><strong>Trường hợp 2</strong></span>
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"><strong>Trường hợp 3</strong></span>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              Người lao động quốc tịch Việt Nam chỉ phát sinh thu nhập duy nhất
              tại Việt Nam
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              Người lao động nước ngoài có thu nhập duy nhất tại Việt Nam
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              Người lao động quốc tịch Việt Nam và người lao động nước ngoài có
              phát sinh thu nhập toàn cầu
            </td>
          </tr>
          <tr>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #3472b8"
                ><strong>Từ 800.000 đồng/hồ sơ</strong></span
              >
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #3472b8"
                ><strong>1.500.000 đồng/hồ sơ</strong></span
              >
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #3472b8"
                ><strong>Tùy theo từng hồ sơ</strong></span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    &nbsp;

    <h5
      id="2.-Thoi-gian-hoan-thanh-thu-tuc-hoan-thue-TNCN"
      style="text-align: justify"
    >
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>2. Thời gian hoàn thành thủ tục hoàn thuế TNCN</strong></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Về cơ bản, thủ tục hoàn thuế TNCN bao gồm 2 giai đoạn:
    </p>

    <div>
      <table
        cellspacing="0"
        class="bang-xanh table-post-custom"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"><strong>Giai đoạn 1</strong></span>
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"><strong>Giai đoạn 2</strong></span>
            </td>
          </tr>
          <tr>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              Nộp hồ sơ hoàn thuế TNCN điện tử
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              Nhận tiền hoàn thuế TNCN
            </td>
          </tr>
          <tr>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #3472b8"
                ><strong>Chỉ trong 5 phút</strong></span
              >
            </td>
            <td
              style="
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #3472b8"
                ><strong>Tùy trường hợp thời gian từ 6 - 40 ngày</strong></span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    &nbsp;

    <h5
      id="3.-Cac-giay-to,-chung-tu-khach-hang-can-cung-cap"
      style="text-align: justify"
    >
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong
            >3. Các giấy tờ, chứng từ khách hàng cần cung cấp</strong
          ></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Tùy vào từng trường hợp, đối tượng đề nghị hoàn thuế TNCN mà thông tin bạn
      cần cung cấp sẽ khác nhau. Bạn vui lòng liên hệ trực tiếp 2KT để được
      hướng dẫn chi tiết.<span style="color: #2a4e9a"
        ><span style="font-size: 24px"></span
      ></span>
    </p>

    <p>&nbsp;</p>

    <h3
      class="sub-title"
      id="Huong-dan-thu-tuc-hoan-thue-thu-nhap-ca-nhan-online-va-truc-tiep"
      style="text-align: justify"
    >
      <strong
        >Hướng dẫn thủ tục hoàn thuế thu nhập cá nhân online và trực
        tiếp</strong
      >
    </h3>

    <p style="text-align: justify">
      Tùy vào trường hợp hoàn thuế TNCN mà các bước hoàn thuế thu nhập cá nhân
      sẽ khác nhau. Dưới đây 2KT sẽ hướng dẫn cách lấy lại thuế thu nhập cá
      nhân theo từng trường hợp.
    </p>

    <h5
      id="1.-Truong-hop-nop-thua-thue-TNCN-hoac-chua-den-muc-nop-thue-TNCN"
      style="text-align: justify"
    >
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong
            >1. Trường hợp nộp thừa thuế TNCN hoặc chưa đến mức nộp thuế
            TNCN</strong
          ></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Căn cứ vào thu nhập và các khoản giảm trừ gia cảnh (giảm trừ cho bản thân
      và người phụ thuộc) để
      <a href="#">tính thu nhập chịu thuế TNCN</a>. Khi đó nếu tổng thu nhập
      trong năm dưới 132 triệu đồng (không tính thu nhập được miễn thuế) thì
      không phải nộp thuế TNCN. Đồng thời, giảm trừ 4.4 triệu đồng/người phụ
      thuộc/tháng đối với trường hợp có người phụ thuộc.
    </p>

    <p style="text-align: justify">
      Với trường hợp này, bạn cần biết chính xác thuế TNCN tạm nộp và thuế TNCN
      phải nộp. Số tiền thuế nộp chênh lệch là số thuế TNCN được hoàn do nộp
      thừa.
    </p>

    <p style="text-align: justify">
      Khi đó, hồ sơ đề nghị hoàn thuế thu nhập cá nhân thực hiện như sau:
    </p>

    <p style="text-align: justify">
      ➤ <strong>Cách 1</strong>: Nộp hồ sơ hoàn thuế trực tiếp
    </p>

    <p style="text-align: justify">
      Điền thông tin tại tờ khai quyết toán thuế TNCN (<a
        href="/uploads/files/Bieu-mau-ho-so/Thue-TNCN/mau-so-02-to-khai-quyet-toan-thue-thu-nhap-ca-nhan.docx"
        target="_blank"
        >mẫu số 02/QTT-TNCN</a
      >). Khi đó:
    </p>

    <ul>
      <li aria-level="1">
        Nếu bạn đề nghị hoàn thuế TNCN: Điền số thuế đề nghị hoàn tại chỉ tiêu
        [47] - Số thuế hoàn trả vào tài khoản người nộp thuế;
      </li>
      <li aria-level="1">
        Nếu bạn muốn chuyển sang kỳ sau: Điền số thuế đề nghị hoàn tại chỉ tiêu
        [49] - Tổng số thuế bù trừ cho các phát sinh của kỳ sau.
      </li>
    </ul>

    <p style="text-align: justify">
      ➤ <strong>Cách 1</strong>: Nộp hồ sơ hoàn thuế online, qua mạng
    </p>

    <p style="text-align: justify">Các bước hoàn thuế TNCN qua mạng như sau:</p>

    <ul>
      <li aria-level="1">Bước 1: Cài đặt phần mềm HTKK;</li>
      <li aria-level="1">
        Bước 2: Đăng nhập phần mềm HTKK bằng mã số thuế cá nhân;
      </li>
      <li aria-level="1">
        Bước 3: Chọn tờ khai quyết toán thuế TNCN (mẫu số 02/QT-TNCN) và điền
        thông tin tương tự như cách nộp hồ sơ trực tiếp;
      </li>
      <li aria-level="1">Bước 4: Kết xuất XML và nộp tờ khai.</li>
    </ul>

    <h5
      id="2.-Truong-hop-hoan-thue-TNCN-khi-doanh-nghiep-duoc-uy-quyen-quyet-toan-thue&nbsp;"
      style="text-align: justify"
    >
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong
            >2. Trường hợp hoàn thuế TNCN khi doanh nghiệp được ủy quyền quyết
            toán thuế&nbsp;</strong
          ></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      ➤ <strong>Cách 1</strong>: Nộp hồ sơ hoàn thuế trực tiếp
    </p>

    <p style="text-align: justify">Chi tiết hồ sơ hoàn thuế TNCN bao gồm:</p>

    <ul>
      <li aria-level="1">
        Giấy đề nghị hoàn trả khoản thu ngân sách nhà nước (<a
          href="/uploads/files/Bieu-mau-ho-so/Thue-GTGT/mau-01-DNHT.docx"
          target="_blank"
          >mẫu số 01/ĐNHT</a
        >);
      </li>
      <li aria-level="1">
        Bản chụp chứng từ, biên lai nộp thuế TNCN có chữ ký của người đại diện
        pháp luật.
      </li>
    </ul>

    <p style="text-align: justify">
      ➤ <strong>Cách 2</strong>: Nộp hồ sơ hoàn thuế online, qua mạng
    </p>

    <p style="text-align: justify">
      Tương tự cách 1, bạn điền thông tin theo mẫu số 01/ĐNHT, kết xuất XML và
      nộp online tại phần mềm HTKK.&nbsp;
    </p>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Đính kèm chứng từ, biên lai nộp thuế TNCN.
    </p>
    &nbsp;

    <h5
      id="3.-Thoi-gian-nhan-duoc-tien-hoan-thue-TNCN"
      style="text-align: justify"
    >
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>3. Thời gian nhận được tiền hoàn thuế TNCN</strong></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Như đã chia sẻ, quy trình hoàn thuế TNCN bao gồm 2 giai đoạn: nộp hồ sơ và
      nhận tiền thuế được hoàn. Theo đó, tùy vào tình trạng hồ sơ mà thời gian
      hoàn thuế sẽ khác nhau.
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Nếu hồ sơ hợp lệ: Từ 6 ngày - 40 ngày làm việc, kể từ khi tiếp nhận hồ
        sơ hoàn thuế, cơ quan thuế sẽ tiến hành hoàn thuế TNCN;
      </li>
      <li aria-level="1" style="text-align: justify">
        Nếu hồ sơ chưa hợp lệ: Trong vòng 3 ngày làm việc, kể từ ngày tiếp nhận
        hồ sơ hoàn thuế TNCN, cơ quan thuế phải thông báo, hướng dẫn người nộp
        thuế bổ sung, điều chỉnh hồ sơ.
      </li>
    </ul>
  </div>
</div>
