<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ đăng ký giấy phép Hộ Kinh Doanh Cá Thể - 1.500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Kinh nghiệm 16&nbsp;năm cung cấp dịch vụ đăng ký làm giấy phép hộ kinh
        doanh cá thể, 2KT cam kết chỉ cần 3 ngày hoàn thành thủ tục mở hộ kinh
        doanh cá thể.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a href="#Ho-kinh-doanh-(HKD)-ca-the-la-gi?"
            >Hộ kinh doanh (HKD) cá thể là gì?</a
          >
        </li>
        <li>
          <a href="#Tong-chi-phi-dang-ky-giay-phep-ho-kinh-doanh-ca-the&nbsp;"
            >Tổng chi phí đăng ký giấy phép hộ kinh doanh cá thể&nbsp;</a
          >
        </li>
        <li>
          <a
            href="#Ban-can-cung-cap-gi-khi-chon-dich-vu-lam-giay-phep-kinh-doanh-ho-ca-the-tai-2KT?"
            >Bạn cần cung cấp gì khi chọn dịch vụ làm giấy phép kinh doanh hộ cá
            thể tại 2KT?</a
          >
        </li>
        <li>
          <a
            href="#Tong-thoi-gian-thuc-hien-va-hoan-thanh-thu-tuc-dang-ky-ho-kinh-doanh-ca-the"
            >Tổng thời gian thực hiện và hoàn thành thủ tục đăng ký hộ kinh
            doanh cá thể</a
          >
        </li>
        <li>
          <a href="#Cach-dang-ky-ho-kinh-doanh-ca-the&nbsp;"
            >Cách đăng ký hộ kinh doanh cá thể&nbsp;</a
          >
        </li>
      </ul>
    </div>

    <h3 class="sub-title" id="Ho-kinh-doanh-(HKD)-ca-the-la-gi?">
      <a id="buoc1" name="buoc1">Hộ kinh doanh (HKD) cá thể là gì?</a>
    </h3>

    <p style="text-align: justify">
      Là loại hình kinh doanh được đăng ký bởi cá nhân hoặc các thành viên hộ
      gia đình tại cơ quan đăng ký kinh doanh cấp quận/huyện và phải chịu trách
      nhiệm bằng toàn bộ tài sản của mình đối với hoạt động kinh doanh.&nbsp;
    </p>

    <p style="text-align: justify">
      Hộ kinh doanh cá thể không giới hạn số lượng&nbsp;lao động. Đồng thời, hộ
      kinh doanh&nbsp;có thể hoạt động kinh doanh tại nhiều địa điểm
      nhưng&nbsp;chỉ được đăng ký trụ sở chính tại 1&nbsp;địa chỉ duy nhất trên
      phạm vi toàn quốc.
    </p>

    <p style="text-align: justify">
      <em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<span style="color: #e5451b"><strong>Xem chi tiết:</strong></span
      >&nbsp;<a
        href="https://ketoan2KT.vn/thu-tuc-va-luu-y-khi-dang-ky-ho-kinh-doanh.html"
        >Thủ tục và lưu ý khi đăng ký hộ kinh doanh cá thể</a
      >
    </p>

    <h3
      class="sub-title"
      id="Tong-chi-phi-dang-ky-giay-phep-ho-kinh-doanh-ca-the&nbsp;"
    >
      <a id="buoc2" name="buoc2"
        >Tổng chi phí đăng ký giấy phép hộ kinh doanh cá thể&nbsp;</a
      >
    </h3>

    <p style="text-align: justify">
      Tổng chi phí cho 2KT đăng ký giấy phép HKD cá thể chỉ
      <span style="color: #2a4e9a"><strong>1.500.000 đồng</strong></span
      >, không phát sinh chi phí khác, bao gồm:
    </p>

    <ul>
      <li>
        <p style="text-align: justify">Lệ phí đăng ký kinh doanh hộ cá thể;</p>
      </li>
      <li>
        <p style="text-align: justify">
          Phí dịch vụ soạn toàn bộ hồ sơ đăng ký HKD cá thể;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Phí dịch vụ trình khách hàng ký hồ sơ;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Phí dịch vụ nộp hồ sơ thành lập HKD cá thể;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Phí dịch vụ nhận kết quả và bàn giao giấy phép kinh doanh;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Phí dịch vụ công chứng ủy quyền cho 2KT thực hiện các thủ tục pháp
          lý với cơ quan nhà nước.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      <u>Lưu ý:</u> Toàn bộ quá trình giao nhận thủ tục đăng ký đều được 2KT
      sử dụng dịch vụ miễn phí tận nơi.
    </p>

    <h3
      class="sub-title"
      id="Ban-can-cung-cap-gi-khi-chon-dich-vu-lam-giay-phep-kinh-doanh-ho-ca-the-tai-2KT?"
    >
      <a id="buoc3" name="buoc3"
        >Bạn cần cung cấp gì khi chọn dịch vụ làm giấy phép kinh doanh hộ cá thể
        tại 2KT?</a
      >
    </h3>

    <p style="text-align: justify">
      Đơn giản hóa quy trình, thủ tục là tiêu chí và ưu điểm của các dịch vụ
      thành lập tại 2KT. Do vậy, bạn chỉ cần cung cấp các&nbsp;thông tin cơ
      bản sau:
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        CMND/CCCD/hộ chiếu của chủ hộ kinh doanh;
      </p>

      <p style="text-align: justify">
        CMND/CCCD/hộ chiếu của các thành viên hộ gia đình tham gia góp vốn đăng
        ký HKD;
      </p>

      <p style="text-align: justify">
        Thông tin dự kiến thành lập: tên HKD, ngành nghề kinh doanh, vốn, địa
        chỉ trụ sở...
      </p>
    </div>

    <p style="text-align: justify"><u>Lưu ý:</u></p>

    <p style="text-align: justify">
      2KT hỗ trợ chứng thực miễn phí các giấy tờ liên quan.
    </p>

    <p style="text-align: justify">
      Liên hệ ngay 2KT để được hỗ trợ tư vấn miễn phí tất cả điều kiện, thông
      tin dự kiến trước khi thành lập hộ kinh doanh cá thể. Chẳng hạn, đăng ký
      mức vốn như thế nào là hợp lý hoặc
      <a href="https://ketoan2KT.vn/cach-dat-ten-cong-ty.html"
        >đặt tên như thế nào cho hay và đúng</a
      >…
    </p>

    <h3
      class="sub-title"
      id="Tong-thoi-gian-thuc-hien-va-hoan-thanh-thu-tuc-dang-ky-ho-kinh-doanh-ca-the"
    >
      <a id="buoc4" name="buoc4"
        >Tổng thời gian thực hiện và hoàn thành thủ tục đăng ký hộ kinh doanh cá
        thể</a
      >
    </h3>

    <p style="text-align: justify">
      Chỉ cần 3 ngày để cơ quan đăng ký kinh doanh cấp quận/huyện xem xét tính
      hợp lệ của hồ sơ và cấp giấy phép cho hộ kinh doanh cá thể.
    </p>

    <p style="text-align: justify">
      Trong đó, các việc 2KT sẽ thay bạn thực hiện bao gồm:
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">Soạn hồ sơ và trình khách hàng ký;</p>

      <p style="text-align: justify">
        Nộp và chờ kết quả từ cơ quan đăng ký kinh doanh cấp huyện/quận;
      </p>

      <p style="text-align: justify">
        Bàn giao giấy phép hộ kinh doanh cá thể cho khách hàng.
      </p>
    </div>

    <h3 class="sub-title" id="Cach-dang-ky-ho-kinh-doanh-ca-the&nbsp;">
      <a id="buoc5" name="buoc5">Cách đăng ký hộ kinh doanh cá thể&nbsp;</a>
    </h3>

    <p style="text-align: justify">
      Để làm hồ sơ đăng ký hộ kinh doanh cá thể, bạn tiến hành các bước
      sau:&nbsp;
    </p>

    <p style="text-align: justify">
      1. Chuẩn bị hồ sơ thành lập hộ kinh doanh cá thể
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          CMND/CCCD/hộ chiếu của chủ hộ kinh doanh và các thành viên hộ gia đình
          tham gia góp vốn đăng ký HKD cá thể;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Hợp đồng thuê nhà/mượn nhà/giấy chứng nhận quyền sử dụng đất.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">2. Soạn và nộp hồ sơ</p>

    <p style="text-align: justify">
      Nộp giấy đề nghị đăng ký HKD cá thể đến cơ quan đăng ký kinh doanh cấp
      quận/huyện nơi đặt địa điểm kinh doanh (kèm bản sao giấy CMND/CCCD/hộ
      chiếu của chủ hộ kinh doanh (người đại diện đứng tên trên giấy phép);
    </p>

    <p style="text-align: justify">
      Nội dung giấy đề nghị đăng ký HKD cá thể bao gồm:
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          Tên hộ kinh doanh, địa chỉ chi tiết địa điểm kinh doanh;<br />
          <strong>Ví dụ</strong>: Hộ kinh doanh Nguyễn Văn A - Địa chỉ 55 Nguyễn
          Xí, P. 26, Q. Bình Thạnh, TP. HCM.
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Ngành, nghề kinh doanh;<br />
          Nếu bạn sử dụng dịch vụ của 2KT, chỉ cần cung cấp ngành kinh doanh
          chính, 2KT sẽ hỗ trợ soạn các ngành, nghề theo đúng quy chuẩn của cơ
          quan nhà nước.<br />
          <u>Lưu ý</u>: Những ngành, nghề yêu cầu chứng chỉ hành nghề, vốn pháp
          định thì phải bổ sung bản sao chứng chỉ hành nghề hoặc giấy chứng nhận
          vốn pháp định do cơ quan nhà nước cấp quận/huyện cấp.
        </p>
      </li>
      <li>
        <p style="text-align: justify">Vốn điều lệ;</p>
      </li>
      <li>
        <p style="text-align: justify">
          Họ, tên, số và ngày cấp CMND/CCCD/hộ chiếu, địa chỉ nơi cư trú và chữ
          ký của cá nhân hoặc đại diện các thành viên hộ gia đình.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      3. Bạn sẽ được cấp giấy biên nhận và giấy chứng nhận đăng ký HKD cá thể
      trong 3 ngày làm việc, kể từ ngày nhận hồ sơ hợp lệ, nếu có đủ các điều
      kiện sau đây:
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          Hồ sơ hợp lệ theo quy định các biểu mẫu;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Ngành, nghề kinh doanh không thuộc danh mục ngành, nghề cấm kinh
          doanh;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Tên hộ kinh doanh đăng ký phù hợp quy định;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Nộp đủ lệ phí đăng ký kinh doanh theo quy định.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Trường hợp hồ sơ không hợp lệ, trong 3 ngày làm việc, kể từ ngày nhận hồ
      sơ, cơ quan đăng ký kinh doanh phải thông báo rõ nội dung cần sửa đổi, bổ
      sung bằng văn bản cho người đăng ký thành lập HKD cá thể.
    </p>

    <p style="text-align: justify">
      Nếu sau 3 ngày làm việc, kể từ ngày nộp hồ sơ mà không nhận được giấy
      chứng nhận đăng ký kinh doanh hoặc thông báo yêu cầu sửa đổi, bổ sung hồ
      sơ đăng ký hộ kinh doanh thì người đăng ký HKD có quyền khiếu nại theo quy
      định của pháp luật về khiếu nại, tố cáo.
    </p>
  </div>
</div>
