<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ thành lập công ty TNHH - 250.000đ - Từ 3 ngày xong
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 mt-8 text-justify">
    <p style="text-align: justify">
      <strong
        >Tại Hà Nội,&nbsp;TP. HCM phí dịch vụ thành lập công ty TNHH tại dịch vụ
        thuê - kế toán 2KT chỉ 250.000đ. Bạn sẽ nhận ngay giấy phép kinh doanh
        (tận nhà) trong 4-5 ngày làm việc mà không tốn công sức chuẩn bị, không
        mất thời gian đi lại hay chờ đợi. Dịch vụ thuê - kế toán 2KT cam kết
        không phát sinh chi phí.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Xác định loại hình công ty TNHH</a>
        </li>
        <li>
          <a
            >Tổng chi phí thành lập công ty TNHH tại dịch vụ thuê - kế toán
            2KT</a
          >
        </li>
        <li>
          <a>3 thông tin bạn cần chuẩn bị khi thành lập công ty TNHH là gì?</a>
        </li>
        <li>
          <a>Thời gian hoàn thiện thủ tục thành lập công ty TNHH</a>
        </li>
        <li>
          <a
            >8 việc dịch vụ thuê - kế toán 2KT sẽ làm thay bạn khi thành lập
            công ty TNHH là gì?</a
          >
        </li>
        <li>
          <a>Bạn bắt buộc phải làm gì sau khi nhận giấy phép kinh doanh?</a>
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Xac-dinh-loai-hinh-cong-ty-TNHH"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a id="buoc1" name="buoc1"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong>Xác định loại hình công ty TNHH</strong></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Để hạn chế các vấn đề liên quan đến thuế hoặc các phát sinh buộc bạn phải
      làm thủ tục chuyển đổi loại hình doanh nghiệp, bạn cần xác định loại hình
      doanh nghiệp trước khi&nbsp; thành lập.
    </p>

    <p style="text-align: justify">
      Dựa vào vốn đăng ký kinh doanh và số lượng thành viên góp vốn mà công ty
      TNHH được chia thành:
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          <a>Công ty TNHH một thành viên</a>: Do 1 cá nhân làm chủ bằng 100% vốn
          của mình.
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          <a>Công ty TNHH hai thành viên trở lên</a>: Có số lượng thành viên góp
          vốn tối thiểu là 2 và tối đa là 50 người.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      <u>Lưu ý:</u> Trường hợp doanh nghiệp có từ 3 thành viên trở lên, tùy vào
      mục đích kinh doanh có thể cân nhắc chọn lựa giữa loại hình công ty TNHH
      hai thành viên trở lên hoặc công ty cổ phần. Nếu bạn chưa xác định được
      loại hình doanh nghiệp phù hợp, hãy liên hệ dịch vụ thuê - kế toán 2KT để
      được hỗ trợ tư vấn miễn phí hoặc xem thông tin tại bài viết dưới đây.
    </p>

    <h3
      class="sub-title"
      id="Tong-chi-phi-thanh-lap-cong-ty-TNHH-tai-2KT"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a id="buoc2" name="buoc2"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Tổng chi phí thành lập công ty TNHH tại dịch vụ thuê - kế toán
              2KT</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      <strong>Tổng chi phí trọn gói: 1.000.000 đồng</strong>. Trong đó:
    </p>

    <p style="text-align: justify">
      <strong>Lệ phí nộp nhà nước: 750.000 đồng</strong>
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          200.000 đồng phí ủy&nbsp;quyền nộp hồ sơ ở Sở KH&amp;ĐT;
        </p>
      </li>
      <li>
        <p style="text-align: justify">450.000 đồng phí khắc dấu tròn;</p>
      </li>
      <li>
        <p style="text-align: justify">
          100.000 đồng phí đăng bố cáo thành lập công ty TNHH.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      <strong
        >Phí dịch vụ tại dịch vụ thuê - kế toán 2KT: 250.000 đồng&nbsp;</strong
      >
    </p>

    <p style="text-align: justify">
      (*) Phí dịch vụ áp dụng cho cả công ty TNHH một thành viên và TNHH hai
      thành viên trở lên.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="3-thong-tin-ban-can-chuan-bi-khi-thanh-lap-cong-ty-TNHH-la-gi?"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
      "
    >
      <a id="buoc3" name="buoc3"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >3 thông tin bạn cần chuẩn bị khi thành lập công ty TNHH là
              gì?</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Dịch vụ thuê - kế toán 2KT&nbsp;thay bạn hoàn thành tất cả giấy tờ, biểu
      mẫu đăng ký thành lập. Bạn chỉ cần cung cấp cho dịch vụ thuê - kế toán 2KT
      3 thông tin:
    </p>

    <ol>
      <li>
        <p style="text-align: justify">
          Thông tin công ty dự kiến: tên, địa chỉ, ngành nghề;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Bản sao công chứng CMND/CCCD/hộ chiếu của chủ sở hữu/thành viên góp
          vốn và người đại diện theo pháp luật;&nbsp;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Vốn điều lệ công ty và tỷ lệ góp vốn của từng thành viên (nếu là công
          ty TNHH 2 thành viên trở lên).
        </p>
      </li>
    </ol>

    <p style="text-align: justify">
      (*) Hỗ trợ miễn phí sao y, chứng thực CMND/CCCD/hộ chiếu nếu bạn chưa có.
    </p>

    <p style="text-align: justify">
      (*) Bạn chỉ cần cung cấp ngành nghề kinh doanh mong muốn. Dịch vụ thuê -
      kế toán 2KT sẽ tư vấn và đăng ký mã ngành chi tiết, đầy đủ cho bạn.
    </p>

    <h3
      class="sub-title"
      id="Thoi-gian-hoan-thien-thu-tuc-thanh-lap-cong-ty-TNHH"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a id="buoc4" name="buoc4"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Thời gian hoàn thiện thủ tục thành lập công ty TNHH</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Sau khi nhận được 3 thông tin trên, Dịch vụ thuê - kế toán 2KT sẽ tiến
      hành:
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          Hoàn thiện bộ hồ sơ, trình bạn ký và nộp hồ sơ tại Sở KH&amp;ĐT;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Chỉ trong vòng 3 ngày, Sở KH&amp;ĐT sẽ kiểm duyệt và cấp giấy phép
          kinh doanh.
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Dịch vụ thuê - kế toán 2KT sẽ bàn giao nhanh chóng giấy phép kinh
          doanh và con dấu tận nơi cho bạn.
        </p>
      </li>
    </ul>

    <h3
      class="sub-title"
      id="8-viec-2KT-se-lam-thay-ban-khi-thanh-lap-cong-ty-TNHH-la-gi?"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
      "
    >
      <a id="buoc5" name="buoc5"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >8 việc Dịch vụ thuê - kế toán 2KT sẽ làm thay bạn khi thành lập
              công ty TNHH là gì?</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Với phí Dịch vụ thành lập 250.000 đồng, dịch vụ thuê - kế toán 2KT sẽ thay
      bạn hoàn thành các vấn đề về thủ tục pháp lý rườm rà, mà nếu chưa có kinh
      nghiệm bạn sẽ cần rất nhiều thời gian để tìm hiểu, chuẩn bị, soạn và nộp
      hồ sơ, bao gồm:
    </p>

    <h3
      class="sub-title"
      id="Ban-bat-buoc-phai-lam-gi-sau-khi-nhan-giay-phep-kinh-doanh?"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a id="buoc6" name="buoc6"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Bạn bắt buộc phải làm gì sau khi nhận giấy phép kinh
              doanh?</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Để không bị xử phạt hành chính hoặc gây ảnh hưởng đến hoạt động kinh doanh
      của doanh nghiệp, sau khi nhận giấy chứng nhận đăng ký kinh doanh và công
      bố mẫu dấu của doanh nghiệp, bạn cần thực hiện ngay 5 việc sau:
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        1. Soạn và nộp hồ sơ
        <a target="_blank">khai thuế ban đầu</a>: TP. HCM - 500.000 đồng, Hà Nội
        - 1.000.000 đồng.
      </p>

      <p style="text-align: justify">
        &nbsp; &nbsp; Miễn phí 500.000 đồng khi sử dụng dịch vụ kế toán của dịch
        vụ thuê - kế toán 2KT.
      </p>

      <p style="text-align: justify">
        2.
        <a target="_blank">Mua chữ ký số (token)</a>
        để khai thuế ban đầu, nộp báo cáo thuế, kê khai và nộp BHXH...&nbsp;
      </p>

      <p style="margin-left: 20px; text-align: justify">
        Tham khảo chữ ký số của nhà mạng Viettel từ 900.000 đồng.
      </p>

      <p style="text-align: justify">
        3. Đăng ký
        <a>mở tài khoản ngân hàng</a>.
      </p>

      <p style="margin-left: 20px; text-align: justify">
        Hiện nay, dịch vụ thuê - kế toán 2KT có liên kết hợp tác với các ngân
        hàng lớn để hỗ trợ mở tài khoản cho doanh nghiệp miễn phí tại nhà như:
        Vietcombank, Vietinbank, UOB...
      </p>

      <p style="text-align: justify">
        4. Làm bảng hiệu công ty - Chi phí: 200.000 đồng/bảng hiệu (kích thước
        20cm x 30cm).
      </p>

      <p style="text-align: justify">
        5. Mua và làm thủ tục thông báo phát hành hóa đơn
      </p>

      <p style="margin-left: 20px; text-align: justify">
        Dịch vụ thuê - kế toán 2KT sẽ hỗ trợ tư vấn hình thức và loại hóa đơn phù hợp. Đồng thời, hỗ
        trợ giới thiệu và liên kết nhà cung cấp hóa đơn điện tử uy tín với chi
        phí hợp lý cho doanh nghiệp.&nbsp;
      </p>
    </div>
  </div>
</div>
