<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ thay đổi CCCD trên giấy phép kinh doanh - 700.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ thay đổi giấy phép kinh doanh khi chuyển từ CMND sang CCCD của
        người đại diện theo pháp luật tại 2KT phí dịch vụ 700.000đ - xong hồ sơ
        120 phút.</strong
      >
    </p>

    <div class="custom-muc-luc toc_root">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a
            >Dịch vụ thay đổi CCCD trên giấy phép kinh doanh tại dịch vụ thuê - kế toán 2KT - Toàn
            quốc</a
          >
        </li>
        <li>
          <a
            >Thủ tục thay đổi giấy phép kinh doanh khi đổi CCCD người đại diện
            pháp luật</a
          >
          <ul class="noi-dung-chinh">
            <li>
              <a>1. Hồ sơ thay đổi CCCD trên đăng ký kinh doanh</a>
            </li>
            <li>
              <a
                >2. Thủ tục thay đổi, cập nhật CCCD trên giấy phép kinh doanh</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            >4 lưu ý khi thay đổi GPKD do thay đổi CCCD người đại diện pháp
            luật</a
          >
        </li>
      </ul>
    </div>

    <p style="text-align: justify">
      Mặc dù không bắt buộc nhưng từ khoảng giữa năm 2021 đến nay, Bộ Công an
      khuyến cáo người dân nên chuyển đổi sử dụng từ CMND sang CCCD gắn chip.
      Bởi thẻ CCCD không chỉ hỗ trợ tối ưu cho cơ quan nhà nước trong việc quản
      lý mà đối với người dân cũng mang đến nhiều lợi ích thiết thực, có thể kể
      đến như:&nbsp;
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Độ bảo mật thông tin cá nhân cao hơn so với CMND;
      </li>
      <li aria-level="1" style="text-align: justify">
        CCCD gắn chip tích hợp khá nhiều loại giấy tờ quan trọng như giấy phép
        lái xe, giấy tạm trú, sổ hộ khẩu, sổ BHXH… Từ đó, thay vì phải mang quá
        nhiều giấy tờ, bạn chỉ cần mang CCCD khi làm việc với cơ quan nhà nước.
      </li>
    </ul>

    <p style="text-align: justify">
      Xong, việc chuyển từ CMND sang CCCD dẫn đến bạn phải thay đổi khá nhiều
      giấy tờ liên quan, trong đó có giấy chứng nhận đăng ký kinh doanh. Cùng
      tìm hiểu cách
      <a>thay đổi giấy phép kinh doanh</a>
      do thay đổi CCCD ngay dưới đây.
    </p>

    <h3
      class="sub-title"
      id="Dich-vu-thay-doi-CCCD-tren-giay-phep-kinh-doanh-tai-2KT---Toan-quoc"
      style="text-align: justify"
    >
      <strong
        >Dịch vụ thay đổi CCCD trên giấy phép kinh doanh tại dịch vụ thuê - kế toán 2KT - Toàn
        quốc</strong
      >
    </h3>

    <p style="text-align: justify">
      Thay đổi CCCD trên giấy phép kinh doanh có thể được hiểu là việc thay đổi
      thông tin người đại diện theo pháp luật, dẫn đến việc phải
      <a>thay đổi nội dung đăng ký doanh nghiệp</a>.&nbsp;
    </p>

    <p style="text-align: justify">
      Nói đơn giản, thủ tục thay đổi CCCD trên giấy phép kinh doanh chính là thủ
      tục thay đổi giấy phép kinh doanh.
    </p>

    <p style="text-align: justify">
      ➨ dịch vụ thuê - kế toán 2KT cung cấp
      <a>dịch vụ thay đổi giấy phép kinh doanh</a>
      trong trường hợp chuyển từ CMND sang CCCD với phí dịch vụ từ&nbsp;700.000
      đồng, cụ thể:
    </p>

    <div>
      <table
        cellspacing="0"
        class="bang-cam custom-quote-table"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              colspan="3"
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              <span style="color: #ffffff"
                ><strong>Phí dịch vụ từ 700.000 đồng - Toàn quốc</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              colspan="3"
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
              "
              width="NaN"
            >
              Thay đổi CCCD trên giấy chứng nhận đăng ký doanh nghiệp
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">
      <span style="font-size: 1rem"><u>Lưu ý</u>:</span>
    </p>

    <p style="text-align: justify">
      Tùy từng tỉnh thành và trường hợp hồ sơ mà chi phí sẽ thay đổi. Liên hệ
      ngay với dịch vụ thuê - kế toán 2KT để được tư vấn cụ thể và báo giá theo từng trường hợp.
    </p>

    <p style="text-align: justify">
      ➨ Với chi phí trên, bạn hoàn toàn có thể yên tâm tiếp tục công việc kinh
      doanh, Kế toán dịch vụ thuê - kế toán 2KT sẽ hỗ trợ từ A - Z các thủ tục pháp lý mà Sở KH&amp;ĐT
      yêu cầu khi thay đổi CCCD trên giấy phép kinh doanh.
    </p>

    <div>
      <table
        cellspacing="0"
        class="bang-cam custom-quote-table"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                vertical-align: top;
              "
              width="NaN"
            >
              <p style="text-align: justify">
                Cụ thể, khi cập nhật CCCD trên đăng ký kinh doanh, bạn chỉ cần
                gửi cho dịch vụ thuê - kế toán 2KT 2 thông tin sau:
              </p>

              <ol>
                <li aria-level="1" style="text-align: justify">
                  Mã số thuế công ty;
                </li>
                <li aria-level="1" style="text-align: justify">
                  Số CCCD mới của người đại diện theo pháp luật.
                </li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">&nbsp;</p>

    <p style="text-align: justify">
      ➨ Thời gian bàn giao giấy phép kinh doanh với thông tin CCCD mới - từ 3
      ngày làm việc.
    </p>

    <p style="text-align: justify">
      Bảng dưới đây là mốc thời gian dự kiến cho từng hạng mục công việc mà 2KT
      thay bạn thực hiện khi sử dụng dịch vụ cập nhật CCCD trên giấy phép kinh
      doanh với Sở KH&amp;ĐT.
    </p>

    <div>
      <table
        cellspacing="0"
        class="bang-cam custom-quote-table"
        style="border-collapse: collapse; border: none; width: 100%"
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
                width: 231px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Khung thời gian dự kiến</strong></span
              >
            </td>
            <td
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: top;
                width: 369px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Hạng mục công việc</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: top;
                width: 231px;
              "
            >
              Tối đa 120 phút
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: top;
                width: 369px;
              "
            >
              Tư vấn và soạn bộ hồ sơ thay đổi GPKD
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: top;
                width: 231px;
              "
            >
              <p>&nbsp;</p>

              <p>Trong vòng 3 - 4 ngày</p>
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: top;
                width: 369px;
              "
            >
              1. Trình doanh nghiệp ký hồ sơ<br />
              2. Đại diện nộp hồ sơ thay đổi đại diện pháp luật, cập nhật CCCD
              mới tại Sở KH&amp;ĐT<br />
              3. Chờ Sở KH&amp;ĐT xét duyệt hồ sơ, cấp GPKD với số CCCD mới<br />
              4. Đại diện nhận GPKD mới và bàn giao miễn phí tại địa điểm được
              yêu cầu
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">
      <span style="font-size: 1rem"><u>Lưu ý</u>:</span>
    </p>

    <p style="text-align: justify">
      Trên thực tế, quá trình chuẩn bị và nộp hồ sơ không mất nhiều thời gian.
      Tuy nhiên, giai đoạn chờ Sở KH&amp;ĐT xem xét hồ sơ, cấp giấy phép kinh
      doanh mới và chuyển kết quả về cho 2KT theo đường bưu điện có thể kéo dài
      hơn bởi lệ thuộc khá nhiều từ đơn vị vận chuyển, cũng như tiến độ kiểm
      duyệt hồ sơ của Sở KH&amp;ĐT.
    </p>

    <h3
      class="sub-title"
      id="Thu-tuc-thay-doi-giay-phep-kinh-doanh-khi-doi-CCCD-nguoi-dai-dien-phap-luat"
      style="text-align: justify"
    >
      <strong
        >Thủ tục thay đổi giấy phép kinh doanh khi đổi CCCD người đại diện pháp
        luật</strong
      >
    </h3>

    <p style="text-align: justify">
      Như dịch vụ thuê - kế toán 2KT chia sẻ phần trên, khi người đại người theo pháp luật (giám đốc,
      tổng giám đốc…) chuyển đổi từ CMND sang CCCD, trong vòng 10 ngày, kể từ
      ngày hoàn thành việc chuyển đổi CCCD, cần làm thủ tục thay đổi giấy đăng
      ký kinh doanh, cụ thể là thay đổi thông tin người đại diện theo pháp luật.
    </p>

    <p style="text-align: justify">
      Nếu doanh nghiệp tự thực hiện thì dưới đây là hướng dẫn các bước thay đổi
      đăng ký kinh doanh.
    </p>

    <h5
      id="1.-Ho-so-thay-doi-CCCD-tren-dang-ky-kinh-doanh"
      style="text-align: justify"
    >
      <a id="ho_so" name="ho_so"
        ><span style="color: #3472b8"
          ><span style="font-size: 18px"
            ><strong
              >1. Hồ sơ thay đổi CCCD trên đăng ký kinh doanh</strong
            ></span
          ></span
        ></a
      >
    </h5>

    <p style="text-align: justify">
      Tương tự như thủ tục
      <a>thay đổi thông tin người đại diện theo pháp luật</a>
      hoặc
      <a>thay đổi đăng ký kinh doanh</a>, với trường hợp này bạn cũng cần chuẩn
      bị tối thiểu 5 đầu mục hồ sơ.
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        Chi tiết hồ sơ cần chuẩn bị khi thay đổi CCCD trên giấy phép kinh doanh:
      </p>

      <ol>
        <li aria-level="1" style="text-align: justify">
          Thông báo thay đổi người đại diện theo pháp luật, cụ thể là thay đổi
          CCCD;
        </li>
        <li aria-level="1" style="text-align: justify">
          Quyết định về việc thay đổi CCCD của người đại diện pháp luật;
        </li>
        <li aria-level="1" style="text-align: justify">
          Biên bản họp về việc thay đổi CCCD của người đại diện pháp luật;
        </li>
        <li aria-level="1" style="text-align: justify">
          CCCD mới của người đại diện theo pháp luật;
        </li>
        <li aria-level="1" style="text-align: justify">
          Giấy ủy quyền (trong trường hợp có ủy quyền cho cá nhân khác nộp hồ
          sơ).
        </li>
      </ol>

      <p style="text-align: justify">
        <span style="color: #e5451b"
          ><strong>&gt;&gt; TẢI MIỄN PHÍ: </strong></span
        ><a target="_blank">Hồ sơ thay đổi CCCD người đại diện theo pháp luật</a
        >.
      </p>
    </div>

    <h5
      id="2.-Thu-tuc-thay-doi,-cap-nhat-CCCD-tren-giay-phep-kinh-doanh"
      style="text-align: justify"
    >
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong
            >2. Thủ tục thay đổi, cập nhật CCCD trên giấy phép kinh
            doanh</strong
          ></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Về cơ bản, bạn có thể nộp hồ sơ thay đổi CCCD của người đại diện pháp luật
      theo 1 trong 3 cách:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Cách 1: Nộp trực tiếp tại Sở KH&amp;ĐT, nơi doanh nghiệp đặt trụ sở
        chính;
      </li>
      <li aria-level="1" style="text-align: justify">
        Cách 2: Sử dụng dịch vụ bưu chính của VNPost để gửi hồ sơ cho Sở
        KH&amp;ĐT;
      </li>
      <li aria-level="1" style="text-align: justify">
        Cách 3: Nộp qua mạng tại
        <a
          href="https://dangkykinhdoanh.gov.vn/vn/Pages/Trangchu.aspx"
          rel="nofollow"
          target="_blank"
          >Cổng thông tin quốc gia về đăng ký doanh nghiệp</a
        >.
      </li>
    </ul>

    <p style="text-align: justify">
      Tuy nhiên, hiện nay hầu như các thủ tục pháp lý với Sở KH&amp;ĐT đang dần
      được chuyển về hình thức trực tuyến, nhằm giảm thiểu tình trạng quá tải
      cũng như chi phí in ấn, đi lại… Do vậy, bạn cần liên hệ trước với Sở
      KH&amp;ĐT để xác định hình thức tiếp nhận hồ sơ trước khi chính thức tiến
      hành thủ tục.
    </p>

    <p style="text-align: justify">---------</p>

    <p style="text-align: justify">
      Chia sẻ thêm với bạn, với cách nộp hồ sơ thay đổi đăng ký kinh doanh khi
      cập nhật CCCD qua mạng, bạn có 2 cách để thực hiện:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Cách 1: Sử dụng chữ ký số;
      </li>
      <li aria-level="1" style="text-align: justify">
        Cách 2: Sử dụng tài khoản đăng ký kinh doanh tại Cổng thông tin quốc
        gia.
      </li>
    </ul>

    <p style="text-align: justify">
      Xem hướng dẫn chi tiết quy trình thay đổi giấy phép kinh doanh online theo
      bài viết sau:
      <a>Hướng dẫn thay đổi đăng ký kinh doanh qua mạng</a>.
    </p>

    <p style="text-align: justify">
      Hoặc liên hệ với Kế toán 2KT để được tư vấn miễn phí theo số hotline dưới
      đây.
    </p>

    <h3
      class="sub-title"
      id="4-luu-y-khi-thay-doi-GPKD-do-thay-doi-CCCD-nguoi-dai-dien-phap-luat"
      style="text-align: justify"
    >
      <strong
        >4 lưu ý khi thay đổi GPKD do thay đổi CCCD người đại diện pháp
        luật</strong
      >
    </h3>

    <p style="text-align: justify">
      Sau khoảng thời gian hơn 17&nbsp;năm hỗ trợ các doanh nghiệp
      <a>thay đổi thông tin giấy phép kinh doanh</a>
      nói chung và thay đổi thông tin người đại diện pháp luật nói riêng, Kế
      toán 2KT đã đúc kết và chia sẻ với bạn 3 lưu ý như sau:
    </p>

    <p style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong
            >1. Thông báo các bên có liên quan về việc thay đổi</strong
          ></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      <a>Người đại diện theo pháp luật</a>
      là người chịu trách nhiệm ký duyệt hầu hết các giấy tờ quan trọng của công
      ty như nghị quyết, quyết định, hợp đồng, hồ sơ làm việc với ngân
      hàng…&nbsp;
    </p>

    <p style="text-align: justify">
      Do vậy, khi thay đổi CCCD của người đại diện pháp luật dẫn đến thay đổi
      giấy phép kinh doanh, bạn cần gửi thông báo đến các bên có liên quan về
      việc thay đổi này, tránh ảnh hưởng đến quá trình hợp tác giữa các bên.
    </p>

    <p style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>2. Không cần cập nhật CCCD với cơ quan thuế</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Bạn không cần phải tiến hành hồ sơ cập nhật CCCD của người đại diện theo
      pháp luật với cơ quan quản lý thuế. Bởi hiện nay, cơ quan đăng ký kinh
      doanh đã đồng bộ thông tin với cơ quan thuế.
    </p>

    <p style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>3. Thực hiện đồng thời</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Trong quá trình thay đổi CCCD trên giấy phép kinh doanh, nếu doanh nghiệp
      có bất cứ sự thay đổi thông tin nào khác trên giấy phép kinh doanh đều có
      thể tiến hành đồng thời, mà không cần phải hoàn thành việc thay đổi nội
      dung này mới tiếp tục tiến hành thay đổi nội dung khác.
    </p>

    <p style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>4. Thay đổi các giấy tờ có liên quan</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      <a>Thay đổi giấy phép kinh doanh</a>
      bởi thay đổi CCCD của người đại diện theo pháp luật sẽ dẫn đến việc thay
      đổi rất nhiều loại giấy tờ liên quan.&nbsp;
    </p>

    <p style="text-align: justify">
      Chẳng hạn, đối với doanh nghiệp kinh doanh thiết bị PCCC, trên giấy xác
      nhận đủ điều kiện kinh doanh dịch vụ PCCC có thể hiện thông tin
      CMND/CCCD/hộ chiếu của người đại diện theo pháp luật, nên khi cập nhật
      CCCD trên GPKD bạn phải tiến hành thay đổi thông tin trên giấy xác nhận.
    </p>
  </div>
</div>
