<!-- <div class="profile-card flex mt-2 justify-center">
    <div class="profile-card-image">
        <img src="https://i.imgur.com/6zscxaw.jpg" alt="Image" width="566" height="377">
    </div>
    <div class="profile-card-content ml-2">
        <h2>Đại Lý Thuế 2KT</h2>
        <p class="pt-6"><strong>Đại lý Thuế 2KT</strong> được thành lập vào Tháng 3/2010, là Công ty Dịch vụ Kế Toán,
            Báo Cáo Thuế hàng đầu với
            hơn 13 năm kinh nghiệm tại Tp Hồ Chí Minh và Tp Đà Nẵng..</p>
        <p class="pt-6"><strong>2KT</strong> ra đời với sứ mệnh giúp các doanh nghiệp có được một bộ phận Kế toán chuyên
            nghiệp, tận tâm với chi
            phí hợp lý để có thể vượt qua những khó khăn trong giai đoạn khởi nghiệp, tạo điều kiện thuận lợi để doanh
            nghiệp phát triển bền vững trên thị trường.</p>
        <p class="pt-6">Với phương châm “<strong>Uy tín tạo niềm tin</strong>”, chúng tôi mong muốn mang đến cho khách hàng
            sự an toàn bền
            vững, là hậu phương vững chắc giúp quý doanh nghiệp tập trung vào hoạt động kinh doanh cốt lõi và góp phần
            quan trọng vào sự thành công của doanh nghiệp trong tương lai.</p>
        <button class="btn">Read More</button>
    </div>
</div> -->
<div class="flex mb-3 border-0 justify-center ">
    <div class="row g-0 profile-card-container">
        <div class="col-md-5 flex items-center">
            <img src="https://i.imgur.com/6zscxaw.jpg" class="img-fluid rounded shadow-xl shadow-gray-500">
        </div>
        <div class="col-md-7 pl-8">
            <div class="card-body profile-card-content">
                <h2 class="card-title">Đại Lý Thuế 2KT</h2>
                <p class="card-text pt-6"><strong>Đại lý Thuế 2KT</strong> được thành lập vào Tháng 3/2010, là Công ty
                    Dịch
                    vụ Kế Toán,
                    Báo Cáo Thuế hàng đầu với
                    hơn 13 năm kinh nghiệm tại Tp Hồ Chí Minh và Tp Đà Nẵng.</p>
                <p class="card-text pt-6"><strong>2KT</strong> ra đời với sứ mệnh giúp
                    các
                    doanh nghiệp có được một bộ phận Kế toán chuyên
                    nghiệp, tận tâm với chi
                    phí hợp lý để có thể vượt qua những khó khăn trong giai đoạn khởi nghiệp, tạo điều kiện thuận lợi để
                    doanh
                    nghiệp phát triển bền vững trên thị trường.</p>
                <p class="card-text pt-6">Với phương châm “<strong>Uy tín tạo niềm tin</strong>”, chúng tôi mong muốn
                    mang
                    đến cho khách hàng
                    sự an toàn bền
                    vững, là hậu phương vững chắc giúp quý doanh nghiệp tập trung vào hoạt động kinh doanh cốt lõi và
                    góp phần
                    quan trọng vào sự thành công của doanh nghiệp trong tương lai.</p>
                <a class="btn btn-danger btn-common btn-border-radius">Xem thêm</a>
            </div>
        </div>
    </div>
</div>