<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active cs-banner-1 position-relative">
      <div class="dark-overlay"></div>
      <img
        src="https://i.imgur.com/sqY0sPJ.jpg"
        class="d-block w-100 banner-img"
        loading="lazy"
      />
      <div
        class="position-absolute content-image animated animatedFadeInUp fadeInUp w-full flex justify-center"
      >
        <div class="w-fit">
          <div class="w-fit">
            <h1 class="cs-header w-fit">Đối tác tin cậy</h1>
            <h1 class="cs-header w-fit">của doanh nghiệp</h1>
          </div>
          <div class="lg:block hidden w-fit">
            <span class="cs-description w-fit"
              >2KT luôn đồng hành cùng doanh nghiệp là đối tác tin cậy,<br />
              cam kết mang lại sự chuyên nghiệp và tận tâm với doanh
              nghiệp.</span
            >
          </div>
          <div class="mt-8 w-fit">
            <a
              class="btn btn-danger btn-common btn-border-radius"
              (click)="redirectTo('gioi-thieu')"
              >Tìm hiểu thêm</a
            >
            <a
              class="btn btn-light btn-contact btn-border-radius ml-4"
              (click)="redirectTo('lien-he')"
              >Liên hệ báo giá</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item cs-banner-2 position-relative">
      <div class="dark-overlay"></div>
      <img
        src="https://i.imgur.com/3IORI96.jpg"
        class="d-block w-100 banner-img"
        loading="lazy"
      />
      <div
        class="position-absolute content-image animated animatedFadeInUp fadeInUp w-full flex justify-center"
      >
        <div class="w-fit">
          <div class="w-fit">
            <h1 class="cs-header w-fit">Giải pháp toàn diện</h1>
            <h1 class="cs-header w-fit">cho khách hàng</h1>
          </div>
          <div class="lg:block hidden w-fit">
            <span class="cs-description w-fit"
              >Cam kết cung cấp các giải pháp thuế toàn diện cho khách hàng,<br />
              Luôn rõ ràng trong tư vấn, đàm phán và quy trình làm việc, mang
              lại hiệu quả tốt nhất cho khách hàng<br />
              2KT đã hoạt động hơn 10 năm và phục vụ cho hàng trăm doanh nghiệp.
            </span>
          </div>
          <div class="mt-8 w-fit">
            <a
              class="btn btn-danger btn-common btn-border-radius"
              (click)="redirectTo('gioi-thieu')"
              >Tìm hiểu thêm</a
            >
            <a
              class="btn btn-light btn-contact btn-border-radius ml-4"
              (click)="redirectTo('lien-he')"
              >Liên hệ báo giá</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item cs-banner-3 position-relative">
      <div class="dark-overlay"></div>
      <img
        src="https://i.imgur.com/c3QO2e9.jpg"
        class="d-block w-100 banner-img"
        loading="lazy"
      />
      <div
        class="position-absolute content-image animated animatedFadeInUp fadeInUp w-full flex justify-center"
      >
        <div class="w-fit">
          <div class="w-fit">
            <h1 class="cs-header w-fit">Chia sẻ giá trị</h1>
            <h1 class="cs-header w-fit">Xây dựng tương lai</h1>
          </div>
          <div class="lg:block hidden w-fit">
            <span class="cs-description w-fit"
              >Chia sẻ giá trị, xây dựng tương lai là cam kết của chúng tôi. Tại
              2KT, chúng tôi không chỉ là một đơn vị tư vấn thuế,<br />
              mà là đối tác đồng hành của doanh nghiệp bạn trong hành trình phát
              triển.</span
            >
          </div>
          <div class="mt-8 w-fit">
            <a
              class="btn btn-danger btn-common btn-border-radius"
              (click)="redirectTo('gioi-thieu')"
              >Tìm hiểu thêm</a
            >
            <a
              class="btn btn-light btn-contact btn-border-radius ml-4"
              (click)="redirectTo('lien-he')"
              >Liên hệ báo giá</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
