<div class="hp-content">
  <app-header></app-header>
  <div class="my-20 flex justify-center">
    <div class="grid lg:grid-cols-12 !m-0 2xl:w-4/5">
      <div class="col-span-6 lg:!pl-32 lg:!pr-20 md:px-20 sm:px-16 px-8">
        <h2>Liên hệ với chúng tôi</h2>
        <p class="mt-8 mb-4">
          Vui lòng điền thông tin cần tư vấn, đội ngũ tư vấn hỗ trợ khách hàng
          24/7 sẽ liên lạc lại ngay với bạn.
          <br />
          <br />
          Liên hệ trực tiếp với chúng tôi:
        </p>
        <div class="border-t-2 border-gray-400">
          <app-infor-card
            icon="fa-solid fa-location-dot"
            [content]="
              'Số 5A, Đường Hoàng Văn Thụ, Phường Minh Khai, Quận Hồng Bàng, TP Hải Phòng'
            "
            title="Địa chỉ"
            [isStyle]="false"
            class=""
          ></app-infor-card>
          <app-infor-card
            icon="fa-solid fa-phone-volume"
            [content]="'0969295848 - 0904515969'"
            title="Hotline"
            [isStyle]="false"
            class="mr-8"
          ></app-infor-card>
          <app-infor-card
            icon=""
            [content]="'0906051522 - 0904515969'"
            title="Zalo"
            [isStyle]="false"
            class="mr-8"
          ></app-infor-card>
          <app-infor-card
            icon="fa-solid fa-envelope"
            [content]="'2kthpcompany@gmail.com'"
            title="Email"
            [isStyle]="false"
            class="mr-8"
          ></app-infor-card>
        </div>
      </div>
      <div class="col-span-6 flex items-center justify-center mt-16 lg:!mt-0">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.2135997196506!2d106.67901997596674!3d20.863439093434806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7b70b244404f%3A0x79694ca374da847f!2zQ8O0bmcgVHkgROG7i2NoIFbhu6UgS-G6vyBUb8OhbiAyS1Q!5e0!3m2!1svi!2s!4v1706533519433!5m2!1svi!2s"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full"
  ></iframe>
  <div class="">
    <app-footer></app-footer>
  </div>
</div>
