<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ hoàn thuế GTGT hàng xuất khẩu, dự án đầu tư - nhanh
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ hoàn thuế giá trị gia tăng, hoàn thuế VAT tại 2KT chỉ trong 45
        ngày. Miễn phí tư vấn quy định, điều kiện hoàn thuế GTGT, quy trình hoàn
        thuế GTGT...</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Dịch vụ hoàn thuế giá trị gia tăng (GTGT) tại 2KT</a>

          <ul class="noi-dung-chinh">
            <li>
              <a>1. Tổng chi phí hoàn thuế GTGT tại 2KT</a>
            </li>
            <li>
              <a>2. Thời gian hoàn thành thủ tục hoàn thuế GTGT</a>
            </li>
            <li>
              <a>3. Cam kết dịch vụ hoàn thuế GTGT tại 2KT</a>
            </li>
          </ul>
        </li>
        <li>
          <a>Các trường hợp được hoàn thuế GTGT</a>
          <ul class="noi-dung-chinh">
            <li>
              <a>1. Điều kiện hoàn thuế GTGT</a>
            </li>
            <li>
              <a>2. Đối tượng được hoàn thuế GTGT</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            >Hướng dẫn hồ sơ, thủ tục hoàn thuế giá trị gia tăng theo Thông tư
            80</a
          >
          <ul class="noi-dung-chinh">
            <li>
              <a>1. Cách hoàn thuế GTGT</a>
            </li>
            <li>
              <a>2. Hồ sơ hoàn thuế GTGT</a>
            </li>
            <li>
              <a>3. Thời gian nhận được tiền hoàn thuế GTGT</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Dich-vu-hoan-thue-gia-tri-gia-tang-(GTGT)-tai-2KT"
      style="text-align: justify"
    >
      <strong>Dịch vụ hoàn thuế giá trị gia tăng (GTGT) tại 2KT</strong>
    </h3>

    <p
      id="Nham-toi-uu-thoi-gian-thuc-hien-thu-tuc-hoan-thue-GTGT-cung-nhu-dam-bao-ho-so-hoan-thue-VAT-duoc-chinh-xac,-hay-tham-khao-dich-vu-tai-2KT-voi-chi-tiet-thong-tin-nhu-sau:1.-Tong-chi-phi-hoan-thue-GTGT-tai-2KT"
      style="text-align: justify"
    >
      Nhằm tối ưu thời gian thực hiện thủ tục hoàn thuế GTGT cũng như đảm bảo hồ
      sơ hoàn thuế VAT được chính xác, hãy tham khảo dịch vụ tại 2KT với chi
      tiết thông tin như sau:
    </p>

    <h5 id="1.-Tong-chi-phi-hoan-thue-GTGT-tai-2KT" style="text-align: justify">
      <span style="color: #3472b8"
        ><span style="font-size: 18px"
          ><strong>1. Tổng chi phí hoàn thuế GTGT tại 2KT</strong></span
        ></span
      >
    </h5>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Phí làm hồ sơ hoàn thuế GTGT: 10.000.000 đồng/hồ sơ;
      </li>
      <li aria-level="1" style="text-align: justify">
        Phí dịch vụ hoàn thuế GTGT: 6% tổng số tiền hoàn thuế.
      </li>
    </ul>

    <h5
      id="2.-Thoi-gian-hoan-thanh-thu-tuc-hoan-thue-GTGT"
      style="text-align: justify"
    >
      <strong
        ><span style="color: #3472b8"
          ><span style="font-size: 18px"
            >2. Thời gian hoàn thành thủ tục hoàn thuế GTGT</span
          ></span
        ></strong
      >
    </h5>

    <p style="text-align: justify">
      &gt;&gt; Hoàn thành thủ tục hoàn thuế GTGT trong vòng 45 ngày làm việc.
    </p>

    <p style="text-align: justify">
      Theo kinh nghiệm hoàn thuế GTGT của 2KT trong hơn 14 năm qua, hầu hết các
      doanh nghiệp đều mắc phải các lỗi sai phạm trong hồ sơ, thủ tục hoàn thuế
      giá trị gia tăng, ảnh hưởng đến quá trình cũng như kết quả hoàn thuế,
      chẳng hạn:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Tại tờ khai hải quan hàng hóa xuất khẩu thiếu xác nhận của hải quan;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tại đề nghị hoàn thuế GTGT chưa xác định rõ trường hợp hoàn thuế của
        doanh nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Số tài khoản nhận hoàn thuế GTGT khác với số tài khoản đã đăng ký với cơ
        quan thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Chưa điều chỉnh số liệu thuế GTGT đã kê khai nhầm dẫn đến số thuế đề
        nghị hoàn không khớp số thuế đã kê khai…
      </li>
    </ul>

    <h5
      id="3.-Cam-ket-dich-vu-hoan-thue-GTGT-tai-2KT"
      style="text-align: justify"
    >
      <strong
        ><span style="color: #3472b8"
          ><span style="font-size: 18px"
            >3. Cam kết dịch vụ hoàn thuế GTGT tại 2KT</span
          ></span
        ></strong
      >
    </h5>

    <div class="custom-quote">
      <p style="text-align: justify">Dịch vụ hoàn thuế GTGT tại 2KT cam kết:</p>

      <ul>
        <li aria-level="1" style="text-align: justify">Tối ưu chi phí;</li>
        <li aria-level="1" style="text-align: justify">Tối ưu thời gian;</li>
        <li aria-level="1" style="text-align: justify">
          Rà soát toàn bộ chứng từ, hóa đơn trước khi nộp hồ sơ hoàn thuế;
        </li>
        <li aria-level="1" style="text-align: justify">
          Hạn chế tối đa trường hợp bị truy thu thuế và xử phạt hành chính;
        </li>
        <li aria-level="1" style="text-align: justify">
          Đại diện doanh nghiệp giải trình với cơ quan thuế trong quá trình làm
          thủ tục hoàn thuế;
        </li>
        <li aria-level="1" style="text-align: justify">
          Đại diện doanh nghiệp nhận quyết định hoàn thuế GTGT;
        </li>
        <li aria-level="1" style="text-align: justify">
          Theo dõi tiến độ đến khi doanh nghiệp nhận được tiền thuế được
          hoàn.&nbsp;
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Cac-truong-hop-duoc-hoan-thue-GTGT"
      style="text-align: justify"
    >
      <strong>Các trường hợp được hoàn thuế GTGT</strong>
    </h3>

    <h5 id="1.-Dieu-kien-hoan-thue-GTGT" style="text-align: justify">
      <strong
        ><span style="color: #3472b8"
          ><span style="font-size: 18px"
            >1. Điều kiện hoàn thuế GTGT</span
          ></span
        ></strong
      >
    </h5>

    <p style="text-align: justify">
      Để được hoàn thuế giá trị gia tăng, doanh nghiệp cần đáp ứng được các điều
      kiện sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Phải có thuế GTGT được khấu trừ;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tính thuế GTGT theo phương pháp khấu trừ;
      </li>
      <li aria-level="1" style="text-align: justify">
        Mở tài khoản ngân hàng với MST của doanh nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lập và lưu giữ sổ sách kế toán, chứng từ kế toán theo đúng quy định hiện
        hành;
      </li>
      <li aria-level="1" style="text-align: justify">
        Thủ tục hoàn thuế giá trị gia tăng được thực hiện đúng theo quy định
        hiện hành;
      </li>
      <li aria-level="1" style="text-align: justify">
        Có giấy chứng nhận đăng ký kinh doanh hoặc giấy chứng nhận đăng ký đầu
        tư và con dấu.
      </li>
    </ul>

    <h5 id="2.-Doi-tuong-duoc-hoan-thue-GTGT" style="text-align: justify">
      <strong
        ><span style="color: #3472b8"
          ><span style="font-size: 18px"
            >2. Đối tượng được hoàn thuế GTGT</span
          ></span
        ></strong
      >
    </h5>

    <p style="text-align: justify">
      2KT sẽ chia sẻ các trường hợp được hoàn thuế giá trị gia tăng theo 4
      trường hợp sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <strong>Trường hợp 1: Đối với hàng hóa, dịch vụ xuất khẩu</strong>
      </li>
    </ul>

    <p style="text-align: justify">
      Cơ sở, doanh nghiệp có thuế GTGT đầu vào chưa được khấu trừ từ 300 triệu
      đồng trở lên cho 1 số trường hợp cụ thể như: vừa xuất khẩu vừa kinh doanh
      nội địa, nhập khẩu hàng hóa rồi xuất khẩu nước ngoài, xuất khẩu vào khu
      phi thuế quan.
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <strong>Trường hợp 2: Đối với dự án đầu tư mới</strong>
      </li>
    </ul>

    <p style="text-align: justify">
      Cơ sở, doanh nghiệp mới thành lập, đang trong giai đoạn đầu tư và nộp thuế
      GTGT theo phương pháp khấu trừ. Đồng thời, số thuế GTGT lũy kế của hàng
      hóa, dịch vụ liên quan đến dự án đầu tư tối thiểu từ 300 triệu đồng.
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <strong
          >Trường hợp 3: Đối với dự án đầu tư cho cơ sở, doanh nghiệp đang hoạt
          động</strong
        >
      </li>
    </ul>

    <p style="text-align: justify">
      Cơ sở, doanh nghiệp sau khi bù trừ kê khai thuế GTGT có số thuế GTGT đầu
      vào chưa được khấu trừ từ 300 triệu đồng trở lên. Nếu dưới 300 triệu đồng
      thì được kết chuyển cho kỳ khai thuế tiếp theo.
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        <strong
          >Trường hợp 4: Đối với cơ sở, doanh nghiệp tính thuế theo phương pháp
          khấu trừ</strong
        >
      </li>
    </ul>

    <p style="text-align: justify">
      Cơ sở, doanh nghiệp khi chuyển đổi loại hình, thay đổi chủ sở hữu, chia,
      tách, sáp nhập, hợp nhất, giải thể, ngừng hoạt động, phá sản nộp thừa thuế
      GTGT hoặc chưa khấu trừ hết thuế GTGT đầu vào từ 300 triệu đồng trở lên.
    </p>

    <p style="text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em>
      <span style="color: #e5451b"><strong>Xem chi tiết:</strong></span>
      <a>Các trường hợp được hoàn thuế GTGT</a>.
    </p>

    <h3
      class="sub-title"
      id="Huong-dan-ho-so,-thu-tuc-hoan-thue-gia-tri-gia-tang-theo-Thong-tu-80"
      style="text-align: justify"
    >
      <strong
        >Hướng dẫn hồ sơ, thủ tục hoàn thuế giá trị gia tăng theo Thông tư
        80</strong
      >
    </h3>

    <h5 id="1.-Cach-hoan-thue-GTGT" style="text-align: justify">
      <strong
        ><span style="color: #3472b8"
          ><span style="font-size: 18px">1. Cách hoàn thuế GTGT</span></span
        ></strong
      >
    </h5>

    <p style="text-align: justify">
      3 hình thức gửi
      <a target="_blank">mẫu 01/ĐNHT</a>
      đề nghị hoàn thuế GTGT bao gồm:
    </p>

    <ol>
      <li aria-level="1">Nộp trực tiếp tại cơ quan thuế;</li>
      <li aria-level="1">Nộp qua đường bưu điện;</li>
      <li aria-level="1">
        Nộp trực tuyến tại
        <a rel="nofollow" target="_blank"
          >Cổng thông tin điện tử của cơ quan thuế</a
        >.
      </li>
    </ol>

    <h5 id="2.-Ho-so-hoan-thue-GTGT" style="text-align: justify">
      <a id="HOSO" name="HOSO"
        ><strong
          ><span style="color: #3472b8"
            ><span style="font-size: 18px">2. Hồ sơ hoàn thuế GTGT</span></span
          ></strong
        ></a
      >
    </h5>

    <p style="text-align: justify">
      Đối với hồ sơ hoàn thuế giá trị gia tăng, tùy vào từng trường hợp đề nghị
      hoàn thuế mà chi tiết hồ sơ sẽ khác nhau, cụ thể như sau:
    </p>

    <p style="text-align: justify">
      ➧ <strong>Đối với hàng hóa, dịch vụ xuất khẩu</strong>
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        Chi tiết hồ sơ hoàn thuế GTGT hàng xuất khẩu bao gồm:
      </p>

      <ol>
        <li aria-level="1" style="text-align: justify">
          Mẫu 01/ĐNHT đề nghị hoàn thuế, hoàn trả khoản thu ngân sách nhà nước;
        </li>
        <li aria-level="1" style="text-align: justify">
          Hợp đồng mua bán và gia công hàng hóa;
        </li>
        <li aria-level="1" style="text-align: justify">
          Các hóa đơn, chứng từ bán hàng/xuất khẩu/gia công;
        </li>
        <li aria-level="1" style="text-align: justify">
          Tờ khai hải quan hàng hóa xuất khẩu;
        </li>
        <li aria-level="1" style="text-align: justify">
          Mẫu 01-2/HT danh sách tờ khai hải quan đã thông quan;
        </li>
        <li aria-level="1" style="text-align: justify">
          Chứng từ chứng minh hoàn tất việc thanh toán hàng hóa xuất khẩu (qua
          ngân hàng).&nbsp;
        </li>
      </ol>
    </div>

    <p style="text-align: justify">
      ➧
      <strong
        >Đối với hàng hóa, dịch vụ thuộc trường hợp ủy thác xuất khẩu và đã
        thanh lý hợp đồng</strong
      >
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        Chi tiết hồ sơ hoàn thuế GTGT hàng xuất khẩu ủy thác bao gồm:
      </p>

      <ol>
        <li aria-level="1">Hợp đồng ủy thác xuất khẩu;</li>
        <li aria-level="1">Tờ khai hải quan hàng hóa xuất khẩu;</li>
        <li aria-level="1">Biên bản thanh lý hợp đồng ủy thác xuất khẩu;</li>
        <li aria-level="1">
          Biên bản đối chiếu công nợ định kỳ giữa bên ủy thác và nhận ủy thác;
        </li>
        <li aria-level="1">
          Các hóa đơn, chứng từ bán hàng hoặc xuất khẩu hoặc gia công;
        </li>
        <li aria-level="1">
          Mẫu 01/ĐNHT đề nghị hoàn thuế, hoàn trả khoản thu ngân sách nhà nước;
        </li>
        <li aria-level="1">
          Chứng từ chứng minh hoàn tất việc thanh toán hàng hóa xuất khẩu qua
          ngân hàng.
        </li>
      </ol>
    </div>

    <p style="text-align: justify">➧ <strong>Đối với dự án đầu tư</strong></p>

    <div class="custom-quote">
      <p style="text-align: justify">
        Chi tiết hồ sơ hoàn thuế GTGT dự án đầu tư bao gồm:
      </p>

      <ol>
        <li aria-level="1" style="text-align: justify">
          Mẫu 02/GTGT tờ khai thuế GTGT;
        </li>
        <li aria-level="1" style="text-align: justify">
          Bản sao chứng từ góp vốn điều lệ;
        </li>
        <li aria-level="1" style="text-align: justify">
          Quyết định thành lập BQL dự án đầu tư;
        </li>
        <li aria-level="1" style="text-align: justify">
          Mẫu 01-1/HT bảng kê chứng từ, hóa đơn mua vào;
        </li>
        <li aria-level="1" style="text-align: justify">
          Các chứng từ, hóa đơn, hợp đồng liên quan đến dự án đầu tư;
        </li>
        <li aria-level="1" style="text-align: justify">
          Mẫu 01/ĐNHT đề nghị hoàn thuế, hoàn trả khoản thu ngân sách nhà nước;
        </li>
        <li aria-level="1" style="text-align: justify">
          Bản sao giấy phép kinh doanh hoặc các giấy tờ chứng minh đủ điều kiện
          hoạt động;
        </li>
        <li aria-level="1" style="text-align: justify">
          Bản sao giấy chứng nhận đăng ký đầu tư (trường hợp làm thủ tục xin
          giấy phép đầu tư);
        </li>
        <li aria-level="1" style="text-align: justify">
          Giấy phép xây dựng và bản sao giấy chứng nhận quyền sử dụng đất hoặc
          các giấy tờ có trị tương đương (trường hợp dự án có công trình xây
          dựng).
        </li>
      </ol>
    </div>

    <p style="text-align: justify"><u>Lưu ý</u>:</p>

    <p style="text-align: justify">
      Với 3 trường hợp sau đây, doanh nghiệp không cần nộp hóa đơn bán hàng/xuất
      khẩu/gia công:
    </p>

    <p style="text-align: justify">
      &gt;&gt; Hoạt động kinh doanh xuất khẩu phần mềm (hình thức điện tử);
    </p>

    <p style="text-align: justify">
      &gt;&gt; Hoạt động xây lắp công trình tại các khu phi thuế quan hoặc tại
      nước ngoài;
    </p>

    <p style="text-align: justify">
      &gt;&gt; Hoạt động cung cấp cho doanh nghiệp chế xuất như điện nước, lương
      thực - thực phẩm, hàng tiêu dùng, văn phòng phẩm…
    </p>

    <h5
      id="3.-Thoi-gian-nhan-duoc-tien-hoan-thue-GTGT"
      style="text-align: justify"
    >
      <strong
        ><span style="color: #3472b8"
          ><span style="font-size: 18px"
            >3. Thời gian nhận được tiền hoàn thuế GTGT</span
          ></span
        ></strong
      >
    </h5>

    <p style="text-align: justify">
      Tùy theo từng trường hợp khi làm thủ tục hoàn thuế mà thời hạn để cơ quan
      thuế ra quyết định hoàn thuế GTGT hoặc quyết định hoàn thuế kiêm bù trừ
      ngân sách nhà nước sẽ khác nhau, cụ thể:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Đối với trường hợp hoàn thuế trước, kiểm tra sau: Trong vòng tối đa 6
        ngày làm việc, kể từ ngày nhận được hồ sơ hoàn thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Đối với trường hợp kiểm tra trước, hoàn thuế sau: Trong vòng 40 ngày làm
        việc, kể từ ngày nhận đủ hồ sơ hoàn thuế.
      </li>
    </ul>

    <p style="text-align: justify">
      Theo Thông tư 80/2021/TT-BTC, kể từ ngày nhận được lệnh hoàn trả khoản thu
      ngân sách nhà nước hoặc lệnh hoàn trả kiêm bù trừ khoản thu ngân sách nhà
      nước, Kho bạc Nhà nước phải chi hoàn thuế trong vòng 1 ngày làm
      việc.&nbsp;
    </p>
  </div>
</div>
