<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ thành lập chi nhánh công ty, doanh nghiệp |700.000đ|
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <style type="text/css">
      ul.noi-dung-chinh {
        list-style: none;
      }
      ul.noi-dung-chinh a {
        color: #010101;
      }
      .noi-dung-chinh li::before {
        content: "◆";
        color: #fd6c2b;
        display: inline-block;
        width: 1.5em;
        margin-left: -1em;
      }
      h3.sub-title {
        position: relative;
        z-index: 1;
      }
      h3.sub-title:before {
        position: absolute;
        content: "";
        width: 46px;
        height: 10px;
        opacity: 0.6;
        left: 0;
        background: #ffcbb4;
        z-index: -1;
      }
      .custom-quote {
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 10px;
        margin: 25px 0;
        quotes: "\201C""\201D";
      }
      .custom-quote:before {
        color: #fd6c2b;
        content: open-quote;
        font-size: 4em;
        margin-left: -15px;
        background: #fff;
        line-height: 0;
      }
      .custom-quote p:first-child {
        margin-top: -2em;
      }
      .custom-muc-luc {
        padding: 10px 10px 0px 10px;
        border: 1px solid #fd6c2b;
        border-radius: 10px;
        margin-bottom: 10px;
      }
      .call-mobile {
        width: 70%;
        animation: shake 1.7s;
        animation-iteration-count: infinite;
      }
      @keyframes shake {
        0% {
          transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
          transform: translate(-1px, -2px) rotate(-1deg);
        }
        20% {
          transform: translate(-3px, 0px) rotate(1deg);
        }
        30% {
          transform: translate(3px, 2px) rotate(0deg);
        }
        40% {
          transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
          transform: translate(-1px, 2px) rotate(-1deg);
        }
        60% {
          transform: translate(-3px, 1px) rotate(0deg);
        }
        70% {
          transform: translate(3px, 1px) rotate(-1deg);
        }
        80% {
          transform: translate(-1px, -1px) rotate(1deg);
        }
        90% {
          transform: translate(1px, 2px) rotate(0deg);
        }
        100% {
          transform: translate(1px, -2px) rotate(-1deg);
        }
      }
      @media (max-width: 812px) {
        .call-mobile {
          width: 90%;
        }
      }
    </style>
    <p style="text-align: justify">
      <strong
        >Đơn giản hóa thủ tục, tiết kiệm thời gian và chi phí với dịch vụ thành
        lập chi nhánh công ty trọn gói chỉ 700.000đ tại 2KT. Cam kết không phát
        sinh chi phí và bàn giao giấy phép chi nhánh từ 3-4 ngày. Hãy để 2KT
        thay bạn hoàn thành các vấn đề giấy tờ khó khăn.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a
            >Khi nào cần thành lập chi nhánh công ty và các phạm vi thành lập</a
          >
        </li>
        <li>
          <a>Chi phí trọn gói dịch vụ thành lập chi nhánh công ty tại 2KT </a>
        </li>
        <li>
          <a>5 thông tin cần cung cấp và chuẩn bị </a>
        </li>
        <li>
          <a>Thời gian hoàn thành thủ tục thành lập chi nhánh công ty</a>
        </li>
        <li><a>5 cam kết của 2KT</a></li>
        <li>
          <a>Một số câu hỏi về dịch vụ thành lập chi nhánh công ty của 2KT</a>
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Khi-nao-can-thanh-lap-chi-nhanh-cong-ty-va-cac-pham-vi-thanh-lap"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a id="buoc1" name="buoc1"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Khi nào cần thành lập chi nhánh công ty và các phạm vi thành
              lập</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Hầu hết, khi bắt đầu khởi nghiệp và hoạt động kinh doanh, các doanh nghiệp
      đều mong muốn công ty ngày càng phát triển và mở rộng thị trường. Đó là lý
      do vì sao, khi công ty dần đi vào quỹ đạo, thì việc thành lập chi nhánh
      nên được thực hiện.&nbsp;
    </p>

    <p style="text-align: justify">
      Tùy vào nhu cầu của từng doanh nghiệp, mà chi nhánh công ty được thành lập
      cùng/khác tỉnh và&nbsp;chọn lựa hình thức hạch toán phụ thuộc/độc lập. Để
      tiết kiệm thời gian và chi phí đối với các thủ tục thành lập phức tạp, hãy
      tham khảo dịch vụ thành lập chi nhánh tại 2KT nhanh chóng, hiệu quả.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="Chi-phi-tron-goi-dich-vu-thanh-lap-chi-nhanh-cong-ty-tai-2KT-"
    >
      <a id="buoc2" name="buoc2"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Chi phí trọn gói dịch vụ thành lập chi nhánh công ty tại 2KT
            </strong></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Khi đăng ký thành lập chi nhánh, bạn cần cân nhắc lựa chọn 1 trong 2 hình
      thức hạch toán: Hạch toán độc lập và hạch toán phụ thuộc.
    </p>

    <p style="text-align: justify">
      Phí dịch vụ sẽ tùy thuộc vào hình thức hạch toán, nhu cầu khắc dấu của chi
      nhánh hay phạm vi thành lập chi nhánh, chi tiết như sau:
    </p>

    <p style="text-align: justify">
      <span style="color: #2a4e9a"
        >❖&nbsp;<strong
          >Thành lập chi nhánh hạch toán phụ thuộc cùng tỉnh với trụ sở
          chính</strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      <strong>Phí dịch vụ: 700.000 đồng</strong> (bao gồm GPKD chi nhánh)
    </p>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Với hình thức này chi nhánh cần lưu ý các thủ tục sau:
    </p>

    <p style="text-align: justify">
      Đối với
      <a>thuế TNCN</a>:&nbsp;
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          Nếu người lao động ký hợp đồng lao động, đăng ký giảm trừ gia cảnh với
          trụ sở chính và làm việc tại chi nhánh thì doanh nghiệp sẽ trả lương
          và kê khai thuế TNCN;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Nếu người lao động ký hợp đồng lao động, đăng ký giảm trừ gia cảnh với
          chi nhánh thì chi nhánh thực hiện kê khai thuế TNCN.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Chi nhánh hạch toán phụ thuộc cùng tỉnh không phải nộp hồ sơ kê khai thuế
      TNDN và báo cáo tài chính.
    </p>

    <p style="text-align: justify">
      <span style="color: #2a4e9a"
        >❖&nbsp;<strong
          >Thành lập chi nhánh hạch toán phụ thuộc khác tỉnh với trụ sở
          chính</strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      <strong>Phí dịch vụ: 1.100.000 đồng</strong> (bao gồm GPKD và con dấu
      riêng của chi nhánh)
    </p>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Với hình thức này chi nhánh cần lưu ý các thủ tục sau:
    </p>

    <p style="text-align: justify">
      Đối với việc có hoặc không phát sinh doanh thu:
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          Nếu chi nhánh trực tiếp thực hiện giao dịch thương mại: Chi nhánh thực
          hiện
          <a>kê khai và nộp thuế môn bài</a>, thuế GTGT tại Chi cục Thuế quản lý
          chi nhánh;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Nếu chi nhánh không thực hiện giao dịch thương mại, không phát sinh
          doanh thu thì tổng hợp số liệu, chứng từ phát sinh trong kỳ và thực
          hiện kê khai tại trụ sở chính. Doanh nghiệp sẽ chịu trách nhiệm thông
          báo với cơ quan thuế.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Đối với thuế TNCN: Lưu ý tương tự chi nhánh hạch toán phụ thuộc cùng tỉnh
      với trụ sở chính.
    </p>

    <p style="text-align: justify">
      Chi nhánh hạch toán phụ thuộc khác tỉnh nộp hồ sơ kê khai thuế TNDN và
      <a>báo cáo tài chính</a>
      chung với trụ sở chính.
    </p>

    <p style="text-align: justify">
      <span style="color: #2a4e9a"
        >❖&nbsp;<strong>Thành lập chi nhánh hạch toán độc lập</strong></span
      >
    </p>

    <p style="text-align: justify">
      <strong>Phí dịch vụ: 1.100.000 đồng</strong> (bao gồm GPKD và con dấu
      riêng của chi nhánh)
    </p>

    <p style="text-align: justify"><u>Lưu ý:</u></p>

    <p style="text-align: justify">
      Với hình thức này chi nhánh sẽ có con dấu riêng, xuất hóa đơn GTGT riêng,
      tự chịu trách nhiệm mọi hoạt động kinh doanh cũng như tự quản lý sổ sách,
      chứng từ kế toán...
    </p>

    <p style="text-align: justify">
      Chi nhánh hạch toán độc lập sẽ thực hiện kê khai và nộp thuế môn bài, thuế
      GTGT, thuế TNDN và quyết toán thuế riêng tại chi nhánh.
    </p>

    <p style="text-align: justify">
      Với kinh nghiệm hơn 17&nbsp;năm về thuế và
      <a>dịch vụ kế toán</a>, 2KT sẽ hỗ trợ tư vấn miễn phí hình thức hạch toán
      tối ưu cho từng doanh nghiệp, nếu bạn vẫn chưa xác định được hình thức nào
      phù hợp.
    </p>

    <h3
      class="sub-title"
      id="5-thong-tin-can-cung-cap-va-chuan-bi-"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
      "
    >
      <a id="buoc3" name="buoc3"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong>5 thông tin cần cung cấp và chuẩn bị </strong></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Với dịch vụ thành lập chi nhánh công ty tại 2KT, bạn chỉ cần cung cấp các
      thông tin sau:
    </p>

    <h3
      class="sub-title"
      id="Thoi-gian-hoan-thanh-thu-tuc-thanh-lap-chi-nhanh-cong-ty"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a id="buoc4" name="buoc4"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong
              >Thời gian hoàn thành thủ tục thành lập chi nhánh công ty</strong
            ></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Sau khi 2KT hoàn tất bộ hồ sơ thành lập chi nhánh công ty theo quy định,
      chỉ trong vòng 3 ngày, Sở KH&amp;ĐT sẽ xem xét và cấp giấy chứng nhận đăng
      ký hoạt động của chi nhánh.&nbsp;
    </p>

    <p style="text-align: justify">
      Như vậy, bạn chỉ cần ký hồ sơ và nhận giấy chứng nhận đăng ký hoạt động
      chi nhánh cùng con dấu (nếu có) tại nhà (*), không cần phải đến văn phòng
      của 2KT hay mất thời gian đi lại Sở KH&amp;ĐT.
    </p>

    <p style="text-align: justify">
      (*) Toàn bộ quá trình giao, nhận hồ sơ đều được 2KT sử dụng dịch vụ miễn
      phí tận nơi.
    </p>

    <h3
      class="sub-title"
      id="5-cam-ket-cua-2KT"
      style="
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
      "
    >
      <a id="buoc5" name="buoc5"
        ><span style="font-size: 20px"
          ><span style="color: #2a4d9f"
            ><strong>5 cam kết của 2KT</strong></span
          ></span
        ></a
      >
    </h3>

    <p style="text-align: justify">
      2KT cam kết với khách hàng khi sử dụng dịch vụ thành lập chi nhánh công
      ty, doanh nghiệp:
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        1. Không phát sinh chi phí - Chi phí 2KT thông báo là chi phí trọn gói.
      </p>

      <p style="text-align: justify">
        2. Bàn giao giấy chứng nhận đăng ký hoạt động chi nhánh đúng hẹn.
      </p>

      <p style="text-align: justify">
        3. Hỗ trợ tư vấn miễn phí hình thức hạch toán chi nhánh.
      </p>

      <p style="text-align: justify">
        4. Hỗ trợ tư vấn miễn phí đối với các quy định khi thành lập chi nhánh:
        tên, địa chỉ….
      </p>

      <p style="text-align: justify">
        5. Hỗ trợ tư vấn miễn phí trong suốt quá trình chi nhánh hoạt động.
      </p>
    </div>
  </div>
</div>
