<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ tư vấn soạn thảo, rà soát hợp đồng - Từ 1.000.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ tư vấn, soạn thảo &amp; rà soát hợp đồng dịch vụ, hợp đồng thuê
        nhà, hợp đồng lao động, hợp đồng mua bán hàng hóa… từ 1 ngày - trọn gói
        1.000.000đ.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li><a>Hợp đồng là gì?&nbsp;</a></li>
        <li>
          <a
            >Bảng giá dịch vụ tư vấn soạn thảo hợp đồng, rà soát hợp đồng&nbsp;-
            Toàn quốc</a
          >
        </li>
        <li>
          <a
            >Thông tin cần cung cấp khi sử dụng dịch vụ soạn thảo, rà soát hợp
            đồng</a
          >
        </li>
        <li>
          <a
            >Vì sao nên sử dụng dịch vụ tư vấn soạn thảo&nbsp;hợp đồng tại dịch
            vụ thuê - kế toán 2KT?&nbsp;</a
          >
        </li>
        <li>
          <a
            >Quy trình tư vấn soạn thảo hợp đồng tại dịch vụ thuê - kế toán
            2KT&nbsp;</a
          >
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Hop-dong-la-gi?&nbsp;"
      style="text-align: justify"
    >
      <strong>Hợp đồng là gì?&nbsp;</strong>
    </h3>

    <p style="text-align: justify">
      Tại
      <a>Điều 385 Bộ luật Dân sự 2015</a>
      định nghĩa hợp đồng là văn bản thỏa thuận về việc xác lập, thay đổi hay
      chấm dứt quyền, nghĩa vụ dân sự giữa các bên.&nbsp;
    </p>

    <p style="text-align: justify">
      Có thể hiểu, hợp đồng là bản cam kết giữa 2 hay nhiều bên về việc được
      hoặc không được thực hiện điều gì đó trong khuôn khổ của pháp luật.
    </p>

    <p style="text-align: justify">
      <strong>➨ </strong>Vì vậy, để soạn thảo hợp đồng các cá nhân, tổ chức phải
      nắm rõ quy trình, nội dung, các điều khoản cũng như quy định pháp luật để
      bảo vệ quyền lợi của các bên.
    </p>

    <p style="text-align: justify">
      <strong>➨ </strong>dịch vụ thuê - kế toán 2KT với hơn 16 năm kinh nghiệm
      trong việc tư vấn, thực hiện thủ tục pháp lý sẽ giúp bạn xây dựng, rà soát
      hợp đồng kỹ lưỡng nhằm bảo vệ các quyền lợi của bạn trước pháp luật. Tham
      khảo thông tin dịch vụ soạn thảo hợp đồng của dịch vụ thuê - kế toán 2KT
      ngay dưới đây.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="Bang-gia-dich-vu-tu-van-soan-thao-hop-dong,-ra-soat-hop-dong&nbsp;--Toan-quoc"
      style="text-align: justify"
    >
      <a id="bang" name="bang"
        ><strong
          >Bảng giá dịch vụ tư vấn soạn thảo hợp đồng, rà soát hợp đồng&nbsp;-
          Toàn quốc</strong
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Tổng chi phí dịch vụ tư vấn soạn thảo, rà soát hợp đồng trên toàn quốc của
      dịch vụ thuê - kế toán 2KT có giá dao động từ
      <span style="color: #004ea4"
        ><strong>1.000.000 - 4.500.000 đồng</strong></span
      >
      (*), hoàn thành dự thảo hợp đồng từ 1 ngày làm việc. Cam kết không phát
      sinh chi phí, bàn giao đúng hẹn.
    </p>

    <p style="text-align: justify">
      Chi tiết giá dịch vụ tư vấn hợp đồng (dịch vụ soạn thảo hợp đồng) và dịch
      vụ rà soát hợp đồng được dịch vụ thuê - kế toán 2KT chia sẻ như nội dung
      sau đây.
    </p>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >1. Dịch vụ soạn thảo, rà soát hợp đồng mua bán hàng hóa</strong
          ></span
        ></span
      >
    </p>

    <div>
      <table
        cellspacing="0"
        style="border-collapse: collapse; border: none; width: 100%"
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 155px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Thông tin dịch vụ</strong></span
              >
            </td>
            <td
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
              >
            </td>
            <td
              style="
                background-color: #f97c26;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 228px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Dịch vụ rà soát hợp đồng</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffc28b;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 155px;
              "
            >
              <strong>Chi phí trọn gói</strong>
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              2.500.000 - 3.000.000 đồng
            </td>
            <td
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 228px;
              "
            >
              Từ 2.000.000 đồng
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #ffc28b;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 155px;
              "
            >
              <strong>Thời gian hoàn thành</strong>
            </td>
            <td
              colspan="2"
              rowspan="1"
              style="
                background-color: #ffe7d4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              Trong 2 - 3 ngày làm việc
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng mua bán gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng xuất nhập khẩu hàng hóa;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng mua bán hàng hóa, hợp đồng thương mại, hợp đồng kinh tế…&nbsp;
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >2. Dịch vụ soạn thảo, rà soát hợp đồng dịch vụ&nbsp;</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            2.000.000 - 3.000.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Từ 1.500.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            colspan="2"
            rowspan="1"
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng dịch vụ gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng dịch vụ tư vấn;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng dịch vụ vệ sinh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng dịch vụ quảng cáo;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng dịch vụ tổ chức sự kiện…
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >3. Dịch vụ soạn thảo, rà soát hợp đồng về quyền sử dụng
            đất&nbsp;</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            2.500.000 - 3.000.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Từ 1.500.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            colspan="2"
            rowspan="1"
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng về quyền sử dụng đất gồm:&nbsp;
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">Hợp đồng thuê đất;</li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng thuê nhà/căn hộ/chung cư;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng cho tặng quyền sử dụng đất;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng thế chấp quyền sử dụng đất và tài sản gắn liền với đất;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng chuyển nhượng quyền sử dụng đất và tài sản gắn liền với đất;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng thuê mặt bằng kinh doanh, thuê mặt bằng làm nhà xưởng, thuê lại
        mặt bằng…
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >4. Dịch vụ soạn thảo, rà soát hợp đồng liên quan tới
            vốn&nbsp;</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Chỉ từ 1.500.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Từ 1.000.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            colspan="2"
            rowspan="1"
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng liên quan đến vốn gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng cho vay/vay vốn;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng cho vay/vay tiền;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng chuyển nhượng cổ phần/vốn góp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng hùn vốn, thỏa thuận góp vốn kinh doanh, góp vốn mua đất, góp
        vốn bằng xe ô tô...&nbsp;
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >5. Dịch vụ soạn thảo, rà soát hợp đồng thuê/cho thuê tài
            sản</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Chỉ từ 1.500.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Từ 1.000.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            colspan="2"
            rowspan="1"
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng thuê/cho thuê tài sản gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng thuê/cho thuê xe;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng thuê/cho thuê thiết bị;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng thuê/cho thuê các loại tài sản khác.
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >6. Dịch vụ soạn thảo, rà soát hợp đồng liên doanh, hợp tác kinh
            doanh</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            2.500.000 - 4.000.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            1.500.000 - 2.000.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 3 - 4 ngày làm việc
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng hợp tác kinh doanh gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng liên kết kinh doanh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng hợp tác kinh doanh giữa 2 cá nhân;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng hợp tác kinh doanh 3 bên;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng liên doanh, hợp đồng liên danh thực hiện dự án, hợp đồng liên
        doanh xây dựng…
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >7. Dịch vụ soạn thảo, rà soát hợp đồng sở hữu trí tuệ&nbsp;</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            2.500.000 - 4.500.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Từ 2.000.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Trong 1 - 2 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng sở hữu trí tuệ gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng chuyển nhượng thương hiệu, logo;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng chuyển giao công nghệ/thương mại, chuyển giao quyền sử dụng
        nhãn hiệu;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng chuyển nhượng quyền sở hữu công nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng chuyển nhượng quyền tác giả, tác quyền liên quan…
      </li>
    </ol>

    <p style="text-align: center">
      <span style="color: #2a4e9a"><span style="font-size: 24px"></span></span>
    </p>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong>8. Dịch vụ soạn thảo, rà soát hợp đồng ủy thác</strong></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            2.500.000 - 3.000.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Từ 2.000.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 3 - 4 ngày làm việc
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      Biểu phí này áp dụng với các loại hợp đồng ủy thác gồm:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng ủy thác đầu tư;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng ủy thác xuất nhập khẩu;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng ủy thác làm đại lý phân phối;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng ủy thác làm đại lý độc quyền phân phối.
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><span style="font-size: 18px"
          ><strong
            >9. Dịch vụ soạn thảo, rà soát hợp đồng lao động</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Chỉ từ 1.500.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            1.000.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            colspan="2"
            rowspan="1"
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 1 - 2 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>
    <span style="font-size: 1rem; text-align: justify"
      >Biểu phí này áp dụng với các loại hợp đồng lao động gồm:</span
    >

    <ol>
      <li aria-level="1" style="text-align: justify">Hợp đồng thử việc;</li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng cho thuê lao động;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng xuất khẩu lao động;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng lao động theo mùa vụ, làm việc theo giờ, bán thời gian…;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hợp đồng lao động xác định thời hạn hoặc không xác định thời hạn.
      </li>
    </ol>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #0b5394"
          ><strong
            >10. Dịch vụ soạn thảo, rà soát hợp đồng xây dựng</strong
          ></span
        ></span
      >
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Thông tin dịch vụ</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ soạn thảo hợp đồng&nbsp;</strong></span
            >
          </td>
          <td
            style="
              background-color: #f97c26;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            <span style="color: #ffffff"
              ><strong>Dịch vụ rà soát hợp đồng</strong></span
            >
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Chi phí trọn gói</strong>
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Chỉ từ 2.500.000 đồng
          </td>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 228px;
            "
          >
            1.500.000 đồng
          </td>
        </tr>
        <tr>
          <td
            style="
              background-color: #ffc28b;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <strong>Thời gian hoàn thành</strong>
          </td>
          <td
            colspan="2"
            rowspan="1"
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 217px;
            "
          >
            Trong 2 - 3 ngày làm việc
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #0b5394"
          ><strong>11. Dịch vụ soạn thảo, rà soát hợp đồng khác</strong></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Ngoài các dịch vụ soạn thảo, rà soát hợp đồng trên dịch vụ thuê - kế toán
      2KT còn nhận làm các loại hợp đồng khác thuộc mọi lĩnh vực. Bạn vui lòng
      liên hệ dịch vụ thuê - kế toán 2KT để được cung cấp thông tin và báo giá
      chi tiết nhé.&nbsp;
    </p>

    <p style="text-align: justify">------</p>

    <p style="text-align: justify">
      (*): Chi phí dịch vụ soạn thảo, rà soát hợp đồng tại Kế toán dịch vụ thuê
      - kế toán 2KT có thể chênh lệch tùy vào yêu cầu của khách hàng cũng như
      giá trị và độ dài của hợp đồng.
    </p>

    <h3
      class="sub-title"
      id="Thong-tin-can-cung-cap-khi-su-dung-dich-vu-soan-thao,-ra-soat-hop-dong"
      style="text-align: justify"
    >
      <strong
        >Thông tin cần cung cấp khi sử dụng dịch vụ soạn thảo, rà soát hợp
        đồng</strong
      >
    </h3>

    <p style="text-align: justify">
      Khách hàng lựa chọn dịch vụ tư vấn soạn thảo, rà soát các loại hợp đồng
      tại dịch vụ thuê - kế toán 2KT cần cung cấp các thông tin sau:&nbsp;
    </p>

    <ol>
      <li aria-level="1">Thời hạn của hợp đồng;</li>
      <li aria-level="1">Loại hợp đồng cần ký kết;</li>
      <li aria-level="1">
        Giá trị hợp đồng, phương thức, thời hạn thanh toán;
      </li>
      <li aria-level="1">
        Nội dung hợp đồng cơ bản mà các bên muốn hướng đến;
      </li>
      <li aria-level="1">
        Quyền và trách nhiệm cơ bản của các bên (nếu đã có thỏa thuận trước đó);
      </li>
      <li aria-level="1">
        Thông tin các bên sẽ ký kết hợp đồng: CCCD/hộ chiếu đối với cá nhân hoặc
        giấy chứng nhận đăng ký kinh doanh đối với tổ chức.
      </li>
    </ol>

    <p style="text-align: justify">
      Trong trường hợp, khách hàng chưa có các thông tin nêu trên, dịch vụ thuê
      - kế toán 2KT sẽ hỗ trợ tư vấn để khách hàng có cái nhìn toàn diện hơn về
      hợp đồng sẽ được soạn thảo.
    </p>

    <h3
      class="sub-title"
      id="Vi-sao-nen-su-dung-dich-vu-tu-van-soan-thao&nbsp;hop-dong-tai-Ke-toan-2KT?&nbsp;"
      style="text-align: justify"
    >
      <a id="vi" name="vi"
        ><strong
          >Vì sao nên sử dụng dịch vụ tư vấn soạn thảo&nbsp;hợp đồng tại Kế toán
          dịch vụ thuê - kế toán 2KT?&nbsp;</strong
        ></a
      >
    </h3>

    <p style="text-align: justify">
      Hợp đồng là khung pháp lý quan trọng để các bên thực hiện giao dịch, đồng
      thời cũng là cơ sở để giải quyết các tranh chấp phát sinh (nếu có). Vì
      vậy, việc sử dụng dịch vụ rà soát, soạn thảo hợp đồng là vô cùng cần
      thiết.&nbsp;
    </p>

    <table
      cellspacing="0"
      style="border-collapse: collapse; border: none; width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              background-color: #ffe7d4;
              border-color: #ffffff;
              border-style: solid;
              border-width: 1px;
              padding: 7px;
              text-align: center;
              vertical-align: middle;
              width: 155px;
            "
          >
            <span style="color: #000000"
              ><strong
                >&nbsp;✦ Có luật sư tư vấn pháp lý online hoặc qua Zalo
                ✦</strong
              ></span
            >
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: center">
      <span style="color: #2a4e9a"><span style="font-size: 24px"></span></span>
    </p>

    <p style="text-align: justify">
      Bạn có thể lựa chọn sử dụng dịch vụ soạn thảo, rà soát hợp đồng của dịch
      vụ thuê - kế toán 2KT vì các lý do:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Đội ngũ luật sư và chuyên viên pháp lý lành nghề: dịch vụ thuê - kế toán
        2KT với các chuyên viên pháp lý lành nghề cùng đội ngũ luật sư có nhiều
        năm kinh nghiệm, có chuyên môn cao, có kỹ năng soạn thảo hợp đồng đúng
        luật, đồng thời luôn nhạy bén với những thay đổi của pháp luật và luôn
        đề cao quyền lợi của khách hàng;
      </li>
      <li aria-level="1" style="text-align: justify">
        Đảm bảo chất lượng dịch vụ: dịch vụ thuê - kế toán 2KT chịu trách nhiệm 100% về tính chính xác
        đối với các hợp đồng soạn thảo, rà soát cho khách hàng;
      </li>
      <li aria-level="1" style="text-align: justify">
        Bảo mật tuyệt đối: Tất cả thông tin của khách hàng sẽ được dịch vụ thuê - kế toán 2KT bảo mật
        vô thời hạn;
      </li>
      <li aria-level="1" style="text-align: justify">
        Cam kết không phát sinh chi phí: Mọi chi phí dịch vụ sẽ được liệt kê và
        báo giá chi tiết trên hợp đồng, dịch vụ thuê - kế toán 2KT đảm bảo sẽ không phát sinh phí sau
        đó;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tốc độ làm việc nhanh chóng, luôn đúng hẹn: Tốc độ làm làm việc luôn là
        thế mạnh nổi bật của dịch vụ thuê - kế toán 2KT, được nhiều khách hàng nhắc đến khi sử dụng
        dịch vụ.
      </li>
    </ol>

    <p style="text-align: justify">
      Không chỉ riêng dịch vụ tư vấn làm hợp đồng, luật sư tại dịch vụ thuê - kế toán 2KT còn
      nhận hầu hết các dịch vụ tư vấn luật, một số dịch vụ luật nổi bật tại dịch vụ thuê - kế toán 2KT
      như sau:
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a>Dịch vụ làm đơn ly hôn thuận tình</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a>Dịch vụ làm đơn ly hôn đơn phương</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a>Dịch vụ tranh chấp hợp đồng dân sự</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;&nbsp;</strong></span
      ><a>Dịch vụ giải quyết tranh chấp hợp đồng về đất đai</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a>Dịch vụ tư vấn pháp luật theo từng vụ việc cho cá nhân</a>.
    </p>

    <h3
      class="sub-title"
      id="Quy-trinh-tu-van-soan-thao-hop-dong-tai-Ke-toan-2KT&nbsp;"
      style="text-align: justify"
    >
      <a id="quy" name="quy"
        ><strong
          >Quy trình tư vấn soạn thảo hợp đồng tại dịch vụ thuê - kế toán 2KT&nbsp;</strong
        ></a
      >
    </h3>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><strong
          >➨ Bước 1: Thu thập thông tin và yêu cầu từ khách hàng</strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      Tiếp nhận yêu cầu và thu thập thông tin từ khách hàng là bước đầu để dịch vụ thuê - kế toán 2KT
      có cái nhìn tổng quan về nội dung, tính chất của hợp đồng mà khách hàng
      đang cần, từ đó có thể tư vấn cho khách hàng lựa chọn loại hợp đồng phù
      hợp.&nbsp;
    </p>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><strong
          >➨ Bước 2: Nghiên cứu tài liệu, quy định pháp luật và tư vấn các vấn
          đề pháp lý liên quan</strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      Dịch vụ thuê - kế toán 2KT sẽ nghiên cứu các cơ sở pháp lý liên quan theo yêu cầu của khách hàng
      từ đó đưa ra các giải pháp tối ưu cho việc soạn thảo, rà soát hợp đồng,
      nhằm đảm bảo lợi ích tối đa cho khách hàng nhưng vẫn cân bằng được lợi ích
      giữa các bên.
    </p>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><strong
          >➨ Bước 3: Tiến hành soạn thảo hợp đồng theo yêu cầu của khách
          hàng</strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      Dựa trên cơ sở tư vấn pháp lý và các thỏa thuận, yêu cầu của các bên, dịch vụ thuê - kế toán 2KT
      sẽ tiến hành soạn thảo hợp đồng gửi khách hàng xem xét và điều
      chỉnh.&nbsp;
    </p>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><strong
          >➨ Bước 4: Gửi dự thảo hợp đồng và chỉnh sửa theo nội dung thống nhất
          với khách hàng</strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      Dịch vụ thuê - kế toán 2KT sẽ tiến hành chỉnh sửa theo nội dung thống nhất cuối cùng của các bên
      và soạn thảo hợp đồng hoàn thiện.
    </p>

    <p style="text-align: justify">
      <span style="color: #004ea4"
        ><strong
          >➨ Bước 5: Chuyển hợp đồng hoàn thiện đến khách hàng</strong
        ></span
      >
    </p>

    <p style="text-align: justify">
      Dịch vụ thuê - kế toán 2KT bàn giao hợp đồng hoàn thiện đến khách hàng, các bên sẽ chốt nội dung,
      điều khoản và tiến hành ký kết hợp đồng.
    </p>
  </div>
</div>
