<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ làm thủ tục đăng ký mã số thuế cá nhân - 2h có MST
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ đăng ký mã số thuế cá nhân trọn gói chỉ 500.000đ. Xong thủ tục
        xin cấp mã số thuế cá nhân, bàn giao MST chỉ trong 2h. Miễn phí tra cứu
        MST cá nhân</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>3 lợi ích khi đăng ký mã số thuế (MST) cá nhân</a>
        </li>
        <li>
          <a>Dịch vụ đăng ký mã số thuế cá nhân của Kế toán 2KT</a>
        </li>
        <li>
          <a>Hướng dẫn cách đăng ký mã số thuế cá nhân online, trực tiếp</a>
          <ul class="noi-dung-chinh">
            <li>
              <a>1. Cách đăng ký mã số thuế cá nhân online</a>
            </li>
            <li>
              <a>2. Cách đăng ký mã số thuế cá nhân trực tiếp</a>
            </li>
          </ul>
        </li>
        <li>
          <a>2 cách check, tra cứu MST cá nhân - đơn giản</a>
        </li>
      </ul>
    </div>

    <p style="text-align: justify">
      Thông thường việc đăng ký MST cá nhân cho người lao động sẽ do đơn vị chi
      trả thu nhập thực hiện. MST cá nhân thường được sử dụng để làm thủ tục
      <a>hoàn thuế TNCN</a>, để kê khai hoặc nộp thuế từ chuyển nhượng cổ phần,
      cổ phiếu, mua bán bất động sản, ô tô… Tuy nhiên, nhiều người vẫn chưa biết
      tra cứu hay đăng ký MST cá nhân như thế nào. Trong trường hợp này, bạn có
      thể tham khảo dịch vụ xin cấp mã số thuế cá nhân của dịch vụ thuê - kế
      toán 2KT dưới đây.
    </p>

    <h3 class="sub-title" id="3-loi-ich-khi-dang-ky-ma-so-thue-(MST)-ca-nhan">
      <strong>3 lợi ích khi đăng ký mã số thuế (MST) cá nhân</strong>
    </h3>

    <p style="text-align: justify">
      Mã số thuế cá nhân là một dãy số do cơ quan thuế cấp cho mỗi công dân để
      khai nộp thuế thu nhập cá nhân. Khi đã có mã số thuế cá nhân, người lao
      động sẽ được hưởng những lợi ích sau:
    </p>

    <ol>
      <li aria-level="1" style="text-align: justify">
        Được làm thủ tục hoàn thuế TNCN khi nộp thừa;
      </li>
      <li aria-level="1" style="text-align: justify">
        Được giảm trừ gia cảnh cho người phụ thuộc;
      </li>
      <li aria-level="1" style="text-align: justify">
        Khi chuyển nhượng cổ phần, bán bất động sản, bán ô tô… bạn bắt buộc phải
        có MST để kê khai thuế thì mới hoàn tất thủ tục chuyển nhượng, bán bất
        động sản, ô tô.
      </li>
    </ol>

    <h3
      class="sub-title"
      id="Dich-vu-dang-ky-ma-so-thue-ca-nhan-cua-Ke-toan-2KT"
    >
      <strong>Dịch vụ đăng ký mã số thuế cá nhân của Kế toán 2KT</strong>
    </h3>

    <p style="text-align: justify">
      Dịch vụ thuê - kế toán 2KT cung cấp 2 gói dịch vụ xin cấp mã số thuế cá
      nhân với thời gian và chi phí như sau:
    </p>

    <div>
      <table
        cellspacing="0"
        style="border-collapse: collapse; border: none; width: 100%"
      >
        <tbody>
          <tr>
            <td
              colspan="3"
              style="
                background-color: #004ea4;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              <span style="color: #ffffff"
                ><strong>Dịch vụ đăng ký MST cá nhân tại dịch vụ thuê - kế toán 2KT</strong></span
              >
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              <strong>Gói dịch vụ</strong>
            </td>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 189px;
              "
            >
              <strong>Phí dịch vụ trọn gói</strong>
            </td>
            <td
              style="
                background-color: #a9d0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 194px;
              "
            >
              <strong>Thời gian có MST cá nhân</strong>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              Gói cơ bản
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 189px;
              "
            >
              500.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 194px;
              "
            >
              5 - 10 ngày
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              Gói nhanh
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 189px;
              "
            >
              800.000 đồng
            </td>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 194px;
              "
            >
              120 phút
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 217px;
              "
            >
              Thông tin cần cung cấp
            </td>
            <td
              colspan="2"
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: center;
                vertical-align: middle;
                width: 189px;
              "
            >
              Ảnh chụp CMND/CCCD
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">&nbsp;</p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Gói cơ bản: Trọn gói 500.000 đồng, có mã số thuế sau 5 - 10 ngày;
      </li>
      <li aria-level="1" style="text-align: justify">
        Gói nhanh: Trọn gói 800.000 đồng, có mã số thuế sau 120 phút (*);
      </li>
      <li aria-level="1" style="text-align: justify">
        Bạn chỉ cần cung cấp cho dịch vụ thuê - kế toán 2KT ảnh chụp CMND/CCCD.
      </li>
    </ul>

    <p style="text-align: justify"><u>Lưu ý:</u></p>

    <p style="text-align: justify">
      (*) Tính từ lúc bạn gửi cho dịch vụ thuê - kế toán 2KT các thông tin cần thiết.
    </p>

    <p style="text-align: justify">
      Thời gian, chi phí đăng ký MST cá nhân trên không áp dụng cho các trường
      hợp đặc biệt sau:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Trường hợp khách hàng bị trùng số CMND/CCCD với một người khác đã có MST
        cá nhân;
      </li>
      <li aria-level="1" style="text-align: justify">
        Trường hợp có yếu tố nước ngoài như: người lao động có thu nhập từ nước
        ngoài, làm việc tại các tổ chức nước ngoài tại Việt Nam…
      </li>
    </ul>

    <p style="text-align: justify">
      Đối với các trường hợp đặc biệt trên, thời gian hoàn thành thủ tục có thể
      kéo dài hơn, khoảng 3 - 5 ngày làm việc. Kế toán 2KT sẽ chủ động kiểm tra
      thông tin, tư vấn và báo chi phí cụ thể cho bạn.
    </p>

    <h3
      class="sub-title"
      id="Huong-dan-cach-dang-ky-ma-so-thue-ca-nhan-online,-truc-tiep"
    >
      <a id="huong" name="huong"
        ><strong
          >Hướng dẫn cách đăng ký mã số thuế cá nhân online, trực tiếp</strong
        ></a
      >
    </h3>

    <h5
      id="1.-Cach-dang-ky-ma-so-thue-ca-nhan-online"
      style="text-align: justify"
    >
      <span style="font-size: 18px"
        ><span style="color: #0b5394"
          ><strong>1. Cách đăng ký mã số thuế cá nhân online</strong></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Đây là hình thức đăng ký phổ biến nhất, giúp tiết kiệm thời gian và được
      nhiều tổ chức, doanh nghiệp lựa chọn thực hiện.
    </p>

    <p style="text-align: justify">
      Doanh nghiệp hoặc người lao động có thể tự đăng ký mã số thuế cá nhân trên
      trang web của Tổng cục Thuế Việt Nam.&nbsp;
    </p>

    <p style="text-align: justify">
      <strong>➤ Trường hợp 1: Cá nhân tự đăng ký MST cá nhân online</strong>
    </p>

    <p style="text-align: justify">
      Quy trình đăng ký MST cá nhân online trong trường hợp người lao động tự
      đăng ký như sau:
    </p>

    <ul>
      <li style="text-align: justify">
        Bước 1. Truy cập vào trang
        <a href="https://thuedientu.gdt.gov.vn" rel="nofollow" target="_blank"
          >Thuế điện tử</a
        >
        của Tổng cục Thuế;
      </li>
      <li style="text-align: justify">
        Bước 2. Lần lượt chọn các mục sau:
        <ul>
          <li>Chọn “Cá nhân”;</li>
          <li>Chọn “Đăng ký thuế lần đầu”;</li>
          <li>Chọn “Kê khai và nộp hồ sơ”;</li>
          <li>Chọn đối tượng “Cá nhân khác TT105”;</li>
          <li>Chọn “Tiếp tục”.</li>
        </ul>
      </li>
      <li style="text-align: justify">
        Bước 3. Điền đầy đủ thông tin vào các trường đánh dấu (*) bao gồm: tên
        người nộp thuế, loại giấy tờ, số giấy tờ, ngày cấp, email và chọn “Tiếp
        tục”;
      </li>
      <li style="text-align: justify">
        Bước 4. Điền đầy đủ các thông tin cá nhân vào “Tờ khai đăng ký thuế” và
        chọn “Nộp hồ sơ đăng ký thuế”.
      </li>
    </ul>

    <p style="text-align: justify">
      <strong
        >➤ Trường hợp 2: Cá nhân ủy quyền cho đơn vị chi trả thu nhập đăng ký
        MST cá nhân</strong
      >
    </p>

    <p style="text-align: justify">
      Các bước doanh nghiệp thực hiện đăng ký mã số thuế cá nhân cho người lao
      động như sau:
    </p>

    <ul>
      <li style="text-align: justify">
        Bước 1. Đăng nhập vào tài khoản thuế điện tử của doanh nghiệp trên trang
        <a href="https://thuedientu.gdt.gov.vn" rel="nofollow" target="_blank"
          >Thuế điện tử</a
        >;
      </li>
      <li style="text-align: justify">
        Bước 2. Chọn “Đăng ký mới/thay đổi thông tin của cá nhân qua CQCT”;
      </li>
      <li style="text-align: justify">
        Bước 3. Lần lượt chọn các mục sau:
        <ul>
          <li>Chọn mẫu tờ khai “05-ĐK-TH-TCT”;</li>
          <li>
            Chọn “Đăng ký thuế”, sau đó bạn điền đầy đủ các thông tin cá nhân
            theo yêu cầu (họ và tên người nộp thuế, ngày sinh, giới tính, quốc
            tịch, loại giấy tờ…);
          </li>
          <li>Chọn “Hoàn thành kê khai”.</li>
        </ul>
      </li>
    </ul>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tham khảo chi tiết:</strong><strong> </strong></span
      ><a>Cách đăng ký mã số thuế cá nhân online</a>
    </p>

    <h5
      id="2.-Cach-dang-ky-ma-so-thue-ca-nhan-truc-tiep"
      style="text-align: justify"
    >
      <span style="font-size: 18px"
        ><span style="color: #0b5394"
          ><strong>2. Cách đăng ký mã số thuế cá nhân trực tiếp</strong></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Trong các trường hợp đặc biệt như: Người lao động bị trùng CMND/CCCD hay
      có yếu tố nước ngoài… như dịch vụ thuê - kế toán 2KT đã nêu ở trên, thì doanh nghiệp cần nộp hồ
      sơ trực tiếp tại cơ quan thuế.
    </p>

    <p style="text-align: justify">Quy trình thực hiện như sau:</p>

    <div class="custom-quote">
      <p style="text-align: justify">
        Hồ sơ đăng ký mã số thuế cá nhân trực tiếp như sau:
      </p>

      <ul>
        <li aria-level="1" style="text-align: justify">
          Tờ khai đăng ký thuế (theo mẫu số 05-ĐK-TCT);
        </li>
        <li aria-level="1" style="text-align: justify">
          Bản sao chứng thực giấy tờ pháp lý cá nhân của người lao động.
        </li>
      </ul>

      <p style="text-align: justify">
        <strong><span style="color: #e5451b">&gt;&gt; TẢI MẪU:</span> </strong
        ><a>Tờ khai đăng ký thuế mẫu số 05-ĐK-TCT</a>.
      </p>
    </div>

    <p style="text-align: justify"><u>Lưu ý:</u></p>

    <p style="text-align: justify">
      Đối với người lao động nước ngoài được cử sang Việt Nam làm việc nhưng có
      thu nhập được chi trả từ nước ngoài thì hồ sơ cần bổ sung: Bản sao văn bản
      bổ nhiệm của tổ chức nước ngoài sử dụng lao động.
    </p>

    <h3 class="sub-title" id="2-cach-check,-tra-cuu-MST-ca-nhan---don-gian">
      <a id="tra-cuu" name="tra-cuu"
        ><strong>2 cách check, tra cứu MST cá nhân - đơn giản</strong></a
      >
    </h3>

    <p style="text-align: justify">
      Bạn có thể dễ dàng tra cứu mã số thuế cá nhân đã đăng ký theo 2 cách như
      sau:
    </p>

    <p style="text-align: justify">
      <strong>➤ Cách 1: Cá nhân tự tra cứu trên trang Thuế điện tử</strong>
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Truy cập vào trang
        <a href="https://thuedientu.gdt.gov.vn" rel="nofollow" target="_blank"
          >Thuế điện tử</a
        >
        của Tổng cục thuế;
      </li>
      <li aria-level="1" style="text-align: justify">Chọn “Cá nhân”;</li>
      <li aria-level="1" style="text-align: justify">
        Chọn “Tra cứu thông tin NNT”. Tại đây, bạn nhập thông tin theo yêu cầu
        tại trang (loại giấy tờ, số giấy tờ và mã kiểm tra);
      </li>
      <li aria-level="1" style="text-align: justify">Chọn “Tra cứu”.</li>
    </ul>

    <p style="text-align: justify">
      <strong>➤ Cách 2: Tra cứu trên trang của Tổng cục Thuế</strong>
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Truy cập vào trang
        <a
          href="http://tracuunnt.gdt.gov.vn/tcnnt/mstcn.jsp"
          rel="nofollow"
          target="_blank"
          >Thuế Việt Nam</a
        >
        của Tổng cục Thuế;
      </li>
      <li aria-level="1" style="text-align: justify">
        Chọn “Thông tin về người nộp thuế TNCN”. Tại đây, bạn nhập đầy đủ các
        thông tin mà trang yêu cầu (số CMND/CCCD và mã xác nhận);
      </li>
      <li aria-level="1" style="text-align: justify">Chọn “Tra cứu”.</li>
    </ul>
  </div>
</div>
