<div class="container text-center my-3 flex justify-center">
    <div class="row mx-auto my-auto justify-content-center">
        <div class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item" *ngFor="let imgUrl of dataImage">
                    <div class="">
                        <div class="w-fit">
                            <div class="w-fit">
                                <img src="{{imgUrl}}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>