<div class="flex justify-between mx-40">
  <div>
    <a><img alt="2KT – Đại lý Thuế Chuyên Nghiệp"/></a>
  </div>
  <div class="flex justify-between">
    <div>
      <a href="https://smarttax.vn/" aria-current="page">Trang chủ</a>
    </div>
    <div>
      <a href="https://smarttax.vn/ve-chung-toi/">Về chúng tôi</a>
    </div>
    <div>
      <a href="https://smarttax.vn/smarttax-dich-vu/">Dịch vụ</a>
    </div>
    <div>
      <a href="https://smarttax.vn/blog/">Blog</a>
    </div>
    <div>
      <a href="https://smarttax.vn/lien-he/">Liên hệ</a>
    </div>
  </div>
</div>
