<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ thành lập công ty cổ phần từ 3 ngày xong - 250.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Với dịch vụ thành lập tại dịch vụ thuê - kế toán 2KT, thủ tục mở công
        ty cổ phần vừa đơn giản về hồ sơ chuẩn bị, vừa nhanh chóng để nhận giấy
        phép kinh doanh công ty cổ phần. Hơn nữa, dịch vụ thuê - kế toán 2KT
        luôn cam kết không phát sinh chi phí.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p>Nội dung chính</p>

      <ul class="noi-dung-chinh">
        <li><a>Điều kiện thành lập công ty cổ phần</a></li>
        <li><a>Tổng chi phí thành lập công ty cổ phần</a></li>
        <li>
          <a>Tổng thời gian hoàn thành thủ tục thành lập công ty cổ phần</a>
        </li>
        <li><a>Thành lập công ty cổ phần cần những gì?</a></li>
        <li>
          <a>9 việc dịch vụ thuê - kế toán 2KT sẽ thay bạn thực hiện là gì?</a>
        </li>
        <li>
          <a
            >5 việc cần làm và chi phí khác sau khi thành lập công ty cổ phần</a
          >
        </li>
        <li>
          <a>Câu hỏi thường gặp khi thành lập công ty cổ phần</a>
        </li>
      </ul>
    </div>

    <h3 class="sub-title" id="Dieu-kien-thanh-lap-cong-ty-co-phan">
      <a id="buoc1" name="buoc1">Điều kiện thành lập công ty cổ phần</a>
    </h3>

    <p style="text-align: justify">
      Để mở công ty cổ phần, bạn cần lưu ý các điều kiện và quy định sau:
    </p>

    <p style="text-align: justify">
      - Phải thỏa các điều kiện khi làm thủ tục thành lập doanh nghiệp như tên
      công ty, địa chỉ trụ sở, vốn điều lệ, ngành nghề đăng ký kinh doanh…
    </p>

    <p style="text-align: justify">
      - Vốn điều lệ được chia thành nhiều phần bằng nhau được gọi là cổ phần,
      giá trị của mỗi cổ phần là do công ty quyết định;
    </p>

    <p style="text-align: justify">
      - Cổ đông là các cá nhân hoặc tổ chức sở hữu cổ phần. Cổ đông chỉ chịu
      trách nhiệm trong phạm vi số vốn cam kết góp.
    </p>

    <p style="text-align: justify">
      Nhìn chung, loại hình công ty cổ phần có&nbsp;nhiều ưu thế hơn trong các
      vấn đề&nbsp;chuyển nhượng cổ phần, phát hành cổ phiếu, giao dịch chứng
      khoán và khả năng huy động vốn bởi không giới hạn số lượng cổ đông tham
      gia góp vốn. Tuy nhiên, các ưu thế đó cũng là lý do khiến cơ cấu tổ chức
      của công ty cổ phần khá phức tạp, dẫn đến các quy định của pháp luật cho
      loại hình này cũng chặt chẽ hơn. Dù vậy, đây vẫn là loại hình phổ biến và
      được nhiều doanh nghiệp chọn lựa thành lập.&nbsp;
    </p>

    <h3 class="sub-title" id="Tong-chi-phi-thanh-lap-cong-ty-co-phan">
      <a name="buoc2">Tổng chi phí thành lập công ty cổ phần</a>
    </h3>

    <p style="text-align: justify">
      Tổng chi phí thành lập công ty cổ phần tại dịch vụ thuê - kế toán 2KT là
      1.000.000 đồng, bao gồm các lệ phí phải nộp nhà nước và phí dịch vụ trọn
      gói tại dịch vụ thuê - kế toán 2KT.
    </p>

    <p style="text-align: justify">
      Những khoản phí nộp nhà nước:
      <span style="color: #3472b8"><strong>750.000 đồng</strong></span>
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          200.000 đồng phí ủy quyền nộp hồ sơ và nhận giấy phép kinh doanh cho
          công ty cổ phần;
        </p>
      </li>
      <li>
        <p style="text-align: justify">450.000 đồng lệ phí khắc dấu;</p>
      </li>
      <li>
        <p style="text-align: justify">
          100.000 đồng lệ phí công bố thành lập công ty cổ phần tại Cổng thông
          tin quốc gia.
        </p>
      </li>
    </ul>

    <p style="text-align: justify">
      Phí dịch vụ thành lập công ty cổ phần tại dịch vụ thuê - kế toán 2KT:
      <span style="color: #3472b8"><strong>250.000 đồng</strong></span>
    </p>

    <h3
      class="sub-title"
      id="Tong-thoi-gian-hoan-thanh-thu-tuc-thanh-lap-cong-ty-co-phan"
    >
      <a name="buoc3"
        >Tổng thời gian hoàn thành thủ tục thành lập công ty cổ phần</a
      >
    </h3>

    <p style="text-align: justify">
      Tổng thời gian hoàn thành thủ tục và bàn giao giấy phép kinh doanh tại
      dịch vụ thuê - kế toán 2KT:
      <span style="color: #3472b8"><strong>Từ 3 - 4 ngày</strong></span
      >.
    </p>

    <ul>
      <li>
        <p style="text-align: justify">
          Sau khi soạn toàn bộ hồ sơ, dịch vụ thuê - kế toán 2KT sẽ trình khách
          hàng ký và nộp hồ sơ thành lập công ty cổ phần tại Sở KH&amp;ĐT;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Trong vòng 3 ngày, Sở KH&amp;ĐT sẽ xét duyệt hồ sơ và cấp giấy phép
          kinh doanh;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          dịch vụ thuê - kế toán 2KT sẽ thay bạn nhận và bàn giao giấy phép kinh
          doanh cùng con dấu tận nơi.
        </p>
      </li>
    </ul>

    <div class="row">
      <div class="col-md-6 col-xs-6 text-center">
        <p style="text-align: center">&nbsp;</p>
      </div>
    </div>

    <h3 class="sub-title" id="Thanh-lap-cong-ty-co-phan-can-nhung-gi?">
      <a name="buoc4">Thành lập công ty cổ phần cần những gì?</a>
    </h3>

    <p style="text-align: justify">
      So với việc bạn tự thực hiện các thủ tục thì sử dụng dịch vụ thành lập
      công ty cổ phần tại dịch vụ thuê - kế toán 2KT đơn giản hơn nhiều. Bạn chỉ
      cần cung cấp cho dịch vụ thuê - kế toán 2KT các thông tin sau:
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        1. Bản sao công chứng CMND/CCCD/hộ chiếu của các thành viên cổ đông;
      </p>

      <p style="text-align: justify">
        2. Các thông tin dự kiến thành lập: tên công ty, vốn điều lệ, ngành nghề
        kinh doanh, địa chỉ, tỷ lệ cổ phần…
      </p>
    </div>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Với dịch vụ thành lập tại dịch vụ thuê - kế toán 2KT, bạn sẽ
      được hỗ trợ tư vấn miễn phí các thông tin công ty dự kiến. Chẳng hạn, dịch
      vụ thuê - kế toán 2KT sẽ kiểm tra sự trùng lặp về tên công ty, tư vấn đầy
      đủ mã ngành chi tiết nhằm tránh tình trạng đăng ký thiếu mã ngành...
    </p>

    <h3
      class="sub-title"
      id="9-viec-2KT-se-thay-ban-thuc-hien-khi-thanh-lap-cong-ty-co-phan-la-gi?"
    >
      <a name="buoc5"
        >9 việc dịch vụ thuê - kế toán 2KT sẽ thay bạn thực hiện khi thành lập
        công ty cổ phần là gì?</a
      >
    </h3>

    <p style="text-align: justify">
      <strong>1.</strong> Hỗ trợ tư vấn miễn phí các thông tin trước khi làm thủ
      tục đăng ký thành lập công ty cổ phần và những khoản
      <a>thuế phải nộp sau thành lập công ty</a>;
    </p>

    <p style="text-align: justify">
      <strong>2.</strong> Soạn thảo và chuẩn bị tất cả hồ sơ, thủ tục theo yêu
      cầu của Sở KH&amp;ĐT;
    </p>

    <p style="text-align: justify">
      <strong>3. </strong>Trình khách hàng ký hồ sơ tận nhà;
    </p>

    <p style="text-align: justify">
      <strong>4.</strong> Đại diện doanh nghiệp nộp hồ sơ thành lập công ty cổ
      phần tại Sở KH&amp;ĐT;
    </p>

    <p style="text-align: justify">
      <strong>5.</strong> Đại diện doanh nghiệp nhận
      <a>giấy phép kinh doanh</a>
      tại Sở KH&amp;ĐT;
    </p>

    <p style="text-align: justify">
      <strong>6.</strong> Bàn giao giấy phép kinh doanh cho khách hàng;
    </p>

    <p style="text-align: justify">
      <strong>7.</strong> Soạn hồ sơ và thực hiện thủ tục đăng bố cáo thành lập
      doanh nghiệp trên báo giấy, báo điện tử;
    </p>

    <p style="text-align: justify">
      <strong>8.</strong> Đại diện doanh nghiệp thực hiện thủ tục khắc dấu tròn;
    </p>

    <p style="text-align: justify">
      <strong>9.</strong> Bàn giao con dấu cho khách hàng.
    </p>

    <p style="text-align: justify"><u>Lưu ý:</u></p>

    <p style="text-align: justify">
      Với loại hình công ty cổ phần, hồ sơ, giấy tờ phải có đầy đủ chữ ký của
      <a>người đại diện theo pháp luật</a>, <a>người đại diện theo ủy quyề</a>n
      và tất cả thành viên góp vốn.&nbsp;
    </p>

    <p style="text-align: justify">
      Toàn bộ quá trình thực hiện thủ tục đều được dịch vụ thuê - kế toán 2KT sử
      dụng dịch vụ giao nhận miễn phí. Do vậy, dịch vụ giao nhận miễn phí tận
      nơi của dịch vụ thuê - kế toán 2KT sẽ đơn giản hóa mọi vấn đề đi lại ký hồ
      sơ của khách hàng.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="5-viec-can-lam-va-chi-phi-khac-sau-khi-thanh-lap-cong-ty-co-phan"
    >
      <a name="buoc6"
        >5 việc cần làm và chi phí khác sau khi thành lập công ty cổ phần</a
      >
    </h3>

    <p style="text-align: justify">
      Sau khi dịch vụ thuê - kế toán 2KT bàn giao giấy phép kinh doanh, bạn cần
      lưu ý hoàn thành tiếp các thủ tục pháp lý bắt buộc dưới đây hoặc sử dụng
      dịch vụ tại dịch vụ thuê - kế toán 2KT, để tránh bị xử phạt từ cơ quan nhà
      nước.
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        <strong>1. </strong>Soạn và nộp hồ sơ <a>khai thuế ban đầu</a>: TP. HCM
        - 500.000 đồng | Hà Nội - 1.000.000 đồng;
      </p>

      <p style="text-align: justify">
        Tiết kiệm 500.000 đồng khi sử dụng
        <a>dịch vụ kế toán</a>
        tại dịch vụ thuê - kế toán 2KT;
      </p>

      <p style="text-align: justify">
        <strong>2. </strong>Mở tài khoản ngân hàng - Miễn phí khi sử dụng
        <a>dịch vụ thành lập</a>
        tại dịch vụ thuê - kế toán 2KT;
      </p>

      <p style="text-align: justify">
        <strong>3. </strong>Làm thủ tục in và phát hành hóa đơn - Miễn phí;
      </p>

      <p style="text-align: justify">
        <strong>4. </strong><a>Mua thiết bị chữ ký số</a>: Từ 900.000
        đồng&nbsp;(khách hàng thanh toán cho nhà mạng Viettel);
      </p>

      <p style="text-align: justify">
        <strong>5. </strong>Đặt bảng tên công ty: 200.000 đồng/bảng tên (kích
        thước 20x30cm).
      </p>
    </div>
  </div>
</div>
