<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Thay đổi người đại diện pháp luật, giám đốc công ty - 500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Dịch vụ thay đổi người đại diện theo pháp luật, giám đốc công ty cổ
        phần hay công ty TNHH tại dịch vụ thuê - kế toán 2KT hoàn thành trong vòng 3 ngày, phí dịch vụ
        chỉ 500.000đ. Liên hệ dịch vụ thuê - kế toán 2KT ngay để được hỗ trợ tư vấn miễn phí.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a
            >Thủ tục thay đổi người đại diện theo pháp luật thực hiện khi
            nào?</a
          >
        </li>
        <li>
          <a
            >Chi phí thay đổi người đại diện theo pháp luật, giám đốc công ty</a
          >
        </li>
        <li>
          <a>Thời gian làm thủ tục thay đổi người đại diện pháp luật&nbsp;</a>
        </li>
        <li>
          <a>Nhiệm vụ của dịch vụ thuê - kế toán 2KT khi đổi đại diện pháp luật cho bạn</a>
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="THU-TUC-THAY-DOI-NGUOI-DAI-DIEN-THEO-PHAP-LUAT-THUC-HIEN-KHI-NAO?"
    >
      <a id="buoc1" name="buoc1"
        >THỦ TỤC THAY ĐỔI NGƯỜI ĐẠI DIỆN THEO PHÁP LUẬT THỰC HIỆN KHI NÀO?</a
      >
    </h3>

    <p style="text-align: justify">
      Người đại diện theo pháp luật của công ty cổ phần, công ty TNHH 1 thành
      viên hay công ty TNHH 2 thành viên trở lên có thể là giám đốc, tổng giám
      đốc…&nbsp;
    </p>

    <p style="text-align: justify">
      Người đại diện theo pháp luật sẽ chịu trách nhiệm ký các văn bản, hồ sơ
      trong quá trình doanh nghiệp hoạt động. Do vậy, khi thay đổi người đại
      diện công ty, bạn phải nhanh chóng thực hiện thủ tục thay đổi thông tin
      người đại diện theo pháp luật để tránh bị xử phạt và không gây ảnh hưởng
      đến hoạt động của doanh nghiệp.
    </p>

    <h3
      class="sub-title"
      id="CHI-PHI-THAY-DOI-NGUOI-DAI-DIEN-THEO-PHAP-LUAT,-GIAM-DOC-CONG-TY"
    >
      <a id="buoc2" name="buoc2"
        >CHI PHÍ THAY ĐỔI NGƯỜI ĐẠI DIỆN THEO PHÁP LUẬT, GIÁM ĐỐC CÔNG TY</a
      >
    </h3>

    <p style="text-align: justify">
      Tổng chi phí dịch vụ thay đổi đại diện pháp luật công ty là
      <span style="color: #2a4e9a"><strong>1.000.000 đồng</strong></span
      >. Trong đó:
    </p>

    <ul>
      <li aria-level="1">
        <p style="text-align: justify">
          200.000 đồng lệ phí ủy quyền cho dịch vụ thuê - kế toán 2KT thay bạn nộp hồ sơ đăng ký doanh
          nghiệp và nhận giấy phép kinh doanh;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          300.000 đồng lệ phí nộp hồ sơ và cấp giấy phép kinh doanh mới ở Sở
          KH&amp;ĐT;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          500.000 đồng phí dịch vụ thay đổi người đại diện pháp luật của dịch vụ thuê - kế toán 2KT.
        </p>
      </li>
    </ul>

    <h3
      class="sub-title"
      id="THOI-GIAN-LAM-THU-TUC-THAY-DOI-NGUOI-DAI-DIEN-PHAP-LUAT&nbsp;"
    >
      <a id="buoc3" name="buoc3"
        >THỜI GIAN LÀM THỦ TỤC THAY ĐỔI NGƯỜI ĐẠI DIỆN PHÁP LUẬT&nbsp;</a
      >
    </h3>

    <p style="text-align: justify">
      Từ thời điểm dịch vụ thuê - kế toán 2KT tiếp nhận yêu cầu làm thủ tục thay đổi người đại diện
      theo pháp luật của bạn, chỉ cần 3 ngày để dịch vụ thuê - kế toán 2KT hoàn thành toàn bộ hồ sơ và
      chờ Sở KH&amp;ĐT cấp GPKD mới.
    </p>

    <div class="custom-quote">
      <p style="text-align: justify">
        1 ngày để tư vấn, soạn hồ sơ và trình khách hàng ký hồ sơ thay đổi đại
        diện pháp luật;
      </p>

      <p style="text-align: justify">
        3 ngày để Sở KH&amp;ĐT cấp giấy phép kinh doanh mới.
      </p>
    </div>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Toàn bộ quá trình giao nhận sẽ được dịch vụ thuê - kế toán 2KT áp dụng dịch vụ tận
      nơi miễn phí.
    </p>

    <p style="text-align: justify">&nbsp;</p>

    <h3
      class="sub-title"
      id="NHIEM-VU-CUA-2KT-KHI-NHAN-DICH-VU-THAY-DOI-DAI-DIEN-PHAP-LUAT,-GIAM-DOC-CONG-TY"
    >
      <a id="buoc4" name="buoc4"
        >NHIỆM VỤ CỦA DỊCH VỤ THUẾ - KẾ TOÁN 2KT KHI NHẬN DỊCH VỤ THAY ĐỔI ĐẠI DIỆN PHÁP LUẬT, GIÁM ĐỐC
        CÔNG TY</a
      >
    </h3>

    <ol>
      <li aria-level="1">
        <p style="text-align: justify">
          Kiểm tra thông tin tiếp nhận từ khách hàng;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Soạn giấy đề nghị đăng ký thay đổi người đại diện pháp luật;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Soạn quyết định về việc thay đổi người đại diện pháp luật;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Chuẩn bị đầy đủ bìa và mục lục hồ sơ theo quy định của Sở KH&amp;ĐT;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Soạn tờ khai và giấy ủy quyền người nộp hồ sơ;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Nộp hồ sơ thay đổi người đại diện theo pháp luật tại Sở KH&amp;ĐT;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Chờ kết quả từ Sở KH&amp;ĐT và bàn giao GPKD mới tận nơi.
        </p>
      </li>
    </ol>

    <div class="custom-quote">
      <p style="text-align: justify">
        Trong khi đó, bạn chỉ cần cung cấp cho dịch vụ thuê - kế toán 2KT các thông tin sau:
      </p>

      <p style="text-align: justify">- MST công ty;</p>

      <p style="text-align: justify">
        - Thông tin người đại diện pháp luật mới.
      </p>
    </div>
  </div>
</div>
