.tax-logo {
  background-color: #fff9ee;
}
.tax-content-2 {
  color: #7a5a07;
}

.gradient-text {
  background: linear-gradient(to bottom, #c08535, #fee703);
  -webkit-background-clip: text; /* Cho phép áp dụng background cho phần văn bản */
  color: transparent; /* Ẩn màu chữ mặc định */
}

.enterprise-logo {
  background: #027fca;
}

.enterprise-content-1 {
  color: #caed66;
}

.social-content {
  color: #c4161c;
}

.social-logo {
  background-image: url("https://i.imgur.com/Tn5r2xq.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-logo {
  background: #04499d;
}
