<div class="mt-8">
  <div class="row flex justify-center !mx-0">
    <div class="col-6 flex justify-end">
      <a
        class="flex items-center py-3 px-4 tax-logo shadow-xl"
        href="https://www.gdt.gov.vn/"
        target="_blank"
        ><img src="https://i.imgur.com/TvsEXg9.png" class="w-24" loading="lazy"/>
        <div class="ml-4">
          <h2 class="gradient-text uppercase">Thuế Việt Nam</h2>
          <h6 class="tax-content-2 uppercase">Tổng cục thuế - bộ tài chính</h6>
        </div>
      </a>
    </div>
    <div class="col-6 flex justify-start">
      <a
        class="flex items-center p-3 shadow-xl enterprise-logo"
        href="https://dangkykinhdoanh.gov.vn/"
        target="_blank"
        ><img src="https://i.imgur.com/tgrvh52.png" class="w-24" loading="lazy"/>
        <div class="ml-4">
          <h5 class="enterprise-content-1 uppercase">
            Cổng thông tin quốc gia về
          </h5>
          <h2 class="text-white uppercase">Đăng ký doanh nghiệp</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="row flex justify-center mt-4 !mx-0">
    <div class="col-6 flex justify-end">
      <a
        class="flex items-center p-3 shadow-xl custom-logo"
        href="https://www.customs.gov.vn/"
        target="_blank"
      >
        <img src="https://i.imgur.com/7KqjBc3.png" class="w-24" loading="lazy"/>
        <div class="ml-4">
          <h2 class="text-white uppercase">Hải quan Việt Nam</h2>
          <p class="text-white">Chuyên nghiệp - Minh bạch - Hiệu quả</p>
        </div>
      </a>
    </div>
    <div class="col-6 flex justify-start">
      <a
        class="flex items-center p-3 social-logo shadow-xl"
        href="https://baohiemxahoi.gov.vn/"
        target="_blank"
      >
        <img src="https://i.imgur.com/HKm1H4e.png" class="w-24" loading="lazy"/>
        <div class="ml-4">
          <h2 class="social-content uppercase">Bảo hiểm xã hội Việt Nam</h2>
          <p class="text-black uppercase">vietnam social security</p>
        </div>
      </a>
    </div>
  </div>
</div>
