<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ nhận làm Báo Cáo Tài Chính cuối năm - Từ 1.000.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <style type="text/css">
      .table-post-custom tr:nth-child(odd) {
        background: #ffc28b;
      }
      .table-post-custom tr:nth-child(even) {
        background: #ffe7d4;
      }
      .table-post-custom tr:first-child,
      .table-post-custom tr:nth-of-type(2) {
        background: #f97c26;
      }
      .table-post-custom tr td {
        min-width: 80px;
      }
    </style>

    <p style="text-align: justify">
      <strong
        >Với kinh nghiệm 16&nbsp;năm cung cấp dịch vụ lập bảng báo cáo tài
        chính, 2KT cam kết hỗ trợ doanh nghiệp tăng chi phí hợp lý và tối ưu
        thuế theo đúng quy định pháp luật.&nbsp;</strong
      >
    </p>

    <div class="custom-muc-luc toc_root">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li>
          <a>Chi phí dịch vụ làm báo cáo tài chính</a>
        </li>
        <li>
          <a
            >Doanh nghiệp cần cung cấp những gì khi làm báo cáo tài chính (BCTC)
            tại 2KT?</a
          >
        </li>
        <li>
          <a
            >Thời hạn nộp báo cáo tài chính năm 2023&nbsp;và các quy định xử
            phạt</a
          >
        </li>
        <li>
          <a>Nhiệm vụ của 2KT khi nhận làm báo cáo tài chính</a>
        </li>
      </ul>
    </div>

    <h3 class="sub-title" id="Chi-phi-dich-vu-lam-bao-cao-tai-chinh">
      <a id="buoc1" name="buoc1">Chi phí dịch vụ làm báo cáo tài chính</a>
    </h3>

    <p>
      Áp dụng trên toàn hệ thống của 2KT bao gồm Hà Nội, Đà Nẵng, TP. HCM, Đồng
      Nai, Bình Dương
    </p>

    <table class="table-post-custom" style="width: 100%">
      <tbody>
        <tr>
          <td colspan="3">
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Nhóm ngành Tư vấn dịch vụ</strong></span
              >
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Số hóa đơn đầu vào, </strong></span
              >
            </p>

            <p style="text-align: center">
              <span style="color: #ffffff"><strong>đầu ra/năm</strong></span>
            </p>
          </td>
          <td colspan="2">
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Phí dịch vụ</strong></span>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Không có hóa đơn</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">2.500.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 25</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">5.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 45</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">7.500.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 65</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">9.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 85</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">10.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 105</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">11.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 135</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">13.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 155</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">14.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Từ 155 trở lên</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">
              Vui lòng gọi
              <strong
                ><a href="tel:0969295848" rel="nofollow" target="_blank"
                  >0969295848</a
                ></strong
              >
              để 2KT tư vấn và báo giá
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <p>&nbsp;</p>

    <table class="table-post-custom" style="width: 100%">
      <tbody>
        <tr>
          <td colspan="3">
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Nhóm ngành Thương mại</strong></span
              >
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Số hóa đơn</strong></span>
            </p>
          </td>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Không có tờ khai hải quan</strong></span
              >
            </p>
          </td>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Có tờ khai hải quan</strong></span
              >
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Không có hóa đơn</p>
          </td>
          <td>
            <p style="text-align: center">2.500.000đ</p>
          </td>
          <td>
            <p style="text-align: center">2.500.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 25</p>
          </td>
          <td>
            <p style="text-align: center">4.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">6.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 45</p>
          </td>
          <td>
            <p style="text-align: center">6.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">8.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 75</p>
          </td>
          <td>
            <p style="text-align: center">8.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">10.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 105</p>
          </td>
          <td>
            <p style="text-align: center">10.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">12.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 135</p>
          </td>
          <td>
            <p style="text-align: center">12.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">14.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 155</p>
          </td>
          <td>
            <p style="text-align: center">13.500.000đ</p>
          </td>
          <td>
            <p style="text-align: center">15.500.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 180</p>
          </td>
          <td>
            <p style="text-align: center">15.000.000đ</p>
          </td>
          <td>
            <p style="text-align: center">17.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Từ 185 trở lên</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">
              Vui lòng gọi
              <strong
                ><a href="tel:0969295848" rel="nofollow" target="_blank"
                  >0969295848</a
                ></strong
              >
              để 2KT tư vấn và báo giá
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <p>&nbsp;</p>

    <table class="table-post-custom" style="width: 100%">
      <tbody>
        <tr>
          <td colspan="3">
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong
                  >Nhóm ngành Thi công xây dựng - Trang trí nội thất</strong
                ></span
              >
            </p>

            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Sản xuất - Gia công - Nhà hàng - Lắp đặt</strong></span
              >
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Số hóa đơn</strong></span>
            </p>
          </td>
          <td colspan="2">
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Phí dịch vụ</strong></span>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Không có hóa đơn</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">2.500.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 10</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">5.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 25</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">8.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 45</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">12.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dưới 65</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">15.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Từ 65 trở lên</p>
          </td>
          <td colspan="2">
            <p style="text-align: center">
              Vui lòng gọi
              <strong
                ><a href="tel:0969295848" rel="nofollow" target="_blank"
                  >0969295848</a
                ></strong
              >
              để 2KT tư vấn và báo giá
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <p><strong>&nbsp;</strong></p>

    <h3
      class="sub-title"
      id="Doanh-nghiep-can-cung-cap-nhung-gi-khi-lam-bao-cao-tai-chinh-(BCTC)-tai-2KT?"
    >
      <a id="buoc2" name="buoc2"
        >Doanh nghiệp cần cung cấp những gì khi làm báo cáo tài chính (BCTC) tại
        2KT?</a
      >
    </h3>

    <p style="text-align: justify">
      Khi chọn dịch vụ báo cáo tài chính tại 2KT, bạn chỉ cần cung cấp các hồ sơ
      sau:
    </p>

    <p style="text-align: justify">
      <u>Lưu ý:</u> Nếu doanh nghiệp vừa thành lập tại năm báo cáo thì không cần
      cung cấp bảng cân đối tài khoản năm trước báo cáo.
    </p>

    <h3
      class="sub-title"
      id="Thoi-han-nop-bao-cao-tai-chinh-nam-2023&nbsp;va-cac-quy-dinh-xu-phat"
    >
      <a id="buoc3" name="buoc3"
        >Thời hạn nộp báo cáo tài chính năm 2023&nbsp;và các quy định xử phạt</a
      >
    </h3>

    <p style="text-align: justify">
      <strong>1. Thời gian nộp báo cáo tài chính năm 2023:&nbsp;</strong>
    </p>

    <p style="text-align: justify">
      Báo cáo tài chính của năm trước phải được nộp chậm nhất vào ngày thứ 90,
      kể từ ngày kết thúc năm dương lịch hoặc năm tài chính.
    </p>

    <p style="text-align: justify">
      Theo đó, phải nộp báo cáo tài chính năm 2023&nbsp;chậm nhất là ngày
      31/03/2024.
    </p>

    <p style="text-align: justify">
      <strong>2. Mức phạt chậm nộp báo cáo tài chính:</strong>
    </p>

    <p style="text-align: justify">
      Theo Nghị định 41/2018/NĐ-CP về việc xử phạt vi phạm hành chính trong việc
      nộp trễ, nộp sai báo cáo tài chính như sau:
    </p>

    <table class="table-post-custom" style="width: 100%">
      <tbody>
        <tr>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"
                ><strong>Nội dung vi phạm</strong></span
              >
            </p>
          </td>
          <td>
            <p style="text-align: center">
              <span style="color: #ffffff"><strong>Mức phạt</strong></span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="background-color: #ffe7d4">
            <p>
              Chậm nộp, chậm công khai BCTC dưới 3 tháng so với thời hạn quy
              định
            </p>
          </td>
          <td rowspan="3" style="background-color: #ffe7d4">
            <p style="text-align: left">5.000.000đ - 10.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Nộp BCTC không đủ nội dung theo quy định</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Hạch toán không đúng theo quy định tài khoản kế toán</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Chậm nộp, chậm công khai BCTC từ 3 tháng trở lên so với thời hạn
              quy định
            </p>
          </td>
          <td rowspan="2">
            <p style="text-align: left">10.000.000đ - 20.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Không đính kèm báo cáo kiểm toán khi nộp BCTC và khi công khai
              BCTC (đối với các trường hợp đã được quy định)
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Số liệu công khai BCTC không đúng với số liệu kế toán, chứng từ kế
              toán
            </p>
          </td>
          <td rowspan="2" style="background-color: #ffe7d4">
            <p style="text-align: left">20.000.000đ - 30.000.000đ</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Các trường hợp thỏa thuận/ép buộc cung cấp thông tin, số liệu kế
              toán sai lệch thực tế hoặc giả mạo BCTC
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    &nbsp;

    <h3 class="sub-title" id="Nhiem-vu-cua-2KT-khi-nhan-lam-bao-cao-tai-chinh">
      <a id="buoc4" name="buoc4"
        >Nhiệm vụ của 2KT khi nhận làm báo cáo tài chính</a
      >
    </h3>

    <ol>
      <li aria-level="1">
        <p style="text-align: justify">
          Thu thập các hóa đơn, chứng từ, sổ sách của doanh nghiệp;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Thu thập thông báo về chế độ, hình thức kế toán áp dụng, phương pháp
          khấu hao TSCĐ;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Khảo sát tình hình thực tế, quy trình hoạt động của doanh nghiệp;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Rà soát chứng từ, sổ sách kế toán, phân loại và sắp xếp chứng từ;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Loại bỏ và điều chỉnh các chứng từ không phù hợp;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Lập các bảng phân bổ công cụ, dụng cụ, phí trả trước, phí chờ kết
          chuyển;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">Kiểm tra chi phí lương, BHYT, BHXH…;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">Tính và lập các bảng khấu hao TSCĐ;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Hạch toán kế toán trên phần mềm kế toán chuyên nghiệp;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Bàn luận với doanh nghiệp các nội dung, nghiệp vụ có liên quan đến kết
          quả thực hiện;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Kết chuyển, tổng hợp thông tin để lập sổ sách kế toán, kết quả kinh
          doanh, thuyết minh BCTC;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Tư vấn cho doanh nghiệp các nội dung liên quan trong quá trình tổng
          hợp để lập BCTC…
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          In báo cáo tài chính, sổ sách kế toán theo quy định.
        </p>
      </li>
    </ol>

    <p style="text-align: justify">
      <u>Lưu ý</u>: Hỗ trợ lập bảng báo cáo tài chính miễn phí nếu khách hàng
      đang sử dụng “Dịch vụ kế toán trọn gói” tại 2KT.
    </p>
  </div>
</div>
