<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ làm thủ tục thay đổi cổ đông công ty cổ phần, 500.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Tham khảo ngay dịch vụ thay đổi cổ đông trong công ty cổ phần tại 2KT -
        phí dịch vụ chỉ 500.000đ, trong vòng 3 ngày - khi có sự tăng, giảm số
        lượng cổ đông hoặc chuyển nhượng vốn dẫn đến thay đổi cổ đông công ty cổ
        phần.</strong
      >
    </p>

    <div class="custom-muc-luc">
      <p>Nội dung chính</p>

      <ul class="noi-dung-chinh">
        <li>
          <a href="#buoc1">Khi nào phải thay đổi cổ đông công ty cổ phần?</a>
        </li>
        <li>
          <a href="#buoc2"
            >Phí dịch vụ khi thay đổi cổ đông theo hình thức chuyển nhượng cổ
            phần</a
          >
        </li>
        <li><a href="#buoc3">3 thông tin bạn cần cung cấp&nbsp;</a></li>
        <li>
          <a href="#buoc4"
            >3 ngày để 2KT hoàn thành thủ tục thay đổi cổ đông theo chuyển
            nhượng cổ phần</a
          >
        </li>
      </ul>
    </div>

    <h3 class="sub-title">
      <a id="buoc1" name="buoc1"
        >Khi nào phải thay đổi cổ đông công ty cổ phần?</a
      >
    </h3>

    <p style="text-align: justify">
      Theo Điều 57
      <a href="#">Nghị định 01/2021/NĐ-CP</a>, doanh nghiệp chỉ thực hiện thủ
      tục thay đổi cổ đông với Sở KH&amp;ĐT nếu cổ đông chưa thanh toán hoặc chỉ
      thanh toán một phần số cổ phần đã đăng ký.&nbsp;
    </p>

    <p style="text-align: justify">
      Nói cách khác, thủ tục thay đổi cổ đông theo hình thức chuyển nhượng cổ
      phần chỉ thực hiện trong nội bộ công ty. Sau đó, doanh nghiệp nộp hồ sơ kê
      khai thuế TNCN và nộp thuế TNCN do chuyển nhượng cổ phần tại cơ quan
      thuế.&nbsp;
    </p>

    <p style="text-align: justify">
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<span style="color: #e5451b"><strong>Xem thêm:</strong></span
      >&nbsp;<a href="#">Thủ tục thay đổi cổ đông sáng lập công ty cổ phần</a>.
    </p>

    <h3 class="sub-title">
      <a id="buoc2" name="buoc2"
        >Phí dịch vụ khi thay đổi cổ đông theo hình thức chuyển nhượng cổ
        phần</a
      >
    </h3>

    <p style="text-align: justify">
      Thực tế, đa phần các trường hợp thay đổi cổ đông công ty cổ phần đều theo
      hình thức
      <a href="#">chuyển nhượng cổ phần</a>.&nbsp;
    </p>

    <p style="text-align: justify">
      Như đã chia sẻ, dù doanh nghiệp không phải thực hiện thủ tục với Sở
      KH&amp;ĐT nhưng lại phải nộp hồ sơ lên Chi cục Thuế. Do vậy, để hồ sơ được
      hoàn thành nhanh chóng, hãy tham khảo dịch vụ chuyển nhượng cổ phần công
      ty cổ phần tại 2KT,
      <span style="color: #2a4e9a"
        ><strong
          >với phí dịch vụ chỉ 500.000 đồng/cổ đông chuyển nhượng</strong
        ></span
      >.
    </p>

    <h3 class="sub-title">
      <a id="buoc3" name="buoc3">3 thông tin bạn cần cung cấp</a>
    </h3>

    <p style="text-align: justify">
      Thay đổi cổ đông theo hình thức chuyển nhượng cổ phần sẽ dẫn đến thay đổi
      hoặc không
      <a href="#">thay đổi vốn điều lệ</a>.&nbsp;
    </p>

    <p style="text-align: justify">
      Nếu doanh nghiệp thuộc trường hợp thay đổi cổ đông theo chuyển nhượng cổ
      phần nhưng không ảnh hưởng vốn điều lệ thì chỉ cần cung cấp 3 thông tin
      đơn giản:
    </p>

    <div class="custom-quote">
      <ul>
        <li style="text-align: justify">
          Bản chụp/bản scan giấy phép kinh doanh;
        </li>
        <li style="text-align: justify">
          Thông tin danh sách cổ đông hiện tại và dự kiến thay đổi;
        </li>
        <li style="text-align: justify">
          Bản photo/bản sao công chứng CMND/CCCD/hộ chiếu của các cổ đông trong
          danh sách chuyển nhượng (người chuyển và người nhận).
        </li>
      </ul>
    </div>

    <p style="text-align: justify">
      Nếu doanh nghiệp thuộc trường hợp thay đổi cổ đông theo chuyển nhượng cổ
      phần dẫn đến thay đổi các nội dung trên giấy phép kinh doanh như vốn điều
      lệ, loại hình doanh nghiệp… có thể tham khảo
      <a href="#">dịch vụ thay đổi giấy phép kinh doanh</a>
      hoặc liên hệ 2KT để được hỗ trợ tư vấn miễn phí.
    </p>

    <h3 class="sub-title">
      <a id="buoc4" name="buoc4"
        >3 ngày để 2KT hoàn thành thủ tục thay đổi cổ đông theo chuyển nhượng cổ
        phần</a
      >
    </h3>

    <p style="text-align: justify">
      Khi sử dụng dịch vụ tại 2KT, tất cả những khó khăn về thủ tục thay đổi cổ
      đông công ty cổ phần theo hình thức chuyển nhượng cổ phần đều trở nên đơn
      giản. 2KT sẽ thay bạn hoàn thành các việc sau:
    </p>

    <ol>
      <li aria-level="1">
        <p style="text-align: justify">
          Hỗ trợ tư vấn miễn phí các vấn đề về thay đổi cổ đông theo chuyển
          nhượng cổ phần;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Soạn bộ hồ sơ thay đổi cổ đông theo chuyển nhượng cổ phần bao
          gồm:&nbsp;&nbsp;
        </p>

        <ul>
          <li aria-level="1">
            <p style="text-align: justify">
              Biên bản họp của đại hội đồng cổ đông;
            </p>
          </li>
          <li aria-level="1">
            <p style="text-align: justify">Hợp đồng chuyển nhượng cổ phần;</p>
          </li>
          <li aria-level="1">
            <p style="text-align: justify">Giấy chứng nhận phần vốn góp;</p>
          </li>
          <li aria-level="1">
            <p style="text-align: justify">Sổ đăng ký cổ đông;</p>
          </li>
          <li aria-level="1">
            <p style="text-align: justify">Tờ khai thuế TNCN;</p>
          </li>
          <li aria-level="1">
            <p style="text-align: justify">Giấy ủy quyền.&nbsp;</p>
          </li>
        </ul>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Đại diện doanh nghiệp nộp hồ sơ tại cơ quan quản lý thuế;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">Đại diện doanh nghiệp nhận kết quả;</p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Tính tiền nộp thuế TNCN mà cổ đông chuyển nhượng phải nộp;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Hướng dẫn doanh nghiệp
          <a href="#">nộp thuế TNCN</a>;
        </p>
      </li>
      <li aria-level="1">
        <p style="text-align: justify">
          Bàn giao kết quả với dịch vụ miễn phí tận nơi.
        </p>
      </li>
    </ol>

    <p style="text-align: justify"><u>Lưu ý:</u></p>

    <p style="text-align: justify">
      Tùy theo từng cơ quan quản lý thuế mà doanh nghiệp cần cung cấp thêm phiếu
      thu, phiếu chi… Với kinh nghiệm hơn 13 năm thực hiện thủ tục tại các cơ
      quan quận/huyện của TP. HCM và Hà Nội, 2KT luôn nắm rõ các yêu cầu về hồ
      sơ, thủ tục và thực hiện nhanh chóng.
    </p>

    <p>
      &nbsp;<em
        aria-hidden="true"
        class="fa-angle-double-right fas"
        style="color: #e5451b"
      ></em
      >&nbsp;<span style="color: #e5451b"><strong>Tham khảo:</strong></span
      >&nbsp;<a href="#">Chuyển nhượng vốn góp, cổ phần có phải kê khai thuế</a
      >.
    </p>
  </div>
</div>
