@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Bootstrap stylesheet */
@import "bootstrap/dist/css/bootstrap.css";

body {
  display: block;
  color: #353535;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: 0;
  }
  a,
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "./app/styles/common.scss";

.zalo-chat-widget {
  bottom: 82px !important;
  right: 27px !important;
}

.messenger-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: inline-flex;
  align-items: center;
  padding: 15px 15px;
  background-color: #0084ff;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.messenger-button i {
  font-size: 24px;
}

.messenger-button:hover {
  background-color: #006bbf;
}

/* Responsive cho thiết bị di động */
@media (max-width: 768px) {
  .messenger-button {
    padding: 15px 15px;
    font-size: 14px;
    bottom: 15px;
    right: 30px;
  }

  .messenger-button i {
    font-size: 20px;
  }
}
