<div id="ContentBody_fullpage" class="col-lg-8">
  <h1
    id="ContentBody_post_title"
    class="page-title h4 fs-xxxl-3 fs-xl-4 text-primary"
  >
    Dịch vụ kế toán nội bộ doanh nghiệp - trọn gói từ 1.000.000đ
  </h1>
  <div id="ContentBody_post_body" class="news-body mb-4 text-justify">
    <p style="text-align: justify">
      <strong
        >Tham khảo dịch vụ kế toán nội bộ doanh nghiệp trọn gói từ
        1.000.000đ/dịch vụ, với các dịch vụ kế toán nội bộ (kế toán quản trị)
        như: kế toán tính lương, kế toán công nợ, kế toán thu mua, kế toán bán
        hàng…
      </strong>
    </p>

    <div class="custom-muc-luc">
      <p class="toc-title">Nội dung chính:</p>

      <ul class="noi-dung-chinh">
        <li><a href="#Ke-toan-noi-bo-la-gi?">Kế toán nội bộ là gì?</a></li>
        <li>
          <a
            href="#Dich-vu-ke-toan-noi-bo-doanh-nghiep---Tron-goi-tu-1.000.000-dong/dich-vu"
            >Dịch vụ kế toán nội bộ doanh nghiệp - Trọn gói từ 1.000.000
            đồng/dịch vụ</a
          >
          <ul class="noi-dung-chinh">
            <li>
              <a href="#1.-Dich-vu-ke-toan-tien-luong"
                >1. Dịch vụ kế toán tiền lương</a
              >
            </li>
            <li>
              <a href="#2.-Dich-vu-ke-toan-ban-hang"
                >2. Dịch vụ kế toán bán hàng</a
              >
            </li>
            <li>
              <a href="#3.-Dich-vu-ke-toan-kho&nbsp;"
                >3. Dịch vụ kế toán kho&nbsp;</a
              >
            </li>
            <li>
              <a href="#4.-Dich-vu-ke-toan-cong-no"
                >4. Dịch vụ kế toán công nợ</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="#Khi-nao-can-su-dung-dich-vu-ke-toan-noi-bo-doanh-nghiep?"
            >Khi nào cần sử dụng dịch vụ kế toán nội bộ doanh nghiệp?</a
          >
        </li>
      </ul>
    </div>

    <h3
      class="sub-title"
      id="Ke-toan-noi-bo-la-gi?"
      style="text-align: justify"
    >
      <strong>Kế toán nội bộ là gì?</strong>
    </h3>

    <p style="text-align: justify">
      Kế toán nội bộ (tiếng Anh là in house accountant) còn được biết đến với
      tên gọi là kế toán quản trị. Như tên gọi thì các hạng mục công việc của kế
      toán nội bộ (kế toán quản trị) chỉ trong phạm vi nội bộ doanh nghiệp,
      chẳng hạn: ghi chép, lưu trữ, phân tích, thống kê, xử lý và báo cáo số
      liệu cho cấp lãnh đạo đối với các hoạt động tài chính của doanh nghiệp
      trong suốt quá trình nghiệp vụ phát sinh. Từ đó bạn có thể thấy, kế toán
      nội bộ là bộ phần nòng cốt vô cùng quan trọng của doanh nghiệp.
    </p>

    <p style="text-align: justify">
      Tùy vào nhu cầu của mỗi doanh nghiệp mà hệ thống bộ máy kế toán nội bộ sẽ
      được xây dựng với các vị trí kế toán viên khác nhau. Nhưng nhìn chung,
      dưới đây là các vị trí kế toán nội bộ cần thiết cho doanh nghiệp.
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">Kế toán trưởng;</li>
      <li aria-level="1" style="text-align: justify">Kế toán công nợ;</li>
      <li aria-level="1" style="text-align: justify">Kế toán thuế;</li>
      <li aria-level="1" style="text-align: justify">Kế toán bán hàng;</li>
      <li aria-level="1" style="text-align: justify">Kế toán ngân hàng;</li>
      <li aria-level="1" style="text-align: justify">
        Kế toán tiền lương và bảo hiểm;
      </li>
      <li aria-level="1" style="text-align: justify">Kế toán tổng hợp;</li>
      <li aria-level="1" style="text-align: justify">
        Kế toán kho - TSCĐ (kế toán thu mua hàng);
      </li>
      <li aria-level="1" style="text-align: justify">
        Kế toán thanh toán (kế toán thu chi)...&nbsp;
      </li>
    </ul>

    <p style="text-align: justify">
      Ở mỗi vị trí thì lương trung bình của kế toán nội bộ sẽ khác nhau, dao
      động từ 5.000.000 đồng - 30.000.000 đồng, tùy vào điều kiện tài chính, quy
      mô doanh nghiệp cũng như kinh nghiệm làm việc của từng ứng viên. Và trong
      một số trường hợp doanh nghiệp không thể tuyển hoặc tuyển không được kế
      toán viên phù hợp thì dịch vụ kế toán nội bộ thuê ngoài chính là giải
      pháp.&nbsp;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Nội dung liên quan: </strong></span
      ><a href="#khi-nao-can"
        >Trường hợp nên sử dụng dịch vụ kế toán nội bộ thuê ngoài</a
      >.
    </p>

    <h3
      class="sub-title"
      id="Dich-vu-ke-toan-noi-bo-doanh-nghiep---Tron-goi-tu-1.000.000-dong/dich-vu"
    >
      <strong
        >Dịch vụ kế toán nội bộ doanh nghiệp - Trọn gói từ 1.000.000 đồng/dịch
        vụ</strong
      >
    </h3>

    <p style="text-align: justify">
      Hiện tại Kế toán 2KT cung cấp dịch vụ kế toán nội bộ trọn gói với 4
      nghiệp vụ cần thiết cho hầu hết các doanh nghiệp như sau:
    </p>

    <h5 id="1.-Dich-vu-ke-toan-tien-luong" style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong>1. Dịch vụ kế toán tiền lương</strong></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      <a href="#">Dịch vụ tính lương</a>
      của Kế toán 2KT cung cấp cho doanh nghiệp chỉ sử dụng lao động Việt Nam
      và cả doanh nghiệp có sử dụng lao động nước ngoài, với mức giá tham khảo
      chỉ từ 1.500.000 đồng nếu doanh nghiệp có từ 1 - 5 lao động.&nbsp;
    </p>

    <p style="text-align: justify">
      Doanh nghiệp có từ 6 lao động trở lên hoặc có thêm lao động nước ngoài
      tham khảo chi tiết bảng giá dịch vụ kế toán tính lương tại bài viết sau.
    </p>

    <p style="text-align: justify">
      <strong><span style="color: #e5451b">&gt;&gt;</span> </strong
      ><a href="#">Dịch vụ kế toán tính tiền lương thuê ngoài</a>.
    </p>

    <div>
      <table
        cellspacing="0"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <strong>Chịu 100% trách nhiệm: </strong>Các vấn đề liên quan mã số
              thuế và BHXH người lao động
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">
      <br />
      Tất cả công việc, nghiệp vụ kế toán tiền lương 2KT sẽ thay doanh nghiệp
      hoàn thành 100%:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Xây dựng quy chế, hệ thống bảng lương bao gồm tiền lương và tiền thưởng
        lễ, Tết…;
      </li>
      <li aria-level="1" style="text-align: justify">
        Soạn thảo và quản lý hợp đồng lao động cùng các giấy tờ liên quan người
        lao động;
      </li>
      <li aria-level="1" style="text-align: justify">
        Xử lý các vấn đề liên quan mã số thuế lao động, chẳng hạn: đăng ký MST,
        đăng ký người phụ thuộc, xuất chứng từ khấu trừ thuế TNCN của người lao
        động…;
      </li>
      <li aria-level="1" style="text-align: justify">
        Xử lý các vấn đề liên quan bảo hiểm xã hội, chẳng hạn: báo tăng lao
        động, chốt sổ BHXH cho lao động, làm hồ sơ hưởng chế độ BHXH, theo dõi
        công nợ BHXH…&nbsp;
      </li>
    </ul>

    <h5 id="2.-Dich-vu-ke-toan-ban-hang" style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong
            ><a id="ban-hang" name="ban-hang"
              >2. Dịch vụ kế toán bán hàng</a
            ></strong
          ></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Điểm đặc biệt ở
      <a href="#">dịch vụ kế toán bán hàng</a>
      tại 2KT so với các đơn vị khác đó là, doanh nghiệp sẽ được miễn phí tư
      vấn thuế suất thuế GTGT.&nbsp;
    </p>

    <div>
      <table
        cellspacing="0"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <strong>Miễn phí tư vấn:</strong> Thuế suất thuế giá trị gia tăng
              trong suốt quá trình sử dụng dịch vụ
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">
      <br />
      Ngoài ra, 2KT cũng sẽ chịu trách nhiệm tất cả các nghiệp vụ kế toán bán
      hàng cho doanh nghiệp, chẳng hạn:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Soạn thảo hồ sơ bán hàng bao gồm: bảng báo giá, hợp đồng dịch vụ, phụ
        lục hợp đồng…;
      </li>
      <li aria-level="1" style="text-align: justify">
        Theo dõi quá trình tiếp nhận và xử lý đơn hàng;
      </li>
      <li aria-level="1" style="text-align: justify">
        Soạn thảo hồ sơ đề nghị thanh toán và theo dõi quá trình thanh toán;
      </li>
      <li aria-level="1" style="text-align: justify">
        Chịu trách nhiệm lưu trữ chứng từ, hóa đơn liên quan nghiệp vụ kế toán
        bán hàng;
      </li>
      <li aria-level="1" style="text-align: justify">
        Hỗ trợ giải thích, làm việc với khách hàng đối với các vấn đề liên quan
        hóa đơn, đơn hàng…
      </li>
    </ul>

    <p style="text-align: justify">
      Chi phí dịch vụ kế toán bán hàng sẽ dao động từ 1.000.000 đồng, tùy vào
      các yếu tố như là:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Lĩnh vực mà doanh nghiệp hoạt động;
      </li>
      <li aria-level="1" style="text-align: justify">
        Số lượng hợp đồng, đơn hàng, hóa đơn;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tổng giá trị hợp đồng và phụ lục hợp đồng.
      </li>
    </ul>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tìm hiểu chi tiết:</strong></span
      ><strong> </strong
      ><a href="#">Dịch vụ kế toán bán hàng trọn gói</a>.&nbsp;
    </p>

    <h5 id="3.-Dich-vu-ke-toan-kho&nbsp;" style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong
            ><a id="kho" name="kho">3. Dịch vụ kế toán kho&nbsp;</a></strong
          ></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Kế toán kho hay kế toán thu mua hàng là nghiệp vụ quan trọng để đảm bảo
      quá trình vận hành, hoạt động của doanh nghiệp được trôi chảy. Trong
      trường hợp doanh nghiệp chưa tuyển được kế toán viên phụ trách các vấn đề
      về kho bãi, hàng hóa thì cân nhắc sử dụng dịch vụ kế toán kho tại 2KT là
      giải pháp hữu hiệu lâu dài.
    </p>

    <div>
      <table
        cellspacing="0"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <strong>Miễn phí tư vấn:</strong> Xử lý tồn kho ảo - Trì hoãn nộp
              thuế giá trị gia tăng
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">
      <br />
      Trọn gói
      <a href="#">dịch vụ kế toán thu mua</a>
      (kế toán kho) chỉ từ 1.500.000 đồng/tháng của Kế toán 2KT sẽ giúp doanh
      nghiệp:
    </p>

    <ul>
      <li style="text-align: justify">
        Đảm bảo sự chính xác trong số liệu tồn kho;
      </li>
      <li style="text-align: justify">
        Đảm bảo xây dựng hệ thống kế toán kho chuẩn xác;
      </li>
      <li style="text-align: justify">
        Đại diện doanh nghiệp trao đổi, làm việc với nhà cung cấp nếu cần thiết;
      </li>
      <li style="text-align: justify">
        Hỗ trợ tư vấn phương án xử lý các vấn đề liên quan thuế và tồn kho như:
        <ul>
          <li style="text-align: justify">Cách xử lý tồn kho ảo;</li>
          <li style="text-align: justify">
            Cách trì hoãn nghĩa vụ nộp thuế GTGT;
          </li>
          <li style="text-align: justify">
            Cách khắc phục triệt để các sai phạm trong nghiệp vụ kế toán
            kho…&nbsp;
          </li>
        </ul>
      </li>
    </ul>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tìm hiểu chi tiết: </strong></span
      ><a href="#">Dịch vụ kế toán kho nội bộ doanh nghiệp</a>.
    </p>

    <h5 id="4.-Dich-vu-ke-toan-cong-no" style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong>4. Dịch vụ kế toán công nợ</strong></span
        ></span
      >
    </h5>

    <p style="text-align: justify">
      Khi sử dụng
      <a href="#">dịch vụ kế toán công nợ</a>
      - với chi phí trọn gói chỉ từ 1.500.000 đồng, doanh nghiệp sẽ có thể đơn
      giản hóa mọi vấn đề thuộc về nghiệp vụ kế toán công nợ. Bởi 2KT sẽ thay
      doanh nghiệp hoàn thành và chịu trách nhiệm 100%. Cụ thể, Kế toán 2KT
      sẽ:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Lập và quản lý tất cả chứng từ, giấy tờ liên quan công nợ;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tiếp nhận và rà soát tính pháp lý của hợp đồng thu mua, bán hàng;
      </li>
      <li aria-level="1" style="text-align: justify">
        Xác định thời hạn thanh toán và theo dõi công nợ phải thu - phải trả của
        khách hàng, đối tác;
      </li>
      <li aria-level="1" style="text-align: justify">
        Lập toàn bộ những báo cáo liên quan đến công nợ như: báo cáo tổng hợp,
        báo cáo phân tích công nợ…
      </li>
    </ul>

    <div>
      <table
        cellspacing="0"
        style="
          border-collapse: collapse;
          border: none;
          table-layout: fixed;
          width: 100%;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: #e5f0ff;
                border-color: #ffffff;
                border-style: solid;
                border-width: 1px;
                padding: 7px;
                text-align: justify;
                vertical-align: middle;
              "
              width="NaN"
            >
              <strong>Đặc biệt: </strong>Miễn phí dịch vụ kế toán thanh toán (kế
              toán thu chi) khi doanh nghiệp sử dụng dịch vụ kế toán công nợ tại
              Kế toán 2KT.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p style="text-align: justify">
      <br />
      Để đảm bảo sự chính xác về số liệu, Kế toán 2KT chỉ ưu tiên cung cấp
      dịch vụ này khi doanh nghiệp sử dụng đồng thời
      <a href="#ban-hang">dịch vụ kế toán bán hàng</a> và
      <a href="#kho">dịch vụ kế toán thu mua</a>.
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tìm hiểu chi tiết: </strong></span
      ><a href="#">Dịch vụ kế toán công nợ phải thu phải trả.&nbsp;</a>
    </p>

    <p style="text-align: justify">
      <strong
        >✦ Lưu ý chung cho dịch vụ kế toán nội bộ (kế toán quản trị) tại
        2KT</strong
      >
    </p>

    <p style="text-align: justify">
      Dưới đây là một số lưu ý cho cả 4 dịch vụ kế toán nội bộ của 2KT mà
      doanh nghiệp cần biết:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Kế toán 2KT chỉ cung cấp dịch vụ kế toán nội bộ trọn gói cho doanh
        nghiệp với thời hạn hợp đồng tối thiểu 3 tháng;
      </li>
      <li aria-level="1" style="text-align: justify">
        <a href="#">Giá dịch vụ kế toán</a>
        nội bộ sẽ có sự khác biệt tùy theo từng trường hợp, hồ sơ, yêu cầu cụ
        thể của doanh nghiệp;
      </li>
      <li aria-level="1" style="text-align: justify">
        Tùy vào từng hạng mục dịch vụ kế toán nội bộ doanh nghiệp sử dụng mà
        thông tin, chứng từ cung cấp sẽ khác nhau. Doanh nghiệp vui lòng tham
        khảo chi tiết tại các bài viết đính kèm ở từng nội dung dịch vụ hoặc
        liên hệ hotline Kế toán 2KT để được tư vấn nhanh chóng.
      </li>
    </ul>

    <h3
      class="sub-title"
      id="Khi-nao-can-su-dung-dich-vu-ke-toan-noi-bo-doanh-nghiep?"
    >
      <a id="khi-nao-can" name="khi-nao-can"
        ><strong
          >Khi nào cần sử dụng dịch vụ kế toán nội bộ doanh nghiệp?</strong
        ></a
      >
    </h3>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong
            >1. Khi nào cần sử dụng dịch vụ kế toán nội bộ - kế toán quản trị
            trọn gói?</strong
          ></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Như phần trên 2KT có đề cập, thu nhập trung bình của kế toán nội bộ mới
      ra trường chưa có kinh nghiệm (tùy vị trí) thấp nhất là 5.000.000 đồng. Do
      vậy, nếu doanh nghiệp chưa phát sinh quá nhiều nghiệp vụ kế toán, đồng
      thời cũng chưa tìm được chuyên viên kế toán phù hợp thì nên cân nhắc chọn
      dịch vụ kế toán nội bộ thuê ngoài.&nbsp;
    </p>

    <p style="text-align: justify">
      Ngoài ra, khi doanh nghiệp thuộc một trong những trường hợp sau thì
      <a href="#">dịch vụ kế toán trọn gói</a>
      chịu trách nhiệm 100% các nghiệp vụ kế toán nội bộ cho doanh nghiệp cũng
      nên được đưa vào danh sách ưu tiên.
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp mới thành lập chưa tuyển được kế toán nội bộ;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp mới thành lập cần xây dựng hệ thống sổ sách kế toán, cách
        thức xử lý các nghiệp vụ kế toán phát sinh đúng luật ngay từ ban đầu;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp đang sử dụng các dịch vụ kế toán thuế trọn gói tại 2KT,
        chẳng hạn: dịch vụ báo cáo thuế, dịch vụ làm sổ sách kế toán…;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp chỉ có kế toán trưởng và cần sử dụng thêm dịch vụ kế toán
        thuê ngoài để hỗ trợ xử lý các nghiệp vụ kế toán phát sinh;
      </li>
      <li aria-level="1" style="text-align: justify">
        Doanh nghiệp cần thuê dịch vụ kế toán nội bộ để xử lý một vài hạng mục
        kế toán nhất định, chẳng hạn doanh nghiệp cần thuê kế toán bán hàng do
        kế toán viên phụ trách nghiệp vụ kế toán bán hàng vừa nghỉ việc, nghỉ
        thai sản…&nbsp;
      </li>
    </ul>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>Tìm hiểu thêm:</strong></span>
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a href="#">Dịch vụ báo cáo thuế</a>
      - Từ 500.000 đồng/tháng;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a href="#">Dịch vụ làm sổ sách kế toán</a>
      - Từ 2.500.000 đồng.
    </p>

    <p style="text-align: justify">
      <span style="font-size: 18px"
        ><span style="color: #004ea4"
          ><strong
            >2. Nên thuê kế toán nội bộ hay sử dụng dịch vụ kế toán nội bộ thuê
            ngoài?</strong
          ></span
        ></span
      >
    </p>

    <p style="text-align: justify">
      Vậy thì, sử dụng dịch vụ kế toán nội bộ được lợi gì hơn so với việc tập
      trung thời gian và ngân sách để tuyển dụng kế toán viên?
    </p>

    <p style="text-align: justify">
      <strong>➨ Xét về chi phí: </strong>Khi sử dụng dịch vụ kế toán nội bộ,
      doanh nghiệp chỉ cần thanh toán dựa trên nghiệp vụ kế toán phát sinh, thay
      vì định kỳ mỗi tháng đều phải thanh toán lương, các khoản trích kèm lương
      và phúc lợi cho kế toán viên nội bộ… dù có hay không có chứng từ phát
      sinh.&nbsp;
    </p>

    <p style="text-align: justify">
      Chẳng hạn, đối với
      <a href="#">dịch vụ kế toán công nợ</a>
      của 2KT, chi phí dịch vụ sẽ được tính dựa trên số lượng hóa đơn phát
      sinh và lĩnh vực hoạt động. Với cách tính này thì doanh nghiệp sẽ có thể
      tiết kiệm tối đa chi phí trong những tháng/quý không có nhiều hóa đơn,
      doanh thu.
    </p>

    <p style="text-align: justify">
      <strong>➨ Xét về thời gian và kinh nghiệm trong ngành: </strong>Kế toán
      2KT với kinh nghiệm hỗ trợ hàng ngàn doanh nghiệp trong các vấn đề về
      thuế và kế toán suốt hơn 16 năm qua, chắc chắn đã tích lũy được vô vàn
      kinh nghiệm xử lý hồ sơ cũng như cách thức làm việc với từng cơ quan nhà
      nước. Vậy nên, chuyên viên kế toán của 2KT sẽ có thể giải quyết tất cả
      các nghiệp vụ kế toán nội bộ phát sinh một cách nhanh chóng và hoàn toàn
      đúng luật.&nbsp;
    </p>

    <p style="text-align: justify">
      Chưa kể, doanh nghiệp sẽ không cần dành quá nhiều thời gian để đào tạo ứng
      viên, để kế toán viên quen dần với công việc hoặc để trải nghiệm thực tế
      quy trình, quy định làm việc với cơ quan chức năng. Và với những kế toán
      viên vừa ra trường, chưa vững nghề thì việc xảy ra sai sót khi xử lý
      nghiệp vụ kế toán là điều không thể tránh khỏi. Tuy nhiên, nếu sử dụng
      dịch vụ thuê ngoài, mọi sai sót đều sẽ được hạn chế xuống mức bằng không
      và trong một số trường hợp, Kế toán 2KT sẽ luôn chịu 100% trách nhiệm
      đối với những nghiệp vụ do 2KT xử lý.
    </p>

    <p style="text-align: justify">
      Tuy vậy, thuê kế toán nội bộ hay sử dụng dịch vụ kế toán nội bộ trọn gói
      cũng còn tùy thuộc vào quy mô hoạt động, định hướng đường dài cũng như
      điều kiện tài chính của mỗi doanh nghiệp. Để có thể đưa ra chọn lựa tốt
      nhất, doanh nghiệp có thể tham khảo các dịch vụ kế toán nội bộ của 2KT,
      liên hệ 2KT để được tư vấn và báo giá trọn gói, từ đó doanh nghiệp sẽ có
      thể cân đối chi phí và đưa ra quyết định.&nbsp;
    </p>

    <h3
      class="sub-title"
      id="Cau-hoi-thuong-gap-ve-dich-vu-ke-toan-quan-tri,-ke-toan-noi-bo"
    >
      <strong
        >Câu hỏi thường gặp về dịch vụ kế toán quản trị, kế toán nội bộ</strong
      >
    </h3>

    <p style="text-align: justify">
      <strong
        >1. Dịch vụ kế toán quản trị (kế toán nội bộ) trọn gói cho doanh nghiệp
        giá bao nhiêu?</strong
      >
    </p>

    <p style="text-align: justify">
      Giá dịch vụ kế toán nội bộ hay dịch vụ kế toán quản trị tại 2KT trọn gói
      từ 1.000.000 đồng. Tùy từng dịch vụ xử lý nghiệp vụ kế toán nội bộ mà
      doanh nghiệp sử dụng, chi phí sẽ có sự khác biệt. Cụ thể:
    </p>

    <ul>
      <li aria-level="1" style="text-align: justify">
        Từ 1.000.000 đồng khi chọn dịch vụ kế toán nội bộ chuyên xử lý nghiệp vụ
        bán hàng (hay còn gọi là kế toán bán hàng);
      </li>
      <li aria-level="1" style="text-align: justify">
        Từ 1.500.000 đồng khi sử dụng dịch vụ kế toán tính tiền lương, kế toán
        kho, kế toán công nợ.
      </li>
    </ul>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>Tham khảo chi tiết tại các bài viết sau:</strong></span
      >
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt; </strong></span
      ><a href="#">Dịch vụ kế toán bán hàng</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a href="#">Dịch vụ kế toán tính lương</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt;</strong></span>
      <a href="#">Dịch vụ kế toán thu mua hàng</a>;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"><strong>&gt;&gt; </strong></span
      ><a href="#">Dịch vụ kế toán công nợ.&nbsp;</a>
    </p>

    <p style="text-align: justify">
      <strong
        >2. Công việc của kế toán nội bộ mà 2KT sẽ làm gồm những gì?</strong
      >
    </p>

    <p style="text-align: justify">
      Tùy vào việc doanh nghiệp sử dụng dịch vụ kế toán nội bộ chuyên về nghiệp
      vụ nào (kho, bán hàng, thanh toán…) mà hạng mục công việc 2KT thực hiện
      sẽ khác nhau.&nbsp;
    </p>

    <p style="text-align: justify"><strong>Ví dụ:&nbsp;</strong></p>

    <p style="text-align: justify">
      Nếu doanh nghiệp sử dụng
      <a href="#">dịch vụ kế toán tính tiền lương</a>, 2KT sẽ chịu trách nhiệm
      100% các nghiệp vụ kế toán tiền lương (làm hệ thống thang bảng lương, tính
      lương, xử lý các vấn đề liên quan MST và BHXH của lao động…).
    </p>

    <p style="text-align: justify">
      <strong
        >3. 2KT có làm dịch vụ sổ sách kế toán nội bộ không? Giá dịch
        vụ?&nbsp;</strong
      >
    </p>

    <p style="text-align: justify">
      Có. Kế toán 2KT hiện đang cung cấp dịch vụ làm sổ sách kế toán với chi
      phí chỉ từ 2.500.000 đồng. Tùy số lượng hóa đơn đầu ra - đầu vào và nhóm
      ngành kinh doanh mà chi phí sẽ có sự thay đổi.&nbsp;
    </p>

    <p style="text-align: justify">
      <span style="color: #e5451b"
        ><strong>&gt;&gt; Tìm hiểu chi tiết: </strong></span
      ><a href="#">Dịch vụ làm sổ sách kế toán trọn gói</a>.
    </p>
  </div>
</div>
