<div class="shape-container">
  <div
    class="u-expanded-width u-palette-2-base u-shape u-shape-rectangle u-shape-1"
  ></div>
  <div class="u-image u-image-circle u-image-1 relative"></div>
  <div
    class="u-container-style u-group u-radius-50 u-shape-round u-white u-group-1 relative"
  >
    <div class="p-16">
      <h3 class="u-text-title">Tầm nhìn 2KT</h3>
      <p class="u-text">
        Bằng kinh nghiệm, nỗ lực trau dồi kiến thức, đổi mới công nghệ trong làm
        việc, 2KT mong muốn trở thành công ty có dịch vụ được sử dụng phổ biến
        nhất trong nước để giúp hàng nghìn Doanh nghiệp có giải pháp, am hiểu về
        Luật thuế, Luật Doanh nghiệp để sử dụng, điều hành Doanh nghiệp mình
        ngày một lớn mạnh.
      </p>
    </div>
  </div>
  <div
    class="u-align-left u-container-style u-group u-palette-2-base u-radius-50 u-shape-round u-group-2 relative"
  >
    <div class="p-16">
      <h3 class="u-text-title">Tri thức cho cộng đồng</h3>
      <p class="u-text text-white">
        2KT sẵn sàng chia sẻ với cộng đồng, mang lại kiến thức thiết thực cho
        sinh viên, đào tạo cho đội ngũ kế toán của Doanh nghiệp, cá nhân có nhu
        cầu. Với những doanh nghiệp mới thành lập, các doanh nghiệp vừa và nhỏ,
        chúng tôi sẵn sàng tư vấn miễn phí, hỗ trợ doanh nghiệp khởi nghiệp.
      </p>
    </div>
  </div>
  <div class="u-palette-2-base u-shape u-shape-circle u-shape-2 relative"></div>
</div>
