<div class="shape-container">
  <div
    class="u-expanded-width u-palette-2-base u-shape u-shape-rectangle u-shape-1"
  ></div>
  <div
    class="u-image u-image-circle u-image-1 relative"
    data-image-width="900"
    data-image-height="900"
  ></div>
  <div
    class="u-container-style u-group u-radius-50 u-shape-round u-white u-group-1 relative"
  ></div>
  <div
    class="u-align-left u-container-style u-group u-palette-2-base u-radius-50 u-shape-round u-group-2 relative"
  ></div>
  <div class="u-palette-2-base u-shape u-shape-circle u-shape-2 relative"></div>
</div>
