.shape-container {
  @apply bg-gray-50;
  background-image: none;
  min-height: 1180px;
  position: relative;
  color: #111111;
  display: block;
}

.u-section-1,
.u-image-1 {
  width: 650px;
  height: 650px;
  background-image: url(https://i.imgur.com/x9PX6ew.jpg);
  background-position: 50% 50%;
  margin: -350px auto 0 calc(((100% - 1140px) / 2));
}

.u-image-circle,
.u-image {
  border-radius: 50% !important;
}

.u-image {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-1,
.u-shape-1 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-expanded-width:not(.custom-expanded) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-palette-2-base {
  color: #ffffff;
  background-color: #f95911;
}

.u-shape {
  position: relative;
}

.u-expanded-width {
  width: 100% !important;
}

.u-section-1,
.u-group-1 {
  width: 550px;
  min-height: 430px;
  background-image: none;
  margin: -450px calc(((100% - 1100px) / 2)) 0 auto;
}

.u-white {
  color: #111111;
  background-color: #ffffff;
}

.u-radius-50 {
  border-radius: 50px;
}
.u-group {
  display: flex;
}

.u-section-1,
.u-group-2 {
  min-height: 425px;
  width: 604px;
  margin: 72px auto 0 calc(((100% - 1140px) / 2));
}
.u-palette-2-base {
  color: #ffffff;
  background-color: #f95911;
}

.u-align-left {
  text-align: left;
}

.u-section-1,
.u-shape-2 {
  width: 161px;
  height: 161px;
  margin: -341px calc(((100% - 1140px) / 2) + 188px) 60px auto;
}
.u-shape-circle {
  border-radius: 50%;
}

.u-text {
  line-height: 2;
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  margin: 20px 0 0;
  color: #2c2933;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.u-text-title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.2;
  text-align: left;
  font-size: 34px;
}

@media screen and (max-width: 992px) {
  .u-image-1 {
    @apply flex items-center justify-center;
    width: 350px;
    height: 350px;
    margin: 0 0 0 0;
  }
  .u-group-1 {
    min-height: 30px;
    width: 80%;
    margin: -100px 0 0 0;
  }
  .u-group-2 {
    min-height: 30px;
    width: 80%;
    margin: 30px 0 0 0;
  }
  .u-expanded-width {
    @apply hidden;
  }

  .shape-container {
    @apply grid grid-cols-1;
  }

  .content-center {
    @apply flex justify-center;
  }
  .u-shape-2 {
    width: 130px;
    height: 130px;
    margin: 30px 0 0 100px;
  }

  .shape-main {
    @apply flex justify-center bg-gray-50;
  }

  .u-shape-main {
    @apply py-16;
    background-color: #f95911;
  }

  .u-text {
    line-height: normal;
  }
}
