.shape-container {
  background-image: none;
  min-height: 1462px;
  position: relative;
  color: #111111;
  background-color: rgb(243 244 246);
  display: block;
}

.u-section-1,
.u-image-1 {
  width: 746px;
  height: 746px;
  background-image: url(//images01.nicepage.com/c461c07…/09976c1…/girl-siiting-legs-mountains.jpg);
  background-position: 50% 50%;
  margin: -419px auto 0 calc(((100% - 1140px) / 2));
}

.u-image-circle,
.u-image {
  border-radius: 50% !important;
}

.u-image {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-1,
.u-shape-1 {
  height: 491px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-expanded-width:not(.custom-expanded) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-palette-2-base {
  color: #ffffff;
  background-color: #f95911;
}

.u-shape {
  position: relative;
}

.u-expanded-width {
  width: 100% !important;
}

.u-section-1,
.u-group-1 {
  width: 536px;
  min-height: 501px;
  background-image: none;
  margin: -479px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-white {
  color: #111111;
  background-color: #ffffff;
}

.u-radius-50 {
  border-radius: 50px;
}
.u-group {
  display: flex;
}

.u-section-1,
.u-group-2 {
  min-height: 455px;
  width: 604px;
  margin: 72px auto 0 calc(((100% - 1140px) / 2));
}
.u-palette-2-base {
  color: #ffffff;
  background-color: #f95911;
}

.u-align-left {
  text-align: left;
}

.u-section-1,
.u-shape-2 {
  width: 161px;
  height: 161px;
  margin: -341px calc(((100% - 1140px) / 2) + 188px) 60px auto;
}
.u-shape-circle {
  border-radius: 50%;
}
