.icon-size {
  font-size: 35px;
  color: #ff4700;
}

.ic-title-box {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.ic-content-box {
  font-size: 16px;
  color: #5f5f5f;
}

.icon-container {
  width: 70px;
  height: 70px;
}

.infor-card-container:hover {
  transform: translateY(-10px);
}
