@media (max-width: 992px) {
  .profile-card-container {
    max-width: 80vw;
  }
}

@media (min-width: 1500px) {
  .profile-card-container {
    max-width: 1300px;
  }
}

.common-color {
  color: #f95911;
}
.align-icon-right {
  margin-left: 5px;
  order: 15;
}

.button-text {
  flex-grow: 1;
  order: 10;
  display: inline-block;
}
